Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Update .gitpod.yml due to case-sensitive image file
  .gitpod.yml
Due: none

Switched over to using the stock version
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

Add what we know of Kazuha into unreleased json
  public/unreleasedchar.json
Due: none

Added upcoming and rumored weapons
  public/images/Weapons/Claymore/Song_of_Broken_Pines.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data

Moved weapons to unreleased weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Formatting fixes
  .gitpod.yml
  public/unreleasedweapons.json
Due: none

Forgot to update the job to the new task...
  .gitlab-ci.yml
  public/unreleasedweapons.json
Due: none

Trigger job
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Move Yanfei over to released state (DRAFT) (#136)
  public/data/Characters-Pyro.json
  public/unreleasedchar.json
Due: Update Firestore Public Data

Add Azhada's weekly drops (#136)
  public/data/Materials-Weekly_Boss_Drops.json
Due: Update Firestore Public Data

Add Crystalline Bloom Draft (#136)
  public/data/Materials-Boss_Drops.json
Due: Update Firestore Public Data

Renamed the NJS helper utility for dependabot
  .github/dependabot.yml
Due: none

Renamed GH Action file
  .github/workflows/njsutil.yml
Due: none

Add images for various new talents, constellations and drops for ascensions (#136)
  public/images/Constellation/Abiding_Affidavit.png
  public/images/Constellation/Extra_Clause.png
  public/images/Constellation/Right_of_Final_Interpretation.png
  public/images/Constellation/Samadhi_Fire-Forged.png
  public/images/Constellation/Supreme_Amnesty.png
  public/images/Constellation/The_Law_Knows_No_Kindness.png
  public/images/Materials/Boss_Drops/Item_Bloodjade_Branch.png
  public/images/Materials/Boss_Drops/Item_Crystalline_Bloom.png
  public/images/Materials/Boss_Drops/Item_Dragon_Lords_Crown.png
  public/images/Materials/Boss_Drops/Item_Gilded_Scale.png
  public/images/Talents/Burst/Talent_Done_Deal.png
  public/images/Talents/Normal/Talent_Seal_of_Approval.png
  public/images/Talents/Passive/Talent_Blazing_Eye.png
  public/images/Talents/Passive/Talent_Encyclopedic_Expertise.png
  public/images/Talents/Passive/Talent_Proviso.png
  public/images/Talents/Skill/Talent_Signed_Edict.png
Due: Update Google Cloud Storage Data

Update to use new dataset (#136)
  public/data/Characters-Cryo.json
  public/data/Characters-Geo.json
  public/data/Characters-Pyro.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Weekly_Boss_Drops.json
Due: Update Firestore Public Data

Add coming soon to yanfei else it is crashing
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Updated Yanfei's Introduction
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Update Characters-Pyro.json
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Updated build guide for Yanfei
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Rewrote code for notification scheduling regarding the parametric transformer (#142)
  lib/helpers/notifications.dart
Due: Deploy Dogfood to Firebase

Various dependencies updates
  pubspec.lock
Due: Deploy Dogfood to Firebase

1.5.7 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Added new app icon for android and iOS (#48)
  Reference/Icon_Designer.xcf
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/drawable-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_custom.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_custom.png
  android/app/src/main/res/values/colors.xml
  assets/android_foreground.png
  assets/launcher_icon.png
  assets/launcher_ios.png
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  ios/Runner/Info.plist
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Forgot to add the remaining assets (#48)
  android/app/src/main/res/drawable-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/drawable-night-v21/background.png
  android/app/src/main/res/drawable-night/background.png
  android/app/src/main/res/drawable-v21/background.png
  android/app/src/main/res/drawable/background.png
  assets/splash.png
  assets/splash_dark.png
  web/splash/img/dark-1x.png
  web/splash/img/dark-2x.png
  web/splash/img/dark-3x.png
  web/splash/img/light-1x.png
  web/splash/img/light-2x.png
  web/splash/img/light-3x.png
  web/splash/style.css
Due: Deploy Dogfood to Firebase

Added web favicon and icons as well (#48)
  web/favicon.png
  web/favicon_old.png
  web/icons/Icon-192.png
  web/icons/Icon-512.png
  web/icons/Icon_old-192.png
  web/icons/Icon_old-512.png
Due: Deploy Dogfood to Firebase

Updated splash images (#49)
  android/app/src/main/res/drawable-hdpi/splash.png
  android/app/src/main/res/drawable-mdpi/splash.png
  android/app/src/main/res/drawable-night-hdpi/splash.png
  android/app/src/main/res/drawable-night-mdpi/splash.png
  android/app/src/main/res/drawable-night-v21/launch_background.xml
  android/app/src/main/res/drawable-night-xhdpi/splash.png
  android/app/src/main/res/drawable-night-xxhdpi/splash.png
  android/app/src/main/res/drawable-night-xxxhdpi/splash.png
  android/app/src/main/res/drawable-night/launch_background.xml
  android/app/src/main/res/drawable-v21/launch_background.xml
  android/app/src/main/res/drawable-xhdpi/splash.png
  android/app/src/main/res/drawable-xxhdpi/splash.png
  android/app/src/main/res/drawable-xxxhdpi/splash.png
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/values-night/styles.xml
  android/app/src/main/res/values/styles.xml
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImageDark.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImageDark@2x.png
  ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImageDark@3x.png
  ios/Runner/Base.lproj/LaunchScreen.storyboard
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
  pubspec.yaml
  web/index.html
Due: Deploy Dogfood to Firebase

Moved some of the assets around (#49)
  assets/icons/appicon/android_foreground.png
  assets/icons/appicon/launcher_icon.png
  assets/icons/appicon/launcher_ios.png
  assets/icons/logo.png
  assets/icons/logo.svg
  assets/icons/splash/splash.png
  assets/icons/splash/splash_dark.png
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Added new gitlab task to generate a release app bundle (#144)
  .gitlab-ci.yml
  VERSION
Due: Deploy Dogfood to Firebase

Attempt to add NDK support (#144)
  android/app/build.gradle
  android/build.gradle
Due: Deploy Dogfood to Firebase

Revert it back to tagged release only (#144)
  .gitlab-ci.yml
  Reference/playstore-icon.png
  Reference/random-feature-graphic.png
Due: none

Added some data for Eula from the most recent trailer and blog post (#136)
  public/unreleasedchar.json
Due: none

Initialize fastlane support (#144)
  .gitignore
  android/Gemfile
  android/Gemfile.lock
  android/fastlane/Appfile
  android/fastlane/Fastfile
  ios/Gemfile
  ios/Gemfile.lock
  ios/fastlane/Appfile
  ios/fastlane/Fastfile
Due: Deploy Dogfood to Firebase

Create test job that will deploy an update to Google Play (#144)
  .gitlab-ci.yml
Due: none

Update dependencies (#144)
  LATEST
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Update artifact expiry to 30 days instead (#144)
  .gitlab-ci.yml
Due: none

Skipping image and screenshot uploads (#144)
  .gitlab-ci.yml
Due: none

Test complete, relegate to tag only push again (#144)
  .gitlab-ci.yml
Due: none

Updated deployed version name to match Google Play's
  .gitlab-ci.yml
Due: none

Moved Eula and Songs of Broken Pines to released state (#136)
  public/data/Characters-Cryo.json
  public/data/Weapons-Claymore.json
  public/unreleasedchar.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Updated some data regarding Eula (#136)
  public/data/Characters-Cryo.json
  public/images/Characters/Cryo/Ayaka.png
  public/images/Characters/Cryo/Eula.png
  public/images/Talents/Burst/Talent_Glacial_Illumination.png
  public/images/Talents/Normal/Talent_Favonius_Bladework_-_Edel.png
  public/images/Talents/Skill/Talent_Icetide_Vortex.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
