Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Updated character images
  public/images/Characters/Anemo/Aether.png
  public/images/Characters/Anemo/Jean.png
  public/images/Characters/Anemo/Lumine.png
  public/images/Characters/Anemo/Sucrose.png
  public/images/Characters/Anemo/Venti.png
  public/images/Characters/Anemo/Xiao.png
  public/images/Characters/Cryo/Chongyun.png
  public/images/Characters/Cryo/Diona.png
  public/images/Characters/Cryo/Ganyu.png
  public/images/Characters/Cryo/Kaeya.png
  public/images/Characters/Cryo/Qiqi.png
  public/images/Characters/Electro/Beidou.png
  public/images/Characters/Electro/Fischl.png
  public/images/Characters/Electro/Keqing.png
  public/images/Characters/Electro/Lisa.png
  public/images/Characters/Electro/Razor.png
  public/images/Characters/Geo/Albedo.png
  public/images/Characters/Geo/Ningguang.png
  public/images/Characters/Geo/Noelle.png
  public/images/Characters/Geo/Zhongli.png
  public/images/Characters/Hydro/Barbara.png
  public/images/Characters/Hydro/Mona.png
  public/images/Characters/Hydro/Tartaglia.png
  public/images/Characters/Hydro/Xingqiu.png
  public/images/Characters/Pyro/Amber.png
  public/images/Characters/Pyro/Bennett.png
  public/images/Characters/Pyro/Diluc.png
  public/images/Characters/Pyro/Hu_Tao.png
  public/images/Characters/Pyro/Klee.png
  public/images/Characters/Pyro/Xiangling.png
  public/images/Characters/Pyro/Xinyan.png
Due: Update Google Cloud Storage Data

Updated data for Eula (#136)
  public/data/Characters-Cryo.json
  public/images/Constellation/Chivalric_Quality.png
  public/images/Constellation/Lady_of_Seafoam.png
  public/images/Constellation/Lawrence_Pedigree.png
  public/images/Constellation/Noble_Obligation.png
  public/images/Constellation/The_Obstinacy_of_Ones_Inferiors.png
  public/images/Constellation/Tidal_Illusion.png
  public/images/Talents/Burst/Talent_Glacial_Illumination.png
  public/images/Talents/Passive/Talent_Aristocratic_Introspection.png
  public/images/Talents/Passive/Talent_Roiling_Rime.png
  public/images/Talents/Passive/Talent_Wellspring_of_War-Lust.png
  public/images/Talents/Skill/Talent_Icetide_Vortex.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Song of Broken Pines (#136)
  public/data/Weapons-Claymore.json
Due: Update Firestore Public Data

Fixed songs of broken pines data
  public/data/Weapons-Claymore.json
Due: Update Firestore Public Data

Added Eula build guide
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

Updated to Firestore 2.0.0 with the migration step applied (#145)
  lib/widgets/tracking.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated most of the dependencies to the latest automatic resolvable version (#145)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Update Android build files and dependencies (#145)
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Due: Deploy Dogfood to Firebase

Updated Firebase Database to 7.0.0 (#145)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated notification plugin to 6.0.0 (#145)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Okay this is the final upgrade lol (#145)
  pubspec.lock
Due: Deploy Dogfood to Firebase

Added some issue templates
  .gitlab/issue_templates/Bug Report.md
  .gitlab/issue_templates/Feature Request.md
  .gitlab/issue_templates/Triage.md
Due: none

Update layout
  .gitlab/issue_templates/Bug Report.md
  .gitlab/issue_templates/Feature Request.md
Due: none

Update bug report
  .gitlab/issue_templates/Bug Report.md
Due: none

Added option to manually create new codes (#135)
  util/addcode.js
  util/package-lock.json
  util/package.json
  util/promocrawler.js
Due: Update Firestore Public Data

Added data regarding Kazuha
  public/images/Talents/Burst/Talent_Kazuha_Slash.png
  public/images/Talents/Skill/Talent_Chihayaburu.png
  public/unreleasedchar.json
Due: Update Google Cloud Storage Data

Added the 3 weapons coming in 1.6 to unreleased state
  public/images/Weapons/Bow/Mitternachts_Waltz.png
  public/images/Weapons/Catalyst/Dodoco_Tales.png
  public/images/Weapons/Sword/Freedom-Sworn.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data

Fixed empty weekly planner page if not tracking any domain materials (#149)
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Dependency updates
  analysis_options.yaml
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Added a bug report and feature suggestion link to about page (#154)
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Add colors into the talents and constellation pages of characters (#143)
  lib/helpers/grid.dart
  lib/widgets/characters.dart
  public/data/Characters-Geo.json
Due: Update Firestore Public Data, Deploy Dogfood to Firebase

1.6.0 update
  .gitlab-ci.yml
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Update Mitternachts Waltz to release (#152)
  public/data/Weapons-Bow.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Update gitpod
  .gitpod.yml
Due: none

Add Sea Ganoderma (#152)
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Local_Specialities/Item_Sea_Ganoderma.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add various full names for characters that have them (#147)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/unreleasedchar.json
Due: Update Firestore Public Data

Update gitpod flutter version
  .gitpod.Dockerfile
Due: none

Add weapon families to the dataset (#155)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Remove empty series data tag from released weapons (#155)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Fixed tabbing
  public/unreleasedweapons.json
Due: none

Add boss drops from Maguu Kenki and updated the other materials (#152)
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/images/Materials/Boss_Drops/Item_Marionette_Core.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Dodoco Tales to released state (#152)
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Dodoco_Tales.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Yoimiya and Sayu to unreleased characters
  public/unreleasedchar.json
Due: none

Resolvable dependency updates for flutter
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated dart_code_metrics and resolved all issues with all dart files
  analysis_options.yaml
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/listeners/sorter.dart
  lib/main.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/materials.dart
  lib/widgets/splash.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Ran through flutter formatter
  lib/helpers/notifications.dart
  lib/models/promocodedata.dart
  lib/widgets/appsettings.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Added full name of characters that has a full name into the info page (#158)
  lib/models/characterdata.dart
  lib/widgets/characters.dart
  public/data/Characters-Cryo.json
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data, Deploy Dogfood to Firebase

Added weapon family data into the weapon info page if exists (#157)
  lib/models/weapondata.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

1.6.1 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Update Freedom Sworn to release (#152)
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Freedom-Sworn.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
