Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Added a tracking page implementation (#128)
  lib/main.dart
  lib/util.dart
  lib/widgets/bottomnav.dart
  lib/widgets/drawer.dart
Due: Deploy Dogfood to Firebase

Added dictionary page and cleaned up code (#128)
  lib/listeners/sorter.dart
  lib/main.dart
  lib/widgets/bottomnav.dart
  lib/widgets/drawer.dart
  lib/widgets/mainnavs.dart
Due: Deploy Dogfood to Firebase

Added a refresh button for web users (#128)
  lib/helpers/notifications.dart
  lib/main.dart
  lib/widgets/drawer.dart
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

Dependency updates
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Fixed web notification showing unknown icon box in settings (#161)
  lib/widgets/appsettings.dart
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

Fixed Traveler showing up as Female only (#164)
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

2.0.0 app update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

First attempt at exposing Firebase Hosting (#168)
  .gitlab-ci.yml
  util/hosting-branch.js
  util/package.json
Due: Update Firestore Public Data

Set to never run on MR events (#168)
  .gitlab-ci.yml
Due: none

Set command to execute on Firebase directory (#168)
  util/hosting-branch.js
Due: Update Firestore Public Data

Forgot that rules follow top down order whoops (#168)
  .gitlab-ci.yml
Due: none

Fixed artifact path (#168)
  .gitlab-ci.yml
Due: none

Disable stopping as it is not very useful when used together with branch deletion
  .gitlab-ci.yml
Due: none

Fixed whitespaces for promo code crawler
  util/promocrawler.js
Due: Update Firestore Public Data

Replace with trim function instead
  util/promocrawler.js
Due: Update Firestore Public Data

Trim the rest as well
  util/promocrawler.js
Due: Update Firestore Public Data

Various dependecy updates and login auth instance tweaks to web
  lib/widgets/login.dart
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated all firebase dependencies on web
  lib/widgets/login.dart
  pubspec.lock
  web/index.html
Due: Deploy Dogfood to Firebase

Set branches to last 1 day only as environments
  .gitlab-ci.yml
Due: none

Update firebase_auth to 3.0.2
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Revert back to redirect method
  lib/widgets/login.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Upgrade firebase_storage by temporary using our own firebase_image package
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Final upgrade to dependencies
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Set dynamic grid count for weekly planner
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Improved dynamic grid count generator
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Fixed unable to get to drawer on web promo code page (#166)
  lib/widgets/promocode.dart
Due: Deploy Dogfood to Firebase

Set promo codes to type code (#162)
  util/promocrawler.js
Due: Update Firestore Public Data

Added ability to manually add URL codes (#162)
  util/addcode.js
  util/package-lock.json
Due: Update Firestore Public Data

Added some quick links into the Navbar (#134)
  android/app/src/main/AndroidManifest.xml
  lib/widgets/drawer.dart
  lib/widgets/mainnavs.dart
Due: Deploy Dogfood to Firebase

Added ability to launch Teyvat Map from app
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/util.dart
  lib/widgets/drawer.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Cleaned up functions used
  lib/helpers/grid.dart
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase

Move some characters and weapons to released dataset (#171) - Moved Raiden Shogun - Moved Kujou Sara - Moved Aloy - Added Engulfing Lightning - Moved Predator
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Polearm.json
  public/unreleasedchar.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Added a brand new released tag to the dataset (#171)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Mastery_Domain.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/unreleasedchar.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Updated information on upcoming characters to be released next week (#171)
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/images/Talents/Burst/Talent_Prophecies_of_Dawn.png
  public/images/Talents/Burst/Talent_Secret_Art_Musou_Shinsetsu.png
  public/images/Talents/Burst/Talent_Subjugation_Koukou_Sendou.png
  public/images/Talents/Skill/Talent_Frozen_Wilds.png
  public/images/Talents/Skill/Talent_Tengu_Stormcall.png
  public/images/Talents/Skill/Talent_Transcendence_Baleful_Omen.png
  public/unreleasedchar.json
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated some of the weapons information that will be released in the first half of 2.1 (#171)
  public/data/Weapons-Bow.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Bow/Predator.png
  public/images/Weapons/Polearm/Engulfing_Lightning.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added all materials that will be added to 2.1 (#171)
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/upcomingitemnames.txt
Due: Update Firestore Public Data

Updated the rest of the weapons releasing in 2.1 (#171)
  public/images/Weapons/Catalyst/Everlasting_Moonglow.png
  public/images/Weapons/Claymore/Luxurious_Sea-Lord.png
  public/images/Weapons/Polearm/The_Catch.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data

Added ability to handle url promo codes (#162)
  lib/models/promocodedata.dart
  lib/widgets/promocode.dart
Due: Deploy Dogfood to Firebase

2.0.1 App Update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Updated Aloy data (#171)
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Characters/Cryo/Aloy.png
  public/images/Constellation/Star_of_Another_World.png
  public/images/Talents/Burst/Talent_Prophecies_of_Dawn.png
  public/images/Talents/Normal/Talent_Rapid_Fire.png
  public/images/Talents/Passive/Talent_Combat_Override.png
  public/images/Talents/Passive/Talent_Easy_Does_It.png
  public/images/Talents/Passive/Talent_Strong_Strike.png
  public/images/Talents/Skill/Talent_Frozen_Wilds.png
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data
