Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

chore(data): Fixed escaping
  public/data/Materials-Boss_Drops.json
Due: Update Firestore Public Data

chore(data): Added Columbina
  public/data/Characters-Hydro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Geo/Illuga.png
  public/images/Characters/Geo/Zibai.png
  public/images/Characters/Hydro/Columbina.png
  public/images/Constellation/Cloudveiled_Ridges_in_Floral_Mists.png
  public/images/Constellation/Dreamlike_Glow_Across_Tranquil_Waters.png
  public/images/Constellation/Not_in_Lone_Splendor.png
  public/images/Constellation/Radiance_Over_Blossoms_and_Peaks.png
  public/images/Constellation/Silence_Tending_One_Lone_Song.png
  public/images/Constellation/Through_Darkness_Led_by_Moonlight.png
  public/images/Outfits/Full/Standard/Character_Columbina_Game.png
  public/images/Outfits/Wish/Standard/Character_Columbina_Full_Wish.png
  public/images/Talents/Burst/Talent_Moonlit_Melancholy.png
  public/images/Talents/Normal/Catalyst_Hydro.png
  public/images/Talents/Passive/Talent_Law_of_the_New_Moon.png
  public/images/Talents/Passive/Talent_Lunacys_Lure.png
  public/images/Talents/Passive/Talent_Lunar_Vigil.png
  public/images/Talents/Passive/Talent_Moonlight_Lent_Unto_You.png
  public/images/Talents/Skill/Talent_Eternal_Tides.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Columbina Weapon
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Weapon_Nocturnes_Curtain_Call.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added themed outfits and Traveler new outfits
  public/data/Characters-Dendro.json
  public/data/Characters-Hydro.json
  public/data/Characters-Traveler.json
  public/data/Outfits-Alternate.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Alternate/As_Heaven_and_Earth_Are_Made_Anew_Aether_Preview.png
  public/images/Outfits/Full/Alternate/As_Heaven_and_Earth_Are_Made_Anew_Lumine_Preview.png
  public/images/Outfits/Thumbnail/Alternate/Item_As_Heaven_and_Earth_Are_Made_Anew_Aether.png
  public/images/Outfits/Thumbnail/Alternate/Item_As_Heaven_and_Earth_Are_Made_Anew_Lumine.png
  public/images/Outfits/Thumbnail/Themed/Item_Melusent_Gift.png
  public/images/Outfits/Wish/Alternate/As_Heaven_and_Earth_Are_Made_Anew_Preview.png
  public/images/Outfits/Wish/Themed/Melusent_Gift_Preview.png
  public/images/Talents/Passive/Talent_Foreign_Adamantine.png
  public/images/Talents/Passive/Talent_Foreign_Aqualis.png
  public/images/Talents/Passive/Talent_Foreign_Starfire.png
  public/images/Talents/Passive/Talent_Foreign_Thundertrail.png
  public/images/Talents/Passive/Talent_Foreign_Verdalume.png
  public/images/Talents/Passive/Talent_Foreign_Windwrath.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added next phase items
  public/data/Characters-Geo.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

chore(data): Fixed missing image
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

feat: Start work on a data tool
  data-tool/.gitignore
  data-tool/README.md
  data-tool/eslint.config.mjs
  data-tool/next.config.ts
  data-tool/package-lock.json
  data-tool/package.json
  data-tool/postcss.config.mjs
  data-tool/public/file.svg
  data-tool/public/globe.svg
  data-tool/public/next.svg
  data-tool/public/vercel.svg
  data-tool/public/window.svg
  data-tool/src/app/favicon.ico
  data-tool/src/app/globals.css
  data-tool/src/app/layout.tsx
  data-tool/src/app/page.tsx
  data-tool/src/components/Navbar.tsx
  data-tool/src/proxy.ts
  data-tool/tsconfig.json
Due: none

fix: Update Cloudflare JWT audience environment variable to `CLOUDFLARE_AUDIENCE_TAG`
  data-tool/src/proxy.ts
Due: none

fix: Ensure Cloudflare Team Domain includes HTTPS protocol for JWKS and JWT issuer verification
  data-tool/src/proxy.ts
Due: none

feat: Implemented rudimentary data list viewing
  data-tool/.gitignore
  data-tool/src/actions/firestore.ts
  data-tool/src/actions/templates.ts
  data-tool/src/app/add/page.tsx
  data-tool/src/app/manage/[collection]/page.tsx
  data-tool/src/app/page.tsx
  data-tool/src/app/test-templates/page.tsx
  data-tool/src/components/AddEntryForm.tsx
  data-tool/src/components/Navbar.tsx
  data-tool/src/data/templates/characters.json
  data-tool/src/data/templates/materials.json
  data-tool/src/data/templates/outfits.json
  data-tool/src/data/templates/weapons.json
  data-tool/src/lib/firebase-admin.ts
  data-tool/src/lib/storage.ts
  data-tool/src/lib/templates.ts
  data-tool/src/types/schema.ts
Due: none

chore: Added ability to dynamically generate the form adding
  data-tool/src/components/AddEntryForm.tsx
  data-tool/src/components/form/DynamicForm.tsx
  data-tool/src/components/form/FieldRenderer.tsx
Due: none

fix: Build errors
  data-tool/src/actions/firestore.ts
Due: none

chore(data): Updated Luna IV Phase 2 characters data
  public/data/Characters-Geo.json
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Constellation/At_Birth_Are_Souls_Born_and_in_Death_Leave_But_Husks.png
  public/images/Constellation/Burst_Forth_With_Vigor_But_Enter_in_Silence.png
  public/images/Constellation/Earthshaking_Maw.png
  public/images/Constellation/Elk_With_Fanged_Antlers.png
  public/images/Constellation/Free_From_Constraints_and_Worldly_Ties.png
  public/images/Constellation/Hurricane_Steed.png
  public/images/Constellation/Nightmare_Orioles.png
  public/images/Constellation/Perceive_the_Worthless_and_Debate_It_Not.png
  public/images/Constellation/Solarhunting_Wolf.png
  public/images/Constellation/The_Spirit_Passes_Then_Form_Follows.png
  public/images/Constellation/The_World_A_Journey_in_Passing.png
  public/images/Constellation/Vigilant_Sentinel.png
  public/images/Outfits/Full/Standard/Character_Illuga_Game.png
  public/images/Outfits/Thumbnail/Themed/Item_Rainlit_Bamboo_Reverie.png
  public/images/Outfits/Wish/Standard/Character_Illuga_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Zibai_Full_Wish.png
  public/images/Outfits/Wish/Themed/Rainlit_Bamboo_Reverie_Preview.png
  public/images/Talents/Burst/Talent_Shadowless_Reflection.png
  public/images/Talents/Burst/Talent_Tri-Sphere_Eminence.png
  public/images/Talents/Normal/Polearm_Geo.png
  public/images/Talents/Normal/Sword_Geo.png
  public/images/Talents/Passive/Talent_Demonhunters_Dusk.png
  public/images/Talents/Passive/Talent_Layered_Peaks_Pierce_the_Clouds.png
  public/images/Talents/Passive/Talent_Moonlit_Flower_Forest.png
  public/images/Talents/Passive/Talent_Night_Wardens_Stride.png
  public/images/Talents/Passive/Talent_The_Coursing_Sun_and_Moon.png
  public/images/Talents/Passive/Talent_The_Selenic_Adeptus_Descends.png
  public/images/Talents/Passive/Talent_Torchforgers_Covenant.png
  public/images/Talents/Passive/Talent_Unwithering_in_Winter.png
  public/images/Talents/Skill/Talent_Dawnbearing_Songbird.png
  public/images/Talents/Skill/Talent_Heaven_and_Earth_Made_Manifest.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Luna IV weapon
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Weapon_Lightbearing_Moonshard.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update LN V phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/The_Lone_Light_Knocks_at_Night_2026-02-25.png
  public/images/Banners/Character/The_Northerly_Winds_Song_of_Triumph_2026-02-25.png
  public/images/Banners/Chronicled/Ode_to_the_Dawn_Breeze_2026-02-25.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-02-25.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added data for Varka and his weapon
  public/data/Characters-Anemo.json
  public/data/Materials-Boss_Drops.json
  public/data/Outfits-Standard.json
  public/data/Weapons-Claymore.json
  public/images/Characters/Anemo/Varka.png
  public/images/Constellation/Beloved_Mondstadt_Steadfast_You_Shall_Shine.png
  public/images/Constellation/Come_Friend_Let_Us_Dance_Beneath_the_Moons_Soft_Glow.png
  public/images/Constellation/Fill_High_the_Cup_With_Fine_Wine_for_Tyrants_Come_and_Go.png
  public/images/Constellation/For_None_May_Take_From_Us_Our_Freedom_of_Song.png
  public/images/Constellation/O_Friend_Quaff_Not_the_Bitter_Wine_That_Brings_Tears_of_Woe.png
  public/images/Constellation/When_Dawn_Breaks_Our_Journey_Shall_Take_Flight.png
  public/images/Materials/Boss_Drops/Item_Prismatic_Severed_Tail.png
  public/images/Outfits/Full/Standard/NPC_Varka.png
  public/images/Outfits/Wish/Standard/Varka_Wish.png
  public/images/Talents/Burst/Talent_Northwind_Avatar.png
  public/images/Talents/Normal/Claymore_Anemo.png
  public/images/Talents/Passive/Talent_Dawn_Winds_March.png
  public/images/Talents/Passive/Talent_Dawns_Return.png
  public/images/Talents/Passive/Talent_Homebound_Winds_Paean.png
  public/images/Talents/Passive/Talent_Winds_Vanguard.png
  public/images/Talents/Skill/Talent_Windbound_Execution.png
  public/images/Weapons/Claymore/Weapon_Gest_of_the_Mighty_Wolf.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added P2 banners for LN V
  public/data/EventBanners.json
  public/images/Banners/Character/La_Chanson_Cerise_2026-03-17.png
  public/images/Banners/Character/Void_Stars_Advent_2026-03-17.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-03-17.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Piercing_Shots_Crimson_Wake_2026-04-08.png
  public/images/Banners/Character/Ya-hoho_Compendium_2026-04-08.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-04-08.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

build: Add cooldown to dependency checks
  .github/dependabot.yml
Due: none

ci: Switch to use commit SHAs for Actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/cron.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/firebase-update.yml
  .github/workflows/flutter.yml
  .github/workflows/njsutil.yml
  .github/workflows/projectissues.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Due: none

build: Fixed Github Actions getting semver
  .github/dependabot.yml
Due: none

chore(data): Add Linnea Data
  public/data/Characters-Geo.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Local_Specialities.json
  public/data/Outfits-Standard.json
  public/images/Constellation/Eventful_Log_Page.png
  public/images/Constellation/Expert_Instinct.png
  public/images/Constellation/Fairylands_Farewell_Gift.png
  public/images/Constellation/Golden_Beagles_Dream.png
  public/images/Constellation/Provisional_Classification.png
  public/images/Constellation/Tidings_of_Joy_and_Sorrow.png
  public/images/Materials/Boss_Drops/Item_Plume_of_the_Fallen_Watcher.png
  public/images/Materials/Local_Specialities/Item_Etherwing_Moth.png
  public/images/Outfits/Full/Standard/Character_Linnea_Game.png
  public/images/Outfits/Wish/Standard/Character_Linnea_Full_Wish.png
  public/images/Talents/Burst/Talent_Memo-_Survival_Guide_in_Extreme_Conditions.png
  public/images/Talents/Normal/Bow_Geo.png
  public/images/Talents/Passive/Talent_Field_Observation_Notes.png
  public/images/Talents/Passive/Talent_Habitat_Survey.png
  public/images/Talents/Passive/Talent_Master_Adventurer.png
  public/images/Talents/Passive/Talent_Universal_Naturalist_Archive.png
  public/images/Talents/Skill/Talent_Countermeasure-_Lumis_Battle_Cry.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add LNVI weapon
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Bow.json
  public/images/Characters/Geo/Linnea.png
  public/images/Materials/Elite_Mob/Item_Faded_Flaming_Hilt.png
  public/images/Materials/Elite_Mob/Item_Fractured_Flaming_Hilt.png
  public/images/Materials/Elite_Mob/Item_Jeweled_Flaming_Hilt.png
  public/images/Weapons/Bow/Weapon_Golden_Frostbound_Oath.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed data error
  public/data/Characters-Geo.json
Due: Update Firestore Public Data

chore: Add the remaining banners for LN VI
  public/data/EventBanners.json
  public/images/Banners/Character/Moonsong_of_the_Groves_2026-04-28.png
  public/images/Banners/Character/Temptation_of_the_Crimson_Sands_2026-04-28.png
  public/images/Banners/Chronicled/Dewlit_Tranquility_2026-04-28.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-04-28.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added LN VII P1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Angels_Reverie_2026-05-20.png
  public/images/Banners/Character/Rubedo_of_White_Stone_Born_2026-05-20.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-05-20.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

feat: Create initial shell for Electron data management app
  data-tool/.gitignore
  data-tool/README.md
  data-tool/electron-builder.yml
  data-tool/electron.vite.config.ts
  data-tool/package-lock.json
  data-tool/package.json
  data-tool/src/main/index.ts
  data-tool/src/main/ipc/commit.ts
  data-tool/src/main/ipc/dataset.ts
  data-tool/src/main/ipc/dialog.ts
  data-tool/src/main/settings.ts
  data-tool/src/preload/index.d.ts
  data-tool/src/preload/index.ts
  data-tool/src/renderer/index.html
  data-tool/src/renderer/src/App.tsx
  data-tool/src/renderer/src/components/DatasetSummary.tsx
  data-tool/src/renderer/src/components/FolderPicker.tsx
  data-tool/src/renderer/src/components/Sidebar.tsx
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/main.tsx
  data-tool/src/renderer/src/state/datasetStore.ts
  data-tool/src/shared/entities.ts
  data-tool/src/shared/ordering.ts
  data-tool/src/shared/types.ts
  data-tool/tsconfig.json
  data-tool/tsconfig.node.json
  data-tool/tsconfig.web.json
Due: none

chore(deps): Bump all dependencies
  data-tool/package-lock.json
  data-tool/package.json
  data-tool/src/renderer/src/vite-env.d.ts
  data-tool/tsconfig.node.json
  data-tool/tsconfig.web.json
Due: none

feat: Implement Local Specialities Material draft
  data-tool/package-lock.json
  data-tool/package.json
  data-tool/scripts/materials-commit-test.ts
  data-tool/scripts/roundtrip-test.ts
  data-tool/src/main/index.ts
  data-tool/src/main/ipc/dialog.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/preload/index.ts
  data-tool/src/renderer/src/App.tsx
  data-tool/src/renderer/src/components/Sidebar.tsx
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/CommitPreview.tsx
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/MaterialsList.tsx
  data-tool/src/renderer/src/views/materials/MaterialsView.tsx
  data-tool/src/renderer/src/views/materials/useMaterials.ts
  data-tool/src/renderer/src/views/materials/util.ts
  data-tool/src/shared/entities.ts
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/ordering.ts
  data-tool/src/shared/serialize.ts
  data-tool/src/shared/types.ts
Due: none

chore: Tweak image handling and file name derivation
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/MaterialsList.tsx
  data-tool/src/renderer/src/views/materials/MaterialsView.tsx
  data-tool/src/renderer/src/views/materials/util.ts
Due: none

feat: Start work on adding the other material types
  data-tool/scripts/roundtrip-test.ts
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/MaterialsView.tsx
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/serialize.ts
Due: none

feat: Added some tiering to grouped materials
  data-tool/src/main/index.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/preload/index.ts
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/CommitPreview.tsx
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/MaterialsView.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/shared/materialsSchema.ts
Due: none

chore: State management and responsivness
  data-tool/src/main/index.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/preload/index.ts
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/MaterialsList.tsx
  data-tool/src/renderer/src/views/materials/MaterialsView.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/shared/materialsSchema.ts
Due: none

fix: Responsive for tier edit + delete tier set feature
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/MaterialsView.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
Due: none

feat: Implemented outfits
  data-tool/scripts/roundtrip-test.ts
  data-tool/src/main/index.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/main/ipc/outfits.ts
  data-tool/src/preload/index.ts
  data-tool/src/renderer/src/App.tsx
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/outfits/OutfitForm.tsx
  data-tool/src/renderer/src/views/outfits/OutfitsList.tsx
  data-tool/src/renderer/src/views/outfits/OutfitsView.tsx
  data-tool/src/shared/entities.ts
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/serialize.ts
  data-tool/src/shared/types.ts
Due: none

feat: Start work on implementing weapons to the app
  data-tool/scripts/roundtrip-test.ts
  data-tool/src/main/index.ts
  data-tool/src/main/ipc/weapons.ts
  data-tool/src/preload/index.ts
  data-tool/src/renderer/src/App.tsx
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/weapons/WeaponForm.tsx
  data-tool/src/renderer/src/views/weapons/WeaponsList.tsx
  data-tool/src/renderer/src/views/weapons/WeaponsView.tsx
  data-tool/src/shared/entities.ts
  data-tool/src/shared/types.ts
Due: none

chore: Finish up weapon management page
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/weapons/WeaponForm.tsx
Due: none

chore: Rough implementation of character editing
  data-tool/package.json
  data-tool/scripts/normalize-format.ts
  data-tool/scripts/roundtrip-test.ts
  data-tool/src/main/index.ts
  data-tool/src/main/ipc/characters.ts
  data-tool/src/preload/index.ts
  data-tool/src/renderer/src/App.tsx
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/characters/CharactersList.tsx
  data-tool/src/renderer/src/views/characters/CharactersView.tsx
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/shared/materialPicker.tsx
  data-tool/src/renderer/src/views/weapons/WeaponForm.tsx
  data-tool/src/shared/entities.ts
  data-tool/src/shared/serialize.ts
  data-tool/src/shared/types.ts
Due: none

chore: Some cleanup - Allow selecting custom outfits/characters - Fixed rarity being inconsistent - Compact outfit edit view
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/outfits/OutfitForm.tsx
  data-tool/src/renderer/src/views/shared/entityLink.tsx
  data-tool/src/renderer/src/views/shared/rarity.tsx
  data-tool/src/renderer/src/views/weapons/WeaponForm.tsx
  data-tool/src/shared/materialsSchema.ts
Due: none

chore: Update how the character and outfit selectors works
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/outfits/OutfitForm.tsx
  data-tool/src/renderer/src/views/shared/entityLink.tsx
Due: none

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
