Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

feat: Implemented account deletion capability
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

release: 2.2.4 release
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

ci: Update firebase CLI action to use a service account instead
  .github/workflows/firebase-update.yml
  .github/workflows/flutter.yml
Due: none

chore(data): Updated 3.3 Banners for Phase 1
  public/data/EventBanners.json
  public/images/Banners/Character/From_Ashes_Reborn_2022-12-07.png
  public/images/Banners/Character/Onis_Royale_2022-12-07.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-12-07.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated 3.3 weapons
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Catalyst/Tulaytullahs_Remembrance.png
  public/images/Weapons/Sword/Toukabou_Shigure.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added characters from 3.3
  public/data/Characters-Anemo.json
  public/images/Characters/Anemo/Faruzan.png
  public/images/Characters/Anemo/Wanderer.png
  public/images/Constellation/Divine_Comprehension.png
  public/images/Constellation/Matsuban_Ancient_Illuminator_From_Abroad.png
  public/images/Constellation/Niban_Moonlit_Isle_Amidst_White_Waves.png
  public/images/Constellation/Overzealous_Intellect.png
  public/images/Constellation/Sanban_Moonflower_Kusemai.png
  public/images/Constellation/Shoban_Ostentatious_Plumage.png
  public/images/Constellation/Shugen_The_Curtains_Melancholic_Sway.png
  public/images/Constellation/Spirit-Orchard_Stroll.png
  public/images/Constellation/The_Wondrous_Path_of_Truth.png
  public/images/Constellation/Truth_by_Any_Means.png
  public/images/Constellation/Wonderland_of_Rumination.png
  public/images/Constellation/Yonban_Set_Adrift_into_Spring.png
  public/images/Talents/Burst/Talent_The_Winds_Secret_Ways.png
  public/images/Talents/Catalyst_Anemo.png
  public/images/Talents/Normal/Bow_Anemo.png
  public/images/Talents/Passive/Talent_Impetuous_Flow.png
  public/images/Talents/Passive/Talent_Lost_Wisdom_of_the_Seven_Caverns.png
  public/images/Talents/Passive/Talent_Tomes_Light_the_Path.png
  public/images/Talents/Skill/Talent_Wind_Realm_of_Nasamjnin.png
  public/images/Talents/Talent_Gales_of_Reverie.png
  public/images/Talents/Talent_Hanega_Song_of_the_Wind.png
  public/images/Talents/Talent_Jade-Claimed_Flower.png
  public/images/Talents/Talent_Kyougen_Five_Ceremonial_Plays.png
  public/images/Talents/Talent_Strum_the_Swirling_Winds.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(github): Update Version Issue Template
  .github/ISSUE_TEMPLATE/version-update-template.md
Due: none

chore(data): Forgot to move the images
  public/images/Talents/Burst/Talent_Kyougen_Five_Ceremonial_Plays.png
  public/images/Talents/Catalyst_Anemo.png
  public/images/Talents/Passive/Talent_Gales_of_Reverie.png
  public/images/Talents/Passive/Talent_Jade-Claimed_Flower.png
  public/images/Talents/Passive/Talent_Strum_the_Swirling_Winds.png
  public/images/Talents/Skill/Talent_Hanega_Song_of_the_Wind.png
Due: Update Google Cloud Storage Data

ci: Add host requirements for Codespace machines
  .devcontainer/devcontainer.json
Due: none

ci: Enable iOS for testing
  .github/workflows/flutter.yml
Due: none

chore(ios): Update lockfile
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

ci: Added caching for iOS
  .github/workflows/flutter.yml
Due: none

ci: Switch to MacOS 12
  .github/workflows/flutter.yml
Due: none

ci: Update cache action to v3
  .github/workflows/flutter.yml
Due: none

ci: Set to latest Xcode version
  .github/workflows/flutter.yml
Due: none

ci: Cleanup debug items
  .github/workflows/flutter.yml
Due: none

ci: Generate release Flutter IPA file
  .github/workflows/release.yml
Due: none

ci: Only run iOS on PR or master branch
  .github/workflows/flutter.yml
Due: none

ci: Is event_name, not event
  .github/workflows/flutter.yml
Due: none

ci: Make it for all PRs
  .github/workflows/flutter.yml
Due: none

chore(data) Update Tokabou Shigure Image
  public/images/Weapons/Sword/Toukabou_Shigure.png
Due: Update Google Cloud Storage Data

ci: Delete podfile.lock
  .github/workflows/flutter.yml
Due: none

ci: Release delete Podfile.lock
  .github/workflows/release.yml
Due: none

chore(data): Updated 3.3 banner phase 2
  public/data/EventBanners.json
  public/images/Banners/Character/Azure_Excursion_2022-12-27.png
  public/images/Banners/Character/Reign_of_Serenity_2022-12-27.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-12-27.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Revert "ci: Release delete Podfile.lock"
  .github/workflows/release.yml
Due: none

Revert "ci: Delete podfile.lock"
  .github/workflows/flutter.yml
Due: none

feat: Updated Restore script to add outfits
  util/restore.js
Due: Update Firestore Public Data

chore(data): Updated templates to add outfits
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/templates/characters.json
  public/templates/misc.json
Due: Update Firestore Public Data

chore(data): Added Alternate outfits
  public/data/Outfits-Alternate.json
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Alternate/Outfit_100_Outrider_Portrait.png
  public/images/Outfits/Full/Alternate/Outfit_Gunnhildrs_Legacy_Portrait.png
  public/images/Outfits/Full/Alternate/Outfit_Pact_of_Stars_and_Moon_Portrait.png
  public/images/Outfits/Full/Alternate/Outfit_To_the_Churchs_Free_Spirit_Portrait.png
  public/images/Outfits/Thumbnail/Alternate/Item_100_Outrider.png
  public/images/Outfits/Thumbnail/Alternate/Item_Gunnhildrs_Legacy.png
  public/images/Outfits/Thumbnail/Alternate/Item_Pact_of_Stars_and_Moon.png
  public/images/Outfits/Thumbnail/Alternate/Item_To_the_Churchs_Free_Spirit.png
  public/images/Outfits/Wish/Alternate/Outfit_100_Outrider_Preview.png
  public/images/Outfits/Wish/Alternate/Outfit_Gunnhildrs_Legacy_Preview.png
  public/images/Outfits/Wish/Alternate/Outfit_Pact_of_Stars_and_Moon_Preview.png
  public/images/Outfits/Wish/Alternate/Outfit_To_the_Churchs_Free_Spirit_Preview.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add all Themed Outfits
  public/data/Outfits-Alternate.json
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Themed/Outfit_Ein_Immernachtstraum_Game.png
  public/images/Outfits/Full/Themed/Outfit_Opulent_Splendor_Portrait.png
  public/images/Outfits/Full/Themed/Outfit_Orchids_Evening_Gown_Portrait.png
  public/images/Outfits/Full/Themed/Outfit_Red_Dead_of_Night_Game.png
  public/images/Outfits/Full/Themed/Outfit_Sea_Breeze_Dandelion_Portrait.png
  public/images/Outfits/Full/Themed/Outfit_Summertime_Sparkle_Portrait.png
  public/images/Outfits/Thumbnail/Themed/Item_Ein_Immernachtstraum.png
  public/images/Outfits/Thumbnail/Themed/Item_Opulent_Splendor.png
  public/images/Outfits/Thumbnail/Themed/Item_Orchids_Evening_Gown.png
  public/images/Outfits/Thumbnail/Themed/Item_Red_Dead_of_Night.png
  public/images/Outfits/Thumbnail/Themed/Item_Sea_Breeze_Dandelion.png
  public/images/Outfits/Thumbnail/Themed/Item_Summertime_Sparkle.png
  public/images/Outfits/Wish/Themed/Outfit_Ein_Immernachtstraum_Preview.png
  public/images/Outfits/Wish/Themed/Outfit_Opulent_Splendor_Preview.png
  public/images/Outfits/Wish/Themed/Outfit_Orchids_Evening_Gown_Preview.png
  public/images/Outfits/Wish/Themed/Outfit_Red_Dead_of_Night_Preview.png
  public/images/Outfits/Wish/Themed/Outfit_Sea_Breeze_Dandelion_Preview.png
  public/images/Outfits/Wish/Themed/Outfit_Summertime_Sparkle_Preview.png
  public/templates/misc.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Rearranged outfits in alphabetical order
  public/data/Outfits-Alternate.json
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore(data): Added outfits to characters
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

ci: iOS will only run one job per branch
  .github/workflows/flutter.yml
Due: none

ci: Add concurrency for dogfood build as well
  .github/workflows/flutter.yml
Due: none

chore(deps): Update Firebase BOM dependencies for Dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(data): Added 3.4 Event Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Caution_in_Confidence_2023-01-18.png
  public/images/Banners/Character/Discerner_of_Enigmas_2023-02-07.png
  public/images/Banners/Character/Invitation_to_Mundane_Life_2023-01-18.png
  public/images/Banners/Character/Moment_of_Bloom_2023-02-07.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-01-18.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-02-07.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added materials from 3.4
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Boss_Drops/Item_Pseudo-Stamens.png
  public/images/Materials/Local_Specialities/Item_Sand_Grease_Pupa.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

feat(data): Added new weapons
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Local_Specialities.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Sword.json
  public/images/Materials/Elite_Mob/Item_Desiccated_Shell.png
  public/images/Materials/Elite_Mob/Item_Marked_Shell.png
  public/images/Materials/Elite_Mob/Item_Sturdy_Shell.png
  public/images/Weapons/Sword/Weapon_Light_of_Foliar_Incision.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Alhaitham
  public/data/Characters-Dendro.json
  public/images/Characters/Dendro/Alhaitham.png
  public/images/Constellation/Debate.png
  public/images/Constellation/Elucidation.png
  public/images/Constellation/Intuition.png
  public/images/Constellation/Negation.png
  public/images/Constellation/Sagacity.png
  public/images/Constellation/Structuration.png
  public/images/Talents/Burst/Talent_Particular_Field_Fetters_of_Phenomena.png
  public/images/Talents/Passive/Talent_Four-Causal_Correction.png
  public/images/Talents/Passive/Talent_Law_of_Reductive_Overdetermination.png
  public/images/Talents/Passive/Talent_Mysteries_Laid_Bare.png
  public/images/Talents/Skill/Talent_Universality_An_Elaboration_on_Form.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data
