Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

chore(data): Added Yaoyao
  public/data/Characters-Dendro.json
  public/data/Weapons-Sword.json
  public/images/Characters/Dendro/Yaoyao.png
  public/images/Constellation/Adeptus_Tutelage.png
  public/images/Constellation/Beneficent.png
  public/images/Constellation/Compassionate.png
  public/images/Constellation/Innocent.png
  public/images/Constellation/Loyal_and_Kind.png
  public/images/Constellation/Winsome.png
  public/images/Talents/Burst/Talent_Moonjade_Descent.png
  public/images/Talents/Normal/Polearm_Dendro.png
  public/images/Talents/Passive/Talent_In_Others_Shoes.png
  public/images/Talents/Passive/Talent_Starscatter.png
  public/images/Talents/Passive/Talent_Tailing_on_Tiptoes.png
  public/images/Talents/Skill/Talent_Raphanus_Sky_Cluster.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added new character's outfits
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Alhaitham_Game.png
  public/images/Outfits/Full/Standard/Character_Yaoyao_Wish.png
  public/images/Outfits/Wish/Standard/Character_Alhaitham_Wish.png
  public/images/Outfits/Wish/Standard/Character_Yaoyao_Wish.png
  public/templates/misc.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added/Updated outfits
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Standard/Character_Yaoyao_Wish.png
  public/images/Outfits/Thumbnail/Themed/Item_A_Sobriquet_Under_Shade.png
  public/images/Outfits/Thumbnail/Themed/Item_Springbloom_Missive.png
  public/images/Outfits/Wish/Themed/Outfit_Springbloom_Missive_Preview.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix(data): Fixed extra comma
  public/data/Materials-Elite_Mob.json
Due: Update Firestore Public Data

fix(data): Fixed Staff of Homa
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(deps): Update pubspec lock file
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Update deps to fix build
  .gitignore
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Upgrade sha files
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(data): Added 3.5 Event Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Auric_Blaze_2023-03-01.png
  public/images/Banners/Character/Twilight_Arbiter_2023-03-01.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-03-01.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Dehya
  public/data/Characters-Dendro.json
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Dehya_Game.png
  public/images/Outfits/Wish/Standard/Character_Dehya_Wish.png
  public/images/Talents/Burst/Talent_Leonine_Bite.png
  public/images/Talents/Normal/Claymore_Pyro.png
  public/images/Talents/Passive/Talent_Stalwart_and_True.png
  public/images/Talents/Passive/Talent_The_Sunlit_Way.png
  public/images/Talents/Passive/Talent_Unstinting_Succor.png
  public/images/Talents/Skill/Talent_Molten_Inferno.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated 2 new claymores
  public/data/Weapons-Claymore.json
  public/images/Characters/Pyro/Dehya.png
  public/images/Weapons/Claymore/Beacon_of_the_Reed_Sea.png
  public/images/Weapons/Claymore/Mailed_Flower.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Dehya Images
  public/data/Characters-Pyro.json
  public/images/Constellation/A_Rage_Swift_as_Fire.png
  public/images/Constellation/An_Oath_Abiding.png
  public/images/Constellation/The_Alpha_Unleashed.png
  public/images/Constellation/The_Burning_Claws_Cleaving.png
  public/images/Constellation/The_Flame_Incandescent.png
  public/images/Constellation/The_Sand-Blades_Glittering.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Mika
  public/data/Characters-Cryo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Cryo/Mika.png
  public/images/Constellation/Companions_Counsel.png
  public/images/Constellation/Companions_Ingress.png
  public/images/Constellation/Factor_Confluence.png
  public/images/Constellation/Reconnaissance_Experience.png
  public/images/Constellation/Signal_Arrow.png
  public/images/Constellation/Sunfrost_Encomium.png
  public/images/Outfits/Full/Standard/Character_Mika_Game.png
  public/images/Outfits/Wish/Standard/Mika_Wish.png
  public/images/Talents/Burst/Talent_Skyfeather_Song.png
  public/images/Talents/Normal/Polearm_Cryo.png
  public/images/Talents/Passive/Talent_Demarcation.png
  public/images/Talents/Passive/Talent_Suppressive_Barrage.png
  public/images/Talents/Passive/Talent_Topographical_Mapping.png
  public/images/Talents/Skill/Talent_Starfrost_Swirl.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update Phase 2 event banners
  public/data/EventBanners.json
  public/data/Weapons-Claymore.json
  public/images/Banners/Character/The_Herons_Court_2023-03-21.png
  public/images/Banners/Character/The_Transcendent_One_Returns_2023-03-21.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-03-21.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update 3.6 Banner Phase 1 characters
  public/data/EventBanners.json
  public/images/Banners/Character/The_Moongrass_Enlightenment_2023-04-12.png
  public/images/Banners/Character/Twirling_Lotus_2023-04-12.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-04-12.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added some data about Kaveh and Baizhu
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

chore(data): Added all released materials and drops in 3.6
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Everamber.png
  public/images/Materials/Boss_Drops/Item_Evergloom_Ring.png
  public/images/Materials/Boss_Drops/Item_Primordial_Greenbloom.png
  public/images/Materials/Boss_Drops/Item_Worldspan_Fern.png
  public/images/Materials/Elite_Mob/Item_A_Flower_Yet_to_Bloom.png
  public/images/Materials/Elite_Mob/Item_Treasured_Flower.png
  public/images/Materials/Elite_Mob/Item_Wanderers_Blooming_Flower.png
  public/images/Materials/Local_Specialities/Item_Mourning_Flower.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

ci: Update release notes
  .github/workflows/release.yml
Due: none

chore: Ran pub get and update LATEST file for now
  LATEST
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Bump file_picker from 5.2.5 to 5.2.10
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump url_launcher from 6.1.8 to 6.1.10
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump dart_code_metrics from 5.4.0 to 5.7.2
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump package_info_plus from 3.0.2 to 3.1.0
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump path_provider from 2.0.11 to 2.0.14
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump shared_preferences from 2.0.17 to 2.1.0
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump about from 2.1.1 to 2.1.3
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Upgrade Firebase Libraries
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump cloud_firestore from 4.3.1 to 4.5.2
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Update transitive dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore: Update pubspec file due to upgrade in Flutter
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(ios): Update iOS Podfile to allow for builds to go through
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/Info.plist
Due: Deploy Dogfood to Firebase

release: Version 2.2.5
  CHANGELOG.md
  VERSION
Due: Deploy Dogfood to Firebase

ci: IPA file is individual not in folder like previously assumed
  .github/workflows/release.yml
Due: none

chore(data): Update Baizhu Data
  public/data/Characters-Dendro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Dendro/Baizhu.png
  public/images/Constellation/All_Aspects_Stabilized.png
  public/images/Constellation/Ancient_Art_of_Perception.png
  public/images/Constellation/Attentive_Observation.png
  public/images/Constellation/Elimination_of_Malicious_Qi.png
  public/images/Constellation/Incisive_Discernment.png
  public/images/Constellation/The_Hidden_Ebb_and_Flow.png
  public/images/Outfits/Full/Standard/Character_Baizhu_Game.png
  public/images/Outfits/Full/Standard/Character_Kaveh_Game.png
  public/images/Outfits/Wish/Standard/Baizhu_Wish.png
  public/images/Outfits/Wish/Standard/Kaveh_Wish.png
  public/images/Talents/Burst/Talent_Holistic_Revivification.png
  public/images/Talents/Passive/Talent_All_Things_Are_of_the_Earth.png
  public/images/Talents/Passive/Talent_Five_Fortunes_Forever.png
  public/images/Talents/Passive/Talent_Herbal_Nourishment.png
  public/images/Talents/Skill/Talent_Universal_Diagnosis.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update Kaveh Data
  public/data/Characters-Dendro.json
  public/images/Characters/Dendro/Kaveh.png
  public/images/Constellation/Feast_of_Apadana.png
  public/images/Constellation/Grace_of_Royal_Roads.png
  public/images/Constellation/Pairidaezas_Dreams.png
  public/images/Constellation/Profferings_of_Dur_Untash.png
  public/images/Constellation/Sublime_Salutations.png
  public/images/Constellation/Treasures_of_Bonkhanak.png
  public/images/Talents/Burst/Talent_Painted_Dome.png
  public/images/Talents/Normal/Claymore_Dendro.png
  public/images/Talents/Passive/Talent_A_Craftsmans_Curious_Conceptions.png
  public/images/Talents/Passive/Talent_An_Architects_Undertaking.png
  public/images/Talents/Passive/Talent_The_Art_of_Budgeting.png
  public/images/Talents/Skill/Talent_Artistic_Ingenuity.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Jadefall's Splendor weapon
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Jadefalls_Splendor.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add 3.6 Phase 2 event banners
  public/data/EventBanners.json
  public/images/Banners/Character/Adrift_in_the_Harbor_2023-05-02.png
  public/images/Banners/Character/Immaculate_Pulse_2023-05-02.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-05-02.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(deps): Update due to dependency retrieval breaking in Flutter 3.10
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(codespace): Update Flutter version prebuilt
  .devcontainer/Dockerfile
Due: none

chore: Futher refreshes pubspec lockfile
  pubspec.lock
Due: Deploy Dogfood to Firebase
