Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

fix(data): Chongyun no Skill Talent image (#2303)
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

fix(data): Kazuha's Talent materials wrong (#2298)
  public/data/Characters-Anemo.json
Due: Update Firestore Public Data

fix(data): Various minor dataset nits
  public/data/EventBanners.json
  public/data/Outfits-Themed.json
  public/data/Weapons-Claymore.json
Due: Update Firestore Public Data

ci: CodeQL Actions should be single PR
  .github/dependabot.yml
Due: none

ci: Added dependabot checks for data tool
  .github/dependabot.yml
Due: none

refactor(data): Removed series if empty
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

fix: Resolved firebase admin issues
  util/addcode.js
  util/banner.js
  util/promocrawler.js
Due: Update Firestore Public Data

ci: Switched to Node.JS 24 from Node.JS 20
  .github/workflows/firebase-update.yml
Due: none

chore(deps): Dependency updates
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Revert Firebase Admin to 13.10
  firebase/functions/package-lock.json
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

chore(deps): Upgraded deprecated packages
  lib/widgets/login.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Downgrade package to support iOS
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

build: Update iOS podfile
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

chore(deps): Add back dependency validator
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

ci: Try bump iOS XCode to 26.2
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

release: 4.1.3 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

chore: Fix Flutter 3.38 breaking changes
  lib/widgets/appsettings.dart
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Bump dependencies for Flutter 3.38
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

refactor: Apply formatting for Flutter 3.38
  lib/extensions/string_extensions.dart
  lib/helpers/grid.dart
  lib/helpers/notifications.dart
  lib/helpers/tracker.dart
  lib/listeners/sorter.dart
  lib/main.dart
  lib/models/bannerdata.dart
  lib/models/materialdata.dart
  lib/models/outfitdata.dart
  lib/models/promocodedata.dart
  lib/models/trackdata.dart
  lib/placeholder.dart
  lib/util.dart
  lib/widgets/appsettings.dart
  lib/widgets/characters.dart
  lib/widgets/drawer.dart
  lib/widgets/globaltracking.dart
  lib/widgets/login.dart
  lib/widgets/mainnavs.dart
  lib/widgets/materials.dart
  lib/widgets/outfits.dart
  lib/widgets/parametric.dart
  lib/widgets/promocode.dart
  lib/widgets/splash.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

feat: Bump to Flutter 3.38 with Dart 3.10
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Migrate to dot shorthands
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/main.dart
  lib/placeholder.dart
  lib/util.dart
  lib/widgets/appsettings.dart
  lib/widgets/characters.dart
  lib/widgets/drawer.dart
  lib/widgets/globaltracking.dart
  lib/widgets/materials.dart
  lib/widgets/outfits.dart
  lib/widgets/parametric.dart
  lib/widgets/promocode.dart
  lib/widgets/splash.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
  lib/widgets/wishbanners.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore: Add region
  data-tool/src/shared/materialsSchema.ts
Due: none

chore(data): Updated Cryo Traveler Data
  public/data/Characters-Traveler.json
  public/data/Outfits-Alternate.json
  public/images/Constellation/Unknown.png
  public/images/Outfits/Wish/Alternate/Character_Traveler_Hunt_in_the_Snow_Full_Wish.png
  public/images/Talents/Burst/Unknown.png
  public/images/Talents/Normal/Unknown.png
  public/images/Talents/Passive/Unknown.png
  public/images/Talents/Skill/Unknown.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Odette and Alyosha
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Cryo/Odette.png
  public/images/Characters/Electro/Alyosha.png
  public/images/Constellation/Friendly_Call.png
  public/images/Constellation/Frostvale_Thunderclap.png
  public/images/Constellation/Harvest_the_Spoils.png
  public/images/Constellation/Howl_From_Afar.png
  public/images/Constellation/I_Must_See_the_Snow_Swans_Unseen_Dream_for_Myself_She_Thought.png
  public/images/Constellation/Ill_Chase_the_Shouting_Wind_Along_Climbing_Alone_As_I_Go.png
  public/images/Constellation/Oh_I_Have_Slipped_the_Surly_Bonds_of_Earth.png
  public/images/Constellation/On_This_Danceless_Morn_She_Gazes_at_Her_Reflection.png
  public/images/Constellation/Put_Out_My_Hand_and_Touched_the_Face_of_the_Divine.png
  public/images/Constellation/Standard_Reclaimed.png
  public/images/Constellation/Up_Up_the_Long_Delirious_Burning_Blue.png
  public/images/Constellation/When_the_Nightbird_Falls_Silent.png
  public/images/Outfits/Wish/Standard/Character_Alyosha_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Odette_Full_Wish.png
  public/images/Talents/Burst/Talent_Hunters_Advance.png
  public/images/Talents/Burst/Talent_Presto_Bluebird_Finale.png
  public/images/Talents/Normal/Polearm_Electro.png
  public/images/Talents/Normal/Sword_Cryo.png
  public/images/Talents/Passive/Talent_Awakened_By_the_Baying_Hounds.png
  public/images/Talents/Passive/Talent_Echo_of_Winter_Daydreams.png
  public/images/Talents/Passive/Talent_Into_the_Fray.png
  public/images/Talents/Passive/Talent_Pathetique_of_Pateticheskaya.png
  public/images/Talents/Passive/Talent_Spring_Rite_of_the_Chosen_One.png
  public/images/Talents/Passive/Talent_Stellar_Jubilee_Dance_of_Aurore.png
  public/images/Talents/Passive/Talent_Suffer_the_Winter_Wheat_Will.png
  public/images/Talents/Passive/Talent_Treetop_Watch.png
  public/images/Talents/Skill/Talent_Adagio_Phantom_Night_Dancers.png
  public/images/Talents/Skill/Talent_Thunderbolt_Strike.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add 5 star weapons of 7.0
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Weapon_Exaiphanes_Blade.png
  public/images/Weapons/Sword/Weapon_Whitelake_Frostfeather.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added craftable weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Covenant_of_Frost_and_Snow.png
  public/images/Weapons/Catalyst/Weapon_Echoes_of_the_Heart.png
  public/images/Weapons/Claymore/Blade_of_Atonement.png
  public/images/Weapons/Polearm/Weapon_Song_of_the_Vigil.png
  public/images/Weapons/Sword/Weapon_Emberwell.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add new BP weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Jade_Vista.png
  public/images/Weapons/Catalyst/Weapon_Clash_of_Kings.png
  public/images/Weapons/Claymore/Weapon_Forged_by_the_Golden_Melody.png
  public/images/Weapons/Polearm/Weapon_Frostbreath.png
  public/images/Weapons/Sword/Weapon_Heretics_Molten_Blade.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 7.0 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Swans_Shadow_in_Silken_Ice_2026-08-12.png
  public/images/Banners/Character/The_Hearths_Ashen_Shadow_2026-08-12.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-08-12.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated Cryo Traveler Skills
  public/data/Characters-Traveler.json
  public/images/Constellation/Bittercold_Fog.png
  public/images/Constellation/Brumal_Grimfrost.png
  public/images/Constellation/Enduring_Ice.png
  public/images/Constellation/Frostfall_Reverberation.png
  public/images/Constellation/Glacial_Shard.png
  public/images/Constellation/Somber_Freeze.png
  public/images/Talents/Burst/Talent_Frostbound_Javelin.png
  public/images/Talents/Passive/Talent_Ever-Keen_Frost.png
  public/images/Talents/Passive/Talent_Foreign_Permafrost.png
  public/images/Talents/Passive/Talent_Lucent_Ice.png
  public/images/Talents/Passive/Talent_Stellar_Jubilee_Illusory_Frostmirror.png
  public/images/Talents/Skill/Talent_Ice_Fog_Piercer.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data-tool): Added more to autocomplete
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
Due: none

chore(data): Added Traveler outfits to the other elemental travelers
  public/data/Characters-Traveler.json
  public/data/Outfits-Alternate.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Traveler.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 7.0 Phase 2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Astral_Actuation_2026-09-01.png
  public/images/Banners/Character/The_Lone_Light_Knocks_at_Night_2026-09-01.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-09-01.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 7.1 Materials
  public/data/Materials-Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Vagabonds_Cracked_Armor.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added some of Vesna and Vodyanitsa's Outfits
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Vesna_Game.png
  public/images/Outfits/Full/Standard/Character_Vodyanitsa_Game.png
  public/images/Outfits/Wish/Standard/Character_Vesna_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Vodyanitsa_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data
