Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir importer/import
  - cp public/data/*.json importer/import
  - cat $FIREBASE_SERVICE_ACCOUNT > importer/serviceAccountKey.json
  - cd importer
  - npm i
  script: npm start
  needs: []

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Updated data for Wine and Song (#121)
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Wine_and_Song.png
Due: Update Firestore Public Data

Added unreleased characters into unreleased category (#121)
  public/images/Talents/Normal/Talent_Spear_of_the_Church.png
  public/unreleasedchar.json
Due: none

Fixed Alley Flash material being missing from data
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Updated Polearm images
  public/images/Weapons/Polearm/Beginner_Protector.png
  public/images/Weapons/Polearm/Black_Tassel.png
  public/images/Weapons/Polearm/Blackcliff_Pole.png
  public/images/Weapons/Polearm/Crescent_Pike.png
  public/images/Weapons/Polearm/Deathmatch.png
  public/images/Weapons/Polearm/Dragonspine_Spear.png
  public/images/Weapons/Polearm/Iron_Point.png
  public/images/Weapons/Polearm/Lithic_Spear.png
  public/images/Weapons/Polearm/Primordial_Jade_Winged-Spear.png
  public/images/Weapons/Polearm/Prototype_Grudge.png
  public/images/Weapons/Polearm/Royal_Spear.png
  public/images/Weapons/Polearm/Skyward_Spine.png
  public/images/Weapons/Polearm/Staff_Of_Homa.png
  public/images/Weapons/Polearm/Vortex_Vanquisher.png
  public/images/Weapons/Polearm/White_Tassel.png
Due: none

Updated all sword images to HQ
  public/images/Weapons/Sword/Aquila_Favonia.png
  public/images/Weapons/Sword/Dark_Iron_Sword.png
  public/images/Weapons/Sword/Dull_Blade.png
  public/images/Weapons/Sword/Festering_Desire.png
  public/images/Weapons/Sword/Fillet_Blade.png
  public/images/Weapons/Sword/Harbinger_of_Dawn.png
  public/images/Weapons/Sword/Iron_Sting.png
  public/images/Weapons/Sword/Primordial_Jade_Cutter.png
  public/images/Weapons/Sword/Prototype_Rancour.png
  public/images/Weapons/Sword/Royal_Longsword.png
  public/images/Weapons/Sword/Sacrificial_Sword.png
  public/images/Weapons/Sword/Silver_Sword.png
  public/images/Weapons/Sword/Summit_Shaper.png
  public/images/Weapons/Sword/Sword_of_Descension.png
  public/images/Weapons/Sword/The_Alley_Flash.png
  public/images/Weapons/Sword/The_Black_Sword.png
  public/images/Weapons/Sword/The_Flute.png
  public/images/Weapons/Sword/Traveler_Handy_Sword.png
Due: none

Updated claymores images to HQ
  public/images/Weapons/Claymore/Bloodtainted_Greatsword.png
  public/images/Weapons/Claymore/Debate_Club.png
  public/images/Weapons/Claymore/Favonius_Greatsword.png
  public/images/Weapons/Claymore/Lithic_Blade.png
  public/images/Weapons/Claymore/Old_Merc_Pal.png
  public/images/Weapons/Claymore/Prototype_Aminus.png
  public/images/Weapons/Claymore/Quartz.png
  public/images/Weapons/Claymore/Rainslasher.png
  public/images/Weapons/Claymore/Royal_Greatsword.png
  public/images/Weapons/Claymore/Sacrificial_Greatsword.png
  public/images/Weapons/Claymore/Serpent_Spine.png
  public/images/Weapons/Claymore/Skyrider_Greatsword.png
  public/images/Weapons/Claymore/Skyward_Pride.png
  public/images/Weapons/Claymore/Snow-Tombed_Starsilver.png
  public/images/Weapons/Claymore/The_Bell.png
  public/images/Weapons/Claymore/The_Unforged.png
  public/images/Weapons/Claymore/Waster_Greatsword.png
  public/images/Weapons/Claymore/White_Iron_Greatsword.png
  public/images/Weapons/Claymore/Whiteblind.png
  public/images/Weapons/Claymore/Wolf_Gravestone.png
Due: none

Updated Catalyst images to HQ
  public/images/Weapons/Catalyst/Amber_Catalyst.png
  public/images/Weapons/Catalyst/Blackcliff_Amulet.png
  public/images/Weapons/Catalyst/Emerald_Orb.png
  public/images/Weapons/Catalyst/Eye_of_Perception.png
  public/images/Weapons/Catalyst/Frostbearer.png
  public/images/Weapons/Catalyst/Lost_Prayer_to_the_Sacred_Winds.png
  public/images/Weapons/Catalyst/Mappa_Mare.png
  public/images/Weapons/Catalyst/Otherworldly_Story.png
  public/images/Weapons/Catalyst/Pocket_Grimoire.png
  public/images/Weapons/Catalyst/Royal_Grimoire.png
  public/images/Weapons/Catalyst/Sacrificial_Fragments.png
  public/images/Weapons/Catalyst/Skyward_Atlas.png
  public/images/Weapons/Catalyst/Solar_Pearl.png
  public/images/Weapons/Catalyst/The_Widsith.png
  public/images/Weapons/Catalyst/Thrilling_Tales_of_Dragon_Slayers.png
  public/images/Weapons/Catalyst/Twin_Nephrite.png
  public/images/Weapons/Catalyst/Wine_and_Song.png
Due: none

Updated Bows to HQ quality
  public/images/Weapons/Bow/Alley_Hunter.png
  public/images/Weapons/Bow/Blackcliff_Warbow.png
  public/images/Weapons/Bow/Compound_Bow.png
  public/images/Weapons/Bow/Ebony_Bow.png
  public/images/Weapons/Bow/Favonius_Warbow.png
  public/images/Weapons/Bow/Hunter_Bow.png
  public/images/Weapons/Bow/Prototype_Crescent.png
  public/images/Weapons/Bow/Raven_Bow.png
  public/images/Weapons/Bow/Recurve_Bow.png
  public/images/Weapons/Bow/Royal_Bow.png
  public/images/Weapons/Bow/Rust.png
  public/images/Weapons/Bow/Sharpshooter_Oath.png
  public/images/Weapons/Bow/Skyward_Harp.png
  public/images/Weapons/Bow/The_Viridescent_Hunt.png
Due: none

Create a firebase importer action
  .github/workflows/importer.yml
Due: none

Don't error on exit for tests
  importer/package.json
Due: none

Added Firebase Importer to GitLab CI checks
  .gitlab-ci.yml
Due: none

[GL CI] Fixed node_modules caching
  .gitlab-ci.yml
Due: none

Removed dependency for cupertino_icons as we are not utilizing it (#124)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated to new filesize_ns package instead (#123)
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Update integration test to not trip dart analysis
  integration_test/app_test.dart
Due: Deploy Dogfood to Firebase

Added a countdown timer in the weekly planner section (#122)
  lib/widgets/tracking.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Create notification for daily login reminder (#127)
  ios/Runner/AppDelegate.swift
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Custom sound and fixed context (#127)
  android/app/src/main/res/raw/xpup.mp3
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

Implemented ability to schedule daily forum reminders notification (#127)
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

Cleaned up some of the code
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

Removed debug menu notification settings
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Implement for iOS Support (#127)
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  lib/helpers/notifications.dart
Due: Deploy Dogfood to Firebase

1.5.0 release
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

1.5.1 hotfix for sounds
  CHANGELOG.md
  LATEST
  VERSION
  android/app/proguard-rules.pro
  android/app/src/main/res/raw/keep.xml
Due: Deploy Dogfood to Firebase

Added Rosaria into the app (#37)
  public/data/Characters-Cryo.json
  public/images/Characters/Cryo/Rosaria.png
  public/images/Constellation/Divine_Retribution.png
  public/images/Constellation/Land_Without_Promise.png
  public/images/Constellation/Last_Rites.png
  public/images/Constellation/Painful_Grace.png
  public/images/Constellation/The_Wages_of_Sin.png
  public/images/Constellation/Unholy_Revelation.png
  public/images/Talents/Burst/Talent_Rites_of_Termination.png
  public/images/Talents/Passive/Talent_Night_Walk.png
  public/images/Talents/Passive/Talent_Regina_Probationum.png
  public/images/Talents/Passive/Talent_Shadow_Samaritan.png
  public/images/Talents/Skill/Talent_Ravaging_Confession.png
  public/unreleasedchar.json
Due: Update Firestore Public Data

Update Alley Hunter data (#37)
  public/data/Weapons-Bow.json
Due: Update Firestore Public Data

Admin initialize app duplicate
  .gitlab-ci.yml
  importer/index.js
Due: none

Fixed missing caption on Rosaria
  public/data/Characters-Cryo.json
  public/unreleasedchar.json
Due: Update Firestore Public Data

Add wiki pages for Eula and Yanfei
  public/unreleasedchar.json
Due: none

Update code quality checks to always pass
  .gitlab-ci.yml
Due: none

Add button to invoke forum login from overflow menu (#137)
  lib/widgets/bottomnav.dart
Due: Deploy Dogfood to Firebase

Fixed iOS build (#133)
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Fixed issue with notification manager causing unsupported platform (web) from starting (#133)
  analysis_options.yaml
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

Automatically delete notification channel when disabling daily notifications (#129)
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Revert "Update code quality checks to always pass"
  .gitlab-ci.yml
Due: none

Updated dependencies to update dart_code_metrics to 3.0.0 (#138)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Fixed codequality check to support GitLab (#138)
  .gitlab-ci.yml
  analysis_options.yaml
Due: none

Ran major dependency updates (#138)
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated the rest of the dependencies (#138)
  ios/Podfile.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Initial work on parametric transformer reminder (#126)
  assets/images/items/Item_Parametric_Transformer.png
  lib/main.dart
  lib/widgets/bottomnav.dart
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Update Firestore Public Data: any of: public/data/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
