Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Added enemies tag to Boss Drops and Gems (#203)
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/templates/materials.json
Due: Update Firestore Public Data

Added preliminary banners for Phase 1 (#203)
  public/data/EventBanners.json
Due: Update Firestore Public Data

Implemented the various changes due to breaking build for the firebase-export-import module
  util/backupTracker.js
  util/backupUserData.js
  util/restore.js
Due: Update Firestore Public Data

Updated and finalized Phase 1 Event Banners of 2.6
  public/data/EventBanners.json
  public/images/Banners/Character/Azure_Excursion_2022-03-30.png
  public/images/Banners/Character/Ballad_in_Goblets_2022-03-30.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2022-03-30.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update drops information for the upcoming weapon (#203)
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Fixed Elegy for the End spelling (#203)
  public/data/EventBanners.json
Due: Update Firestore Public Data

Fixed data for Elite Mobs and updated restore script to continue if something failed
  public/data/Materials-Elite_Mob.json
  util/restore.js
Due: Update Firestore Public Data

Finalized weapon and elite mob drop (#203)
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Sword.json
  public/images/Materials/Elite_Mob/Item_Dark_Statuette.png
  public/images/Materials/Elite_Mob/Item_Deathly_Statuette.png
  public/images/Weapons/Sword/Haran_Geppaku_Futsu.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Finalized Kamisato Ayato (#203)
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Kamisato_Ayato.png
  public/images/Constellation/Bansui_Ichiro.png
  public/images/Constellation/Boundless_Origin.png
  public/images/Constellation/Endless_Flow.png
  public/images/Constellation/Kyouka_Fuushi.png
  public/images/Constellation/To_Admire_the_Flowers.png
  public/images/Constellation/World_Source.png
  public/images/Talents/Burst/Talent_Kamisato_Art_Suiyuu.png
  public/images/Talents/Normal/Talent_Kamisato_Art_Marobashi.png
  public/images/Talents/Passive/Talent_Kamisato_Art_Daily_Cooking.png
  public/images/Talents/Passive/Talent_Kamisato_Art_Michiyuku_Hagetsu.png
  public/images/Talents/Passive/Talent_Kamisato_Art_Mine_Wo_Matoishi_Kiyotaki.png
  public/images/Talents/Skill/Talent_Kamisato_Art_Kyouka.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added support for dart updating
  .github/dependabot.yml
Due: none

Added a new Flutter Github Action
  .github/workflows/flutter.yml
Due: none

Added required environment variables
  .github/workflows/flutter.yml
Due: none

Add Github SHA
  .github/workflows/flutter.yml
Due: none

Supposed to be secrets, not env
  .github/workflows/flutter.yml
Due: none

Echo into a file
  .github/workflows/flutter.yml
Due: none

See if firebase_options exist
  .github/workflows/flutter.yml
Due: none

Change impl
  .github/workflows/flutter.yml
Due: none

-d
  .github/workflows/flutter.yml
Due: none

Finalized action
  .github/workflows/flutter.yml
Due: none

Substitute missing information
  .github/workflows/flutter.yml
Due: none

Added a new Flutter Github Action (#76)
  .github/workflows/flutter.yml
Due: none

Switch to daily
  .github/dependabot.yml
Due: none

Added new event banners for 2.6 Phase 2
  public/data/EventBanners.json
  public/images/Banners/Character/The_Herons_Court_2022-04-19.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-04-19.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Set node image to Node 16 explicitly
  .gitlab-ci.yml
  pubspec.lock
Due: Deploy Dogfood to Firebase

Added note that banners extended till before 2.6 Ends
  public/data/EventBanners.json
Due: Update Firestore Public Data

Update iOS packages
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  ios/Runner/Info.plist
  pubspec.lock
Due: Deploy Dogfood to Firebase

Update end dates (#207)
  public/data/EventBanners.json
  pubspec.lock
Due: Update Firestore Public Data, Deploy Dogfood to Firebase

Revert pubspec change
  pubspec.lock
Due: Deploy Dogfood to Firebase

Packages update
  android/build.gradle
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Added Yelan and the Runic Fang she uses (#209)
  public/data/Characters-Hydro.json
  public/data/Materials-Boss_Drops.json
  public/images/Characters/Hydro/Yelan.png
  public/images/Materials/Boss_Drops/Item_Runic_Fang.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Aqua Simulacra (#209)
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Aqua_Simulacra.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added data for Fading Twilight (#209)
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Fading_Twilight.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update 2.7 Phase 1 Banners (#209)
  public/data/EventBanners.json
  public/images/Banners/Character/Discerner_of_Enigmas_2022-05-31.png
  public/images/Banners/Character/Invitation_to_Mundane_Life_2022-05-31.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-05-31.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated data for Yelan (#209)
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Yelan.png
  public/images/Constellation/Bait-and-Switch.png
  public/images/Constellation/Beware_the_Tricksters_Dice.png
  public/images/Constellation/Dealers_Sleight.png
  public/images/Constellation/Enter_the_Plotters.png
  public/images/Constellation/Taking_All_Comers.png
  public/images/Constellation/Winner_Takes_All.png
  public/images/Talents/Burst/Talent_Depth-Clarion_Dice.png
  public/images/Talents/Normal/Talent_Stealthy_Bowshot.png
  public/images/Talents/Passive/Talent_Adapt_With_Ease.png
  public/images/Talents/Passive/Talent_Necessary_Calculation.png
  public/images/Talents/Passive/Talent_Turn_Control.png
  public/images/Talents/Skill/Talent_Lingering_Lifeline.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated both weapons (#209)
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Aqua_Simulacra.png
  public/images/Weapons/Bow/Fading_Twilight.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add Kuki Shinobu (#209)
  public/data/Characters-Electro.json
  public/images/Characters/Electro/Kuki_Shinobu.png
  public/images/Constellation/To_Cease_Courtesies.png
  public/images/Constellation/To_Cloister_Compassion.png
  public/images/Constellation/To_Forsake_Fortune.png
  public/images/Constellation/To_Sequester_Sorrow.png
  public/images/Constellation/To_Sever_Sealing.png
  public/images/Constellation/To_Ward_Weakness.png
  public/images/Talents/Burst/Talent_Gyoei_Narukami_Kariyama_Rite.png
  public/images/Talents/Normal/Talent_Shinobus_Shadowsword.png
  public/images/Talents/Passive/Talent_Breaking_Free.png
  public/images/Talents/Passive/Talent_Hearts_Repose.png
  public/images/Talents/Passive/Talent_Protracted_Prayers.png
  public/images/Talents/Skill/Talent_Sanctifying_Ring.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update GitPod Docker build files
  .gitpod.Dockerfile
Due: none

Updated event banners (#210)
  public/data/EventBanners.json
  public/images/Banners/Character/Onis_Royale_2022-06-21.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-06-21.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Fixed Kuki Shinobu Talent having the wrong drops (#211)
  public/data/Characters-Electro.json
Due: Update Firestore Public Data

Remove space
  public/data/Characters-Electro.json
Due: Update Firestore Public Data
