Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir importer/import
  - cp public/data/*.json importer/import
  - cat $FIREBASE_SERVICE_ACCOUNT > importer/serviceAccountKey.json
  - cd importer
  - npm i
  script: npm start
  needs: []

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Forgot to add Traveler's Geo constellation effect (#98)
  public/data/Characters-Traveler.json
  public/images/Constellation/Invincible_Stonewall.png
Due: Update Firestore Public Data

Add Constellation Information for Anemo Characters (#98)
  public/data/Characters-Anemo.json
  public/images/Constellation/Annihilation_Eon_-_Blossom_of_Kaleidos.png
  public/images/Constellation/Breeze_of_Reminiscence.png
  public/images/Constellation/Chrysos_Bounty_of_Dominator.png
  public/images/Constellation/Concerto_dal_Cielo.png
  public/images/Constellation/Conqueror_of_Evil_-_Guardian_Yaksha.png
  public/images/Constellation/Conqueror_of_Evil_-_Wrath_Deity.png
  public/images/Constellation/Crispy_Outside_Tender_Inside.png
  public/images/Constellation/Dissolution_Eon_-_Destroyer_of_Worlds.png
  public/images/Constellation/Double_Shot_On_The_Rocks.png
  public/images/Constellation/Evolution_Eon_-_Origin_of_Ignorance.png
  public/images/Constellation/Exquisite_be_the_Jade_Outshining_All_Beneath.png
  public/images/Constellation/Flaming_Sword_Nemesis_of_Dark.png
  public/images/Constellation/Hence_Call_Them_My_Own_Verses.png
  public/images/Constellation/Jade_Shimmering_through_Darkness.png
  public/images/Constellation/Lazuli_Herald_of_the_Order.png
  public/images/Constellation/Lions_Fang_Fair_Protector_of_Mondstadt.png
  public/images/Constellation/Ode_to_Thousand_Winds.png
  public/images/Constellation/Phoenix_Harbinger_of_Dawn.png
  public/images/Constellation/Rock_the_Backbone_of_Earth.png
  public/images/Constellation/Shaken_Not_Purred.png
  public/images/Constellation/Splitting_Gales.png
  public/images/Constellation/Stone_the_Cradle_of_Jade.png
  public/images/Constellation/Storm_of_Defiance.png
  public/images/Constellation/Topaz_Unbreakable_and_Fearless.png
  public/images/Constellation/Transcension_-_Extinction_of_Suffering.png
  public/images/Constellation/Upon_the_Turbulent_Sea_the_Thunder_Arises.png
Due: Update Firestore Public Data

Updated Constellation Information for Cryo Characters (#98)
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

Added Constellation Information for Electro Characters (#98)
  public/data/Characters-Electro.json
  public/images/Constellation/Wolf_Instinct.png
Due: Update Firestore Public Data

Added constellation information for Geo Characters (#98)
  public/data/Characters-Geo.json
Due: Update Firestore Public Data

Added Constellation Information for Hydro Characters (#98)
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

Added Constellation Information for Pyro Characters (#98)
  public/data/Characters-Pyro.json
  public/images/Constellation/Its_Not_Just_Any_Doll.png
Due: Update Firestore Public Data

Update constellation images to higher resolution (#98)
  public/images/Constellation/Cherishing_Breezes.png
  public/images/Constellation/Everlasting_Boulder.png
  public/images/Constellation/Interwinded_Winds.png
  public/images/Constellation/Meteorite_Impact.png
  public/images/Constellation/Raging_Vortex.png
  public/images/Constellation/Reaction_Force.png
  public/images/Constellation/Rockcore_Meltdown.png
  public/images/Constellation/Sweeping_Gust.png
  public/images/Constellation/Uprising_Whirlwind.png
  public/images/Constellation/Vortex_Stellaris.png
  public/images/Constellation/Will_of_the_Rock.png
Due: none

Added shell for defining max base attack (#87)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Added max base attack and secondary stat data to all weapons (#87)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Fixed 1*/2* weapons not having a max base attack stat (#87)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Added ability to support page reloads without causing the app to die off (#72)
  lib/main.dart
  lib/models/tracker.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/materials.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Added unknown route and redirect for invalid data (#72)
  lib/main.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Add github specific files
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
Due: none

Dart does not support dependabot atm. We will do it for the importer only for now
  .github/dependabot.yml
Due: none

Update domain type
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Mastery_Domain.json
Due: Update Firestore Public Data

Added a backup tracker
  importer/backupTracker.js
Due: none

Renamed domain_forgery to domain_material
  lib/models/materialdata.dart
  lib/widgets/appsettings.dart
  lib/widgets/globaltracking.dart
  lib/widgets/materials.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

1.2.3 update. Last update for 1.2!
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Add multi indexes to Firestore
  firebase/firestore.indexes.json
Due: Deploy Firebase Security Rules

Update .gitlab-ci.yml to deploy firestore indexes
  .gitlab-ci.yml
Due: none

Test out ascending materials index as well
  firebase/firestore.indexes.json
Due: Deploy Firebase Security Rules

Should be of first type ASCENDING
  firebase/firestore.indexes.json
Due: Deploy Firebase Security Rules

Set force update indexes
  .gitlab-ci.yml
Due: none

poke
  firebase/firestore.indexes.json
Due: Deploy Firebase Security Rules

Unpoke
  firebase/firestore.indexes.json
Due: Deploy Firebase Security Rules

Switched to ASC
  firebase/firestore.indexes.json
Due: Deploy Firebase Security Rules

Updated some character images to make it larger
  public/images/Characters/Anemo/Aether.png
  public/images/Characters/Anemo/Lumine.png
  public/images/Characters/Anemo/Traveler.png
  public/images/Characters/Anemo/Xiao.png
  public/images/Characters/Cryo/Ayaka.png
  public/images/Characters/Cryo/Diona.png
  public/images/Characters/Cryo/Ganyu.png
  public/images/Characters/Geo/Zhongli.png
  public/images/Characters/Hydro/Tartaglia.png
  public/images/Characters/Pyro/Xinyan.png
  public/images/Characters/Unreleased/Dainsleif.png
  public/images/Characters/Unreleased/Hu_Tao.png
Due: none

Updated firestore indexes
  firebase/firestore.indexes.json
Due: Deploy Firebase Security Rules

Split characters into tabs splitting information (#43)
  lib/main.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Formatting (#43)
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Basic display of passive talents (#43)
  lib/models/characterdata.dart
  lib/models/grid.dart
  lib/models/tracker.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Added talent information (#43)
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Ability to track/untrack talent materials (#43)
  lib/models/trackdata.dart
  lib/models/tracker.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Fixed untracking talents not untracking and clicking on talent cards in tracker (#43)
  lib/models/tracker.dart
  lib/widgets/characters.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Implemented talent tracking in Global Tracker (#43)
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase

Update placeholder (#43)
  lib/placeholder.dart
Due: Deploy Dogfood to Firebase

1.3.0 Update with Talent Tracking!
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Create new gitlab job to process code quality (#106)
  .gitlab-ci.yml
  analysis_options.yaml
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Update Firestore Public Data: any of: public/data/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
