Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Add Firebase Cloud Functions to dependabot
  .github/dependabot.yml
Due: none

Updated Nilou Information and Images (#716)
  public/data/Characters-Electro.json
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Nilou.png
  public/images/Constellation/Beguiling_Shadowstep.png
  public/images/Constellation/Dance_of_the_Waning_Moon.png
  public/images/Constellation/Fricative_Pulse.png
  public/images/Constellation/Frostbreakers_Melody.png
  public/images/Constellation/The_Starry_Skies_Their_Flowers_Rain.png
  public/images/Constellation/Twirling_Light.png
  public/images/Talents/Burst/Talent_Dance_of_Abzendegi_Distant_Dreams_Listening_Spring.png
  public/images/Talents/Normal/Sword_Hydro.png
  public/images/Talents/Passive/Talent_Court_of_Dancing_Petals.png
  public/images/Talents/Passive/Talent_Dreamy_Dance_of_Aeons.png
  public/images/Talents/Passive/Talent_White_Jade_Lotus.png
  public/images/Talents/Skill/Talent_Dance_of_Haftkarsvar.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Weapon images of weapons that came out in Phase 2 of 3.1 (#716)
  public/images/Weapons/Catalyst/Wandering_Evenstar.png
  public/images/Weapons/Sword/Key_of_Khaj-Nisut.png
  public/images/Weapons/Sword/Xiphos_Moonlight.png
Due: Update Google Cloud Storage Data

Replaced ::set-output with env files (#765)
  .github/workflows/firebase-update.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

Some more info
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

chore(data): Add some shell for upcoming banners
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Updated Banners for 3.2 Phase 1 (#793)
  public/data/EventBanners.json
  public/images/Banners/Character/Tapestry_of_Golden_Flames_2022-11-02.png
  public/images/Banners/Character/The_Moongrass_Enlightenment_2022-11-02.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-11-02.png
  public/images/Characters/Cryo/Layla.png
  public/images/Characters/Dendro/Nahida.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix(util): If date is empty or null, set to start of game
  util/promocrawler.js
Due: Update Firestore Public Data

chore(data): Update data for Nahida
  public/data/Characters-Dendro.json
  public/images/Characters/Dendro/Nahida.png
  public/images/Constellation/The_Fruit_of_Reasons_Culmination.png
  public/images/Constellation/The_Leaves_of_Enlightening_Speech.png
  public/images/Constellation/The_Root_of_All_Fullness.png
  public/images/Constellation/The_Seed_of_Stored_Knowledge.png
  public/images/Constellation/The_Shoot_of_Conscious_Attainment.png
  public/images/Constellation/The_Stem_of_Manifest_Inference.png
  public/images/Talents/Burst/Talent_Illusory_Heart.png
  public/images/Talents/Normal/Catalyst_Dendro.png
  public/images/Talents/Passive/Talent_Awakening_Elucidated.png
  public/images/Talents/Passive/Talent_Compassion_Illuminated.png
  public/images/Talents/Passive/Talent_On_All_Things_Meditated.png
  public/images/Talents/Skill/Talent_All_Schemes_to_Know.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add materials that came out in 3.2 Phase 1
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Dakas_Bell.png
  public/images/Materials/Boss_Drops/Item_Mirror_of_Mushin.png
  public/images/Materials/Boss_Drops/Item_Puppet_Strings.png
  public/images/Materials/Boss_Drops/Item_Quelled_Creeper.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update materials here as well
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

chore(data): Added new catalyst from 3.2
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/A_Thousand_Floating_Dreams.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Nahida's Archon Name
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

chore(repo-config): Added prefixes to dependabot's commit messages
  .github/dependabot.yml
Due: none

chore(ci): Keep prefix within 15 character limit
  .github/dependabot.yml
Due: none

Remove the brackets
  .github/dependabot.yml
Due: none

chore(changelog): Updated changelog to cover all that has been updated recently
  LATEST
Due: none

feat: Migrated away from flutterfire_ui to firebase_ui_database
  ios/Podfile.lock
  lib/widgets/promocode.dart
  lib/widgets/wishbanners.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

refactor: Lint fixes
  lib/widgets/promocode.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

chore(lint): Update lint to remove removed lints
  analysis_options.yaml
Due: none

chore(data): Updated templates and existing materials to add a new usage object
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Mastery_Domain.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/templates/materials.json
Due: Update Firestore Public Data

chore(data): Added Boss Drops Usage
  public/data/Materials-Boss_Drops.json
Due: Update Firestore Public Data

chore(data): Updated material usage for Boss Gems
  public/data/Materials-Boss_Gems.json
Due: Update Firestore Public Data

chore(data): Added material usage for weekly boss drops
  public/data/Materials-Weekly_Boss_Drops.json
Due: Update Firestore Public Data

chore(data): Update material usage for Local Specialities
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Local_Specialities/Item_Henna_Berry.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

feat(util): Added new commands to get usage of characters and weapons for each material
  util/backupWepAndChar.js
  util/package.json
  util/usage.js
Due: Update Firestore Public Data

chore(data): Ran usage command and updated the dataset
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Mastery_Domain.json
Due: Update Firestore Public Data

chore(data): Forgot to update Candace to use Henna Berries
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

feat(cf): Added a new last seen weapons function that looks at the weapon banners and get weapons last seen
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

feat(cf): Added one for characters as well
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

feat(cf): Commented out some debugging logs
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

feat(cf): Added functions for firestore listening as well
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

chore(codespace): Add SSHd
  .devcontainer/devcontainer.json
Due: none

chore(data): Added character titles (#830)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/templates/characters.json
Due: Update Firestore Public Data

chore(data): Added some information from drip marketed characters for 3.3
  public/data/Characters-Anemo.json
  public/images/Characters/Anemo/Faruzan.png
  public/images/Characters/Anemo/Wanderer.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

feat: Character Talents, Constellations and Weapon effects will now have certain color coded text as necessary
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

chore: Resolve lint issues in character dart file
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

feat: Add titles to the characters
  lib/models/characterdata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

chore(data): Added some build guides
  public/data/Characters-Dendro.json
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

refactor: Added more types
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
