Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

chore(deps): Bump iOS deps
  ios/Podfile.lock
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Bump direct dependencies
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump indirect dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore: Reorder deps
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump iOS again
  ios/Podfile.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump AGP version
  android/settings.gradle.kts
Due: Deploy Dogfood to Firebase

chore(deps): Reorder dependencies
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Added a setting to set wiki source
  lib/models/settings_selector_configuration.dart
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

data: Fixed wiki supposed to be int not string
  public/data/Weapons-Claymore.json
Due: Update Firestore Public Data

feat: Implemented viewing of HoYoWiki links
  lib/helpers/grid.dart
  lib/models/characterdata.dart
  lib/models/commondata.dart
  lib/models/materialdata.dart
  lib/models/outfitdata.dart
  lib/models/weapondata.dart
  lib/util.dart
  lib/widgets/characters.dart
  lib/widgets/materials.dart
  lib/widgets/outfits.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

refactor: Formatting and linting
  lib/helpers/grid.dart
  lib/models/weapondata.dart
  lib/widgets/characters.dart
  lib/widgets/materials.dart
  lib/widgets/outfits.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

refactor: Fixes
  lib/helpers/grid.dart
  lib/widgets/characters.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

feat: Implemented version numbering in list
  lib/models/bannerdata.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

chore(data): Added LN3 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Cornucopia_of_Contention_2025-12-23.png
  public/images/Banners/Character/Forgefires_Blessing_2025-12-23.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-12-23.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update image
  public/images/Weapons/Bow/Weapon_Rainbow_Serpents_Rain_Bow.png
Due: Update Google Cloud Storage Data

refactor: Refactor how we handle radio buttons
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

feat: Added settings selector for game launcher selection
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

feat: Implemented ability to launch cloud edition of the game
  android/app/src/main/AndroidManifest.xml
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

feat: Added VN published version as well
  android/app/src/main/AndroidManifest.xml
  lib/widgets/appsettings.dart
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

feat: Implemented device info debug message
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

fix: Tweaks to support web
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

chore: Update iOS debug info
  ios/Podfile.lock
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

refactor: Changed how the string is created
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

chore: Added new snackbar
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

feat: Implemented shared preferences migration to cache
  lib/extensions/string_extensions.dart
  lib/helpers/grid.dart
  lib/helpers/notifications.dart
  lib/listeners/theme_notifier.dart
  lib/main.dart
  lib/util.dart
  lib/widgets/appsettings.dart
  lib/widgets/characters.dart
  lib/widgets/drawer.dart
  lib/widgets/materials.dart
  lib/widgets/outfits.dart
  lib/widgets/parametric.dart
  lib/widgets/promocode.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

refactor: Cleanup code
  lib/widgets/drawer.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

refactor: Use single instance of SharedPreferences
  lib/util.dart
Due: Deploy Dogfood to Firebase

refactor: Lint changes
  analysis_options.yaml
  lib/helpers/notifications.dart
  lib/main.dart
  lib/util.dart
  lib/widgets/appsettings.dart
  lib/widgets/characters.dart
  lib/widgets/splash.dart
  lib/widgets/weapons.dart
  pubspec.lock
Due: Deploy Dogfood to Firebase

build: Resolve build failures
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

refactor: Sonar fixes
  .devcontainer/Dockerfile
  .gitpod.Dockerfile
  .gitpod.yml
  android/build.gradle.kts
  android/settings.gradle.kts
  firebase/functions/.vscode/settings.json
  firebase/functions/index.js
  lib/widgets/login.dart
  util/addcode.js
  web/index.html
Due: Deploy Firebase Security Rules, Update Firestore Public Data, Deploy Dogfood to Firebase

chore: Remove file
  firebase/functions/.vscode/settings.json
Due: Deploy Firebase Security Rules

refactor: Fixed optional params
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

refactor: Set proper checking of debug mode
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

refactor: Review fixes
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

release: 4.1.1 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

fix: Black color for selector
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase

release: 4.1.2 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

chore: Add Lunar-Crystalize
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

chore(data): Added Luna IV banner information
  public/data/EventBanners.json
  public/images/Banners/Character/Astral_Actuation_2026-01-14.png
  public/images/Banners/Character/Decree_of_the_Deeps_2026-02-03.png
  public/images/Banners/Character/Harmonious_Abundance_2026-02-03.png
  public/images/Banners/Character/Somnias_a_Luna_2026-01-14.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-01-14.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-02-03.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added new materials
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Elixir_of_the_Heretic.png
  public/images/Materials/Boss_Drops/Item_Madmans_Restraint.png
  public/images/Materials/Boss_Drops/Item_Mask_of_the_Virtuous_Doctor.png
  public/images/Materials/Boss_Drops/Item_Remnant_of_the_Dreadwing.png
  public/images/Materials/Elite_Mob/Item_Aberrant_Core_of_the_Deep_Shadow.png
  public/images/Materials/Elite_Mob/Item_Fractured_Eye_of_the_Deep_Shadow.png
  public/images/Materials/Elite_Mob/Item_Hooked_Beak_of_the_Deep_Shadow.png
  public/images/Materials/Local_Specialities/Item_Pine_Amber.png
  public/images/Materials/Local_Specialities/Item_Winter_Icelea.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data
