Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Added all of the weapon banners (#192)
  public/data/EventBanners.json
Due: Update Firestore Public Data

Updated Name Sequence and images for weapon banners (#192)
  public/data/EventBanners.json
Due: Update Firestore Public Data

Added shell of all character banners (#192)
  public/data/EventBanners.json
Due: Update Firestore Public Data

Added stats of all character banners (#192)
  public/data/EventBanners.json
Due: Update Firestore Public Data

Update all character images (#192)
  public/data/EventBanners.json
  public/images/Banners/Character/Wish_Adrift_in_the_Harbor_2021-01-12.jpg
  public/images/Banners/Character/Wish_Adrift_in_the_Harbor_2022-01-25.png
  public/images/Banners/Character/Wish_Ballad_in_Goblets_2020-09-28.jpg
  public/images/Banners/Character/Wish_Ballad_in_Goblets_2021-03-17.jpg
  public/images/Banners/Character/Wish_Born_of_Ocean_Swell_2021-05-18.png
  public/images/Banners/Character/Wish_Born_of_Ocean_Swell_2021-11-24.png
  public/images/Banners/Character/Wish_Dance_of_Lanterns_2021-02-17.jpg
  public/images/Banners/Character/Wish_Drifting_Luminescence_2021-09-21.png
  public/images/Banners/Character/Wish_Farewell_of_Snezhnaya_2020-11-11.jpg
  public/images/Banners/Character/Wish_Farewell_of_Snezhnaya_2021-04-06.png
  public/images/Banners/Character/Wish_Farewell_of_Snezhnaya_2021-10-13.png
  public/images/Banners/Character/Wish_Gentry_of_Hermitage_2020-12-01.png
  public/images/Banners/Character/Wish_Gentry_of_Hermitage_2021-04-28.png
  public/images/Banners/Character/Wish_Gentry_of_Hermitage_2022-01-25.png
  public/images/Banners/Character/Wish_Invitation_to_Mundane_Life_2021-02-03.jpg
  public/images/Banners/Character/Wish_Invitation_to_Mundane_Life_2022-01-05.png
  public/images/Banners/Character/Wish_Leaves_in_the_Wind_2021-06-29.png
  public/images/Banners/Character/Wish_Moment_of_Bloom_2021-03-02.jpg
  public/images/Banners/Character/Wish_Moment_of_Bloom_2021-11-02.png
  public/images/Banners/Character/Wish_Onis_Royale_2021-12-14.png
  public/images/Banners/Character/Wish_Reign_of_Serenity_2021-09-01.png
  public/images/Banners/Character/Wish_Secretum_Secretorum_2020-12-23.jpg
  public/images/Banners/Character/Wish_Secretum_Secretorum_2021-11-24.png
  public/images/Banners/Character/Wish_Sparkling_Steps_2020-10-20.jpg
  public/images/Banners/Character/Wish_Sparkling_Steps_2021-06-09.png
  public/images/Banners/Character/Wish_Tapestry_of_Golden_Flames_2021-08-10.png
  public/images/Banners/Character/Wish_The_Herons_Court_2021-07-21.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add Event Banner CI Job
  .gitlab-ci.yml
Due: none

Trigger Banner update
  .gitlab-ci.yml
Due: none

Revert "Trigger Banner update"
  .gitlab-ci.yml
Due: none

Update promo code implementation (#195)
  .gitpod.yml
  util/promocrawler.js
Due: Update Firestore Public Data

Removed colouring for promo codes
  firebase/database.rules.json
  lib/widgets/promocode.dart
Due: Deploy Firebase Security Rules, Deploy Dogfood to Firebase

Add banner page and placeholders (#193)
  android/build.gradle
  assets/images/icons/Icon_Wish.png
  assets/images/icons/System_Wish.png
  assets/images/items/Item_Primogem.png
  lib/main.dart
  lib/widgets/drawer.dart
  lib/widgets/wishbanners.dart
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Added placeholder for wish banners (#193)
  firebase/database.rules.json
  lib/helpers/grid.dart
  lib/models/bannerdata.dart
  lib/widgets/wishbanners.dart
  public/data/EventBanners.json
Due: Deploy Firebase Security Rules, Update Firestore Public Data, Deploy Dogfood to Firebase

Dependency Updates
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated wish banners to the finalized look (#193)
  lib/extensions/string_extensions.dart
  lib/models/bannerdata.dart
  lib/widgets/wishbanners.dart
  public/data/EventBanners.json
Due: Update Firestore Public Data, Deploy Dogfood to Firebase

Add a new tab to show current banner list (#193)
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

Add debug index information and started work on the Banner Info page (#193)
  lib/main.dart
  lib/models/bannerdata.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

Move firebase service account key to gitpod command
  .gitpod.yml
Due: none

Add cmdline tools and android-sdk
  .gitpod.Dockerfile
Due: none

Remove cmdline-tools zip
  .gitpod.Dockerfile
Due: none

Upgrade gradle plugin
  android/gradle/wrapper/gradle-wrapper.properties
Due: Deploy Dogfood to Firebase

Further update to Dockerfile
  .gitpod.Dockerfile
Due: none

Fixed Thoma's Mispelling
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

More or less finalising the banner view (#193)
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

Added pity information (#193)
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

Moved some functions from GridData to GridUtils
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/mainnavs.dart
  lib/widgets/materials.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Disable android
  .gitpod.Dockerfile
Due: none

2.2.0 app update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Compile with SDK 31
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

Added information we currently know about Yae Miko officially (#197)
  public/data/Characters-Electro.json
  public/data/EventBanners.json
Due: Update Firestore Public Data

Add new weapons to the list (#197)
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Kaguras_Verity.png
  public/images/Weapons/Catalyst/Oathsworn_Eye.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added event banners (#197)
  public/data/EventBanners.json
  public/images/Banners/Character/Wish_Everbloom_Violet_2022-02-16.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2022-02-16.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Finalized Kagura's Verity (#197)
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Kaguras_Verity.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Finalized information on Yae Miko (#197)
  public/data/Characters-Electro.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Characters/Electro/Yae_Miko.png
  public/images/Constellation/Forbidden_Art_Daisesshou.png
  public/images/Constellation/Foxs_Mooncall.png
  public/images/Constellation/Mischievous_Teasing.png
  public/images/Constellation/Sakura_Channeling.png
  public/images/Constellation/The_Seven_Glamours.png
  public/images/Constellation/Yakan_Offering.png
  public/images/Talents/Burst/Talent_Great_Secret_Art_Tenko_Kenshin.png
  public/images/Talents/Normal/Talent_Spiritfox_Sin-Eater.png
  public/images/Talents/Passive/Talent_Enlightened_Blessing.png
  public/images/Talents/Passive/Talent_Meditations_of_a_Yako.png
  public/images/Talents/Passive/Talent_The_Shrines_Sacred_Shade.png
  public/images/Talents/Skill/Talent_Yakan_Evocation_Sesshou_Sakura.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Weekly Material Boss Drops
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Mudra_of_the_Malefic_General.png
  public/images/Materials/Boss_Drops/Item_Tears_of_the_Calamitous_God.png
  public/images/Materials/Boss_Drops/Item_The_Meaning_of_Aeons.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Finalized Oathsworn Eye (#197)
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Oathsworn_Eye.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added banner data for Phase 2 of 2.5 (#199)
  public/data/EventBanners.json
  public/images/Banners/Character/Wish_Drifting_Luminescence_2022-03-08.png
  public/images/Banners/Character/Wish_Reign_of_Serenity_2022-03-08.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2022-03-08.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add wishes to version update template
  .gitlab/issue_templates/Version Update Template.md
Due: none

Added basic information about Kamisato Ayato (#203)
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Kamisato_Ayato.png
  public/templates/characters.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Weapon template to split materials apart (#203)
  public/templates/weapons.json
Due: none

Added information about upcoming weapon and material (#203)
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Sword.json
  public/images/Materials/Elite_Mob/Item_Gloomy_Statuette.png
  public/images/Weapons/Sword/Haran_Geppaku_Futsu.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
