Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

refactor: Sonar fixes
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/banners/BannerForm.tsx
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/shared/entityLink.tsx
  data-tool/src/renderer/src/views/shared/imageCache.ts
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/ordering.ts
  data-tool/src/shared/types.ts
Due: none

refactor: Sonar fixes
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/outfits/OutfitForm.tsx
  data-tool/src/renderer/src/views/shared/SortableTable.tsx
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/validate.ts
Due: none

fix: Sonar fixes
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/banners/BannerForm.tsx
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/materials/CommitPreview.tsx
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/renderer/src/views/outfits/OutfitForm.tsx
  data-tool/src/renderer/src/views/weapons/WeaponForm.tsx
Due: none

fix: Sonar fixes
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/main/updater.ts
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/outfits/OutfitForm.tsx
  data-tool/src/renderer/src/views/shared/SortableTable.tsx
  data-tool/src/renderer/src/views/shared/WikiFillPanel.tsx
  data-tool/src/renderer/src/views/shared/materialPicker.tsx
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/types.ts
Due: none

chore: Exclude all public files from scan
  sonar-project.properties
Due: none

fix: Sonar fixes
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/materials/CommitPreview.tsx
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/shared/entityLink.tsx
Due: none

build: Exclude all media filetypes
  sonar-project.properties
Due: none

fix: Improved HTML sanitization for wiki parsing
  data-tool/src/main/ipc/wiki.ts
Due: none

ci: Disable running scripts during CI install
  .github/workflows/data-tool-ci.yml
  .github/workflows/release.yml
Due: none

fix: Various sonar fixes
  data-tool/electron.vite.config.ts
  data-tool/scripts/normalize-format.ts
  data-tool/scripts/paths.ts
  data-tool/scripts/roundtrip-test.ts
  data-tool/scripts/validate-dataset.ts
  data-tool/src/renderer/index.html
Due: none

fix: Further sonar fixes
  data-tool/electron.vite.config.ts
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/main/updater.ts
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/shared/WikiFillPanel.tsx
  data-tool/src/renderer/src/views/shared/materialPicker.tsx
Due: none

test: Added some test cases to start work on wiki regex fixes
  data-tool/.gitignore
  data-tool/package-lock.json
  data-tool/package.json
  data-tool/src/main/ipc/wiki.test.ts
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/shared/materialsSchema.test.ts
  data-tool/src/shared/ordering.test.ts
  data-tool/src/shared/serialize.test.ts
  data-tool/src/shared/validate.test.ts
  data-tool/vitest.config.ts
Due: none

refactor: Resolve sonar issues
  data-tool/src/main/ipc/banners.ts
  data-tool/src/main/ipc/characters.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/main/ipc/outfits.ts
  data-tool/src/main/ipc/paths.test.ts
  data-tool/src/main/ipc/paths.ts
  data-tool/src/main/ipc/weapons.ts
Due: none

refactor: rewrite of regex checks for sonar
  data-tool/src/main/ipc/wiki.test.ts
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/renderer/src/views/materials/materialWiki.ts
  data-tool/src/renderer/src/views/weapons/WeaponForm.tsx
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/serialize.ts
Due: none

refactor: Rewrote functions for complexity issues with sonar
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/materials/CommitPreview.tsx
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/serialize.ts
  data-tool/src/shared/validate.ts
Due: none

ci: Added coverage report to sonarcloud
  .github/workflows/sonar.yml
  data-tool/vitest.config.ts
  sonar-project.properties
Due: none

fix: Regression fixes
  data-tool/src/main/ipc/paths.ts
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/shared/serialize.ts
  data-tool/src/shared/validate.ts
Due: none

fix: More sonar fixes
  data-tool/electron.vite.config.ts
  data-tool/src/main/ipc/characters.ts
  data-tool/src/main/ipc/dataset.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/main/ipc/outfits.ts
  data-tool/src/main/ipc/weapons.ts
  data-tool/src/renderer/src/views/materials/MaterialForm.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/renderer/src/views/materials/util.ts
Due: none

refactor: Continue attempting to resolve sonar fixes
  data-tool/src/main/datasetRoot.ts
  data-tool/src/main/index.ts
Due: none

refactor: Reduce duplications
  data-tool/src/main/ipc/banners.ts
  data-tool/src/main/ipc/characters.ts
  data-tool/src/main/ipc/entityStore.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/main/ipc/outfits.ts
  data-tool/src/main/ipc/weapons.ts
Due: none

test: Added more unit tests for data-tool
  data-tool/src/main/ipc/entityStore.test.ts
  data-tool/src/renderer/src/views/materials/materialWiki.test.ts
  data-tool/src/renderer/src/views/materials/util.test.ts
  data-tool/src/renderer/src/views/shared/wikiApply.test.ts
  data-tool/src/shared/entities.test.ts
  data-tool/src/shared/materialsSchema.test.ts
  data-tool/src/shared/validate.test.ts
  data-tool/vitest.config.ts
Due: none

build: Disable publishing
  data-tool/package.json
Due: none

fix: Various changes to resolve issues in the data tool code
  .github/workflows/data-tool-ci.yml
  .github/workflows/release.yml
  data-tool/scripts/roundtrip-test.ts
  data-tool/src/main/ipc/banners.ts
  data-tool/src/main/ipc/commit.ts
  data-tool/src/main/ipc/entityStore.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/main/ipc/validate.ts
  data-tool/src/main/ipc/wiki.ts
  data-tool/src/main/updater.ts
  data-tool/src/renderer/src/index.css
  data-tool/src/renderer/src/views/characters/CharacterForm.tsx
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/materials/TierSetForm.tsx
  data-tool/src/renderer/src/views/materials/useMaterials.ts
  data-tool/src/renderer/src/views/outfits/OutfitsView.tsx
  data-tool/src/renderer/src/views/validate/ValidationView.tsx
  data-tool/src/shared/materialsSchema.ts
  data-tool/src/shared/validate.ts
Due: none

refactor: Fixed data encoding
  public/data/Characters-Anemo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/EventBanners.json
Due: Update Firestore Public Data

fix: More review changes
  data-tool/src/main/ipc/banners.ts
  data-tool/src/main/ipc/entityStore.ts
  data-tool/src/main/ipc/materials.ts
  data-tool/src/main/ipc/validate.ts
  data-tool/src/renderer/src/views/materials/ImageField.tsx
  data-tool/src/renderer/src/views/materials/useMaterials.ts
  data-tool/src/renderer/src/views/outfits/OutfitsList.tsx
  data-tool/src/renderer/src/views/outfits/OutfitsView.tsx
  data-tool/src/renderer/src/views/validate/ValidationView.tsx
Due: none

fix: Further guards
  data-tool/src/main/ipc/validate.ts
  data-tool/src/renderer/src/views/materials/MaterialsList.tsx
  data-tool/src/renderer/src/views/materials/MaterialsView.tsx
  data-tool/src/renderer/src/views/materials/useMaterials.ts
  data-tool/src/renderer/src/views/outfits/OutfitsView.tsx
Due: none

chore(data): Added Luna VII P2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ancient_Flame_Ablaze_2026-06-09.png
  public/images/Banners/Character/Frostedge_Nocturne_2026-06-09.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-06-09.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Luna VII Materials
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Counterfeit_Resin.png
  public/images/Materials/Boss_Drops/Item_Profaned_Sprout.png
  public/images/Materials/Boss_Drops/Item_Twisted_Withered_Branch.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Nicole's data
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Pyro/Nicole.png
  public/images/Constellation/A_Lamp_by_Your_Side_A_Light_to_Shine_the_Way.png
  public/images/Constellation/Do_Not_Be_Afraid_Child_Who_Is_Loved.png
  public/images/Constellation/I_Will_Guide_You_and_Show_You_the_Path_You_Should_Tread.png
  public/images/Constellation/This_Is_the_Path_Walk_It_Without_Delay.png
  public/images/Constellation/Whether_Left_or_Right_No_Matter_Which_Way_You_Turn.png
  public/images/Constellation/You_Will_Hear_My_Voice_Beside_You.png
  public/images/Outfits/Full/Standard/Character_Nicole_Game.png
  public/images/Outfits/Wish/Standard/Character_Nicole_Full_Wish.png
  public/images/Talents/Burst/Talent_Revelation_Ladder_of_Divine_Ascent.png
  public/images/Talents/Normal/Catalyst_Pyro.png
  public/images/Talents/Passive/Talent_Light_in_the_Darkness.png
  public/images/Talents/Passive/Talent_Methexis.png
  public/images/Talents/Passive/Talent_Nepsis.png
  public/images/Talents/Passive/Talent_Philokalia.png
  public/images/Talents/Skill/Talent_Revelation_Uncreated_Light.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Lohen
  public/data/Characters-Cryo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Cryo/Lohen.png
  public/images/Constellation/In_Flight_I_Strike_Whatever_Flies.png
  public/images/Constellation/Never_Ask_Nor_Trouble_You_to_Know.png
  public/images/Constellation/O_Breezes_That_So_Oft_Bear_Sorrowful_Lament.png
  public/images/Constellation/Only_the_Spear_That_Wounds_Can_Heal.png
  public/images/Constellation/Radiant_Love_Laughing_Death.png
  public/images/Constellation/To_Drown_to_Sink_Unconscious_Supreme_Joy.png
  public/images/Outfits/Full/Standard/Character_Lohen_Game.png
  public/images/Outfits/Wish/Standard/Character_Lohen_Full_Wish.png
  public/images/Talents/Burst/Talent_Manifest_Judgment.png
  public/images/Talents/Normal/Polearm_Cryo.png
  public/images/Talents/Passive/Talent_Flippant_Masterpiece.png
  public/images/Talents/Passive/Talent_Moratorium_on_Questioning.png
  public/images/Talents/Passive/Talent_Unhealing_Thorn.png
  public/images/Talents/Passive/Talent_When_the_Mood_Strikes.png
  public/images/Talents/Skill/Talent_Unforeseen_Strike.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Prune
  public/data/Characters-Anemo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Prune.png
  public/images/Constellation/100_Defeats_No_Problem_Tomorrow_We_Go_Again.png
  public/images/Constellation/And_Thats_the_Story_Share_It_With_Your_Friends.png
  public/images/Constellation/Looking_Back_Following_the_Wind_Ones_Shadow_Still_Halved.png
  public/images/Constellation/The_Caravan_Exits_the_Mountain_Pass_the_Scenery_Once_More_Changed.png
  public/images/Constellation/Useful_for_Cleaning_Messy_Baggage_Elemental_Powers_Are_Indeed.png
  public/images/Constellation/With_a_Vow_to_Rescue_the_Journey_Begins.png
  public/images/Outfits/Full/Standard/Character_Prune_Game.png
  public/images/Outfits/Wish/Standard/Character_Prune_Full_Wish.png
  public/images/Talents/Burst/Talent_The_Bell_Tolls_The_Hunt_Is_On.png
  public/images/Talents/Normal/Catalyst_Anemo.png
  public/images/Talents/Passive/Talent_Tinker-Tink_Clank_and_Bang.png
  public/images/Talents/Passive/Talent_Tolling_Synchronicity.png
  public/images/Talents/Passive/Talent_Verdict_and_Punishment.png
  public/images/Talents/Passive/Talent_Witchseekers_Vow.png
  public/images/Talents/Skill/Talent_Ring-A-Ding-Ding_Hexhunter_Chime.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Luna VII weapons
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Catalyst/Weapon_Angelos_Heptades.png
  public/images/Weapons/Polearm/Weapon_Disaster_and_Remorse.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix: Hopefully final fix
  data-tool/src/renderer/src/views/materials/useMaterials.ts
Due: none

chore(data): Added Sandrone
  public/data/Characters-Cryo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Cryo/Sandrone.png
  public/images/Constellation/An_Heiress_Gazed_Into_the_Looking-Glass.png
  public/images/Constellation/In_Knowledge_Lies_the_Worlds_True_Ground.png
  public/images/Constellation/Morrow_After_the_Golden_Dusk.png
  public/images/Constellation/Narcissus_Wakes_Her_Eyes_Upon_the_Dawn.png
  public/images/Constellation/Of_All_Beside_She_Takes_No_Part.png
  public/images/Constellation/Refuse_the_Wake_of_Dusk_the_Moonlit_Yoke.png
  public/images/Outfits/Full/Standard/Character_Sandrone_Game.png
  public/images/Outfits/Wish/Standard/Character_Sandrone_Full_Wish.png
  public/images/Talents/Burst/Talent_Formule_Phenomenale_Q_E_D.png
  public/images/Talents/Normal/Claymore_Cryo.png
  public/images/Talents/Passive/Talent_A_Caucus_Prelude_and_a_Long_Tale.png
  public/images/Talents/Passive/Talent_A_Ladys_Code_of_Conduct.png
  public/images/Talents/Passive/Talent_Eternal_Speculation_Engine.png
  public/images/Talents/Passive/Talent_Light_of_Rationalisme.png
  public/images/Talents/Skill/Talent_Formule_Phenomenale_Differential_Analysis.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Luna VIII weapon
  public/data/Weapons-Claymore.json
  public/images/Weapons/Claymore/Weapon_A_Teaspoon_of_Transcendence.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Luna VIII materials
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Local_Specialities.json
  public/data/Weapons-Claymore.json
  public/images/Materials/Elite_Mob/Item_Depleted_Lunar_Iron.png
  public/images/Materials/Elite_Mob/Item_Fractured_Lunar_Iron.png
  public/images/Materials/Elite_Mob/Item_Unblemished_Lunar_Iron.png
  public/images/Materials/Local_Specialities/Item_Teardrop_of_the_Moon.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Luna VIII Themed outfits
  public/data/Characters-Cryo.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Thumbnail/Themed/Item_Hurlock_Variations.png
  public/images/Outfits/Thumbnail/Themed/Item_Whispers_of_Stars_and_Smoke.png
  public/images/Outfits/Wish/Themed/Character_Charlotte_Hurlock_Variations_Full_Wish.png
  public/images/Outfits/Wish/Themed/Character_Citlali_Whispers_of_Stars_and_Smoke_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Luna VIII banners
  public/data/EventBanners.json
  public/images/Banners/Character/Reign_of_Serenity_2026-07-21.png
  public/images/Banners/Character/Somnias_a_Luna_2026-07-21.png
  public/images/Banners/Character/Starry_Nights_Whispers_2026-07-01.png
  public/images/Banners/Character/To_the_Looking-Glass_the_Mademoiselle_Said_2026-07-01.png
  public/images/Banners/Chronicled/Heavenlit_Prophecy_2026-07-01.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-07-01.png
  public/images/Banners/Weapon/Epitome_Invocation_2026-07-21.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix(data): Fixed extra character (#2306)
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

fix(data): Hydro Traveler talent wrong item (#2305)
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
