Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

chore: Remove comments
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

chore(deps): Replaced dart_code_metrics with dart_code_linter
  analysis_options.yaml
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore: Added more analysis
  analysis_options.yaml
Due: none

chore(deps): Removed old dependency
  pubspec.yaml
Due: Deploy Dogfood to Firebase

build: Added IDX workspace information
  .idx/dev.nix
Due: none

build: Add htop
  .idx/dev.nix
Due: none

build: Add IDX configs
  .vscode/settings.json
Due: none

chore(data): Add 4.7 Phase 1 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Caution_in_Confidence_2024-06-05.png
  public/images/Banners/Character/Illuminating_Lightning_2024-06-05.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-06-05.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add new Phase 1 4.7 weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Cloudforged.png
  public/images/Weapons/Sword/Weapon_Absolution.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Sethos
  public/data/Characters-Electro.json
  public/data/Materials-Local_Specialities.json
  public/data/Outfits-Standard.json
  public/images/Characters/Electro/Sethos.png
  public/images/Constellation/Beneficent_Plumage.png
  public/images/Constellation/Ode_to_the_Moonrise_Sage.png
  public/images/Constellation/Papyrus_Scripture_of_Silent_Secrets.png
  public/images/Constellation/Pylon_of_the_Sojourning_Sun_Temple.png
  public/images/Constellation/Record_of_the_Desolate_Gods_Burning_Sands.png
  public/images/Constellation/Sealed_Shrines_Spiritsong.png
  public/images/Materials/Local_Specialities/Item_Trishiraite.png
  public/images/Outfits/Full/Standard/Character_Sethos_Game.png
  public/images/Outfits/Wish/Standard/Character_Sethos_Full_Wish.png
  public/images/Talents/Burst/Talent_Secret_Rite_Twilight_Shadowpiercer.png
  public/images/Talents/Normal/Bow_Electro.png
  public/images/Talents/Passive/Talent_Black_Kites_Enigma.png
  public/images/Talents/Passive/Talent_The_Sand_Kings_Boon.png
  public/images/Talents/Passive/Talent_Thoths_Revelation.png
  public/images/Talents/Skill/Talent_Ancient_Rite_The_Thundering_Sands.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Clorinde data
  public/data/Characters-Electro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Electro/Clorinde.png
  public/images/Constellation/And_So_Shall_I_Never_Despair.png
  public/images/Constellation/From_This_Day_I_Pass_the_Candles_Shadow-Veil.png
  public/images/Constellation/Holding_Dawns_Coming_as_My_Votive.png
  public/images/Constellation/I_Pledge_to_Remember_the_Oath_of_Daylight.png
  public/images/Constellation/Now_As_We_Face_the_Perils_of_the_Long_Night.png
  public/images/Constellation/To_Enshrine_Tears_Life_and_Love.png
  public/images/Outfits/Full/Standard/Character_Clorinde_Game.png
  public/images/Outfits/Wish/Standard/Character_Clorinde_Full_Wish.png
  public/images/Talents/Burst/Talent_Last_Lightfall.png
  public/images/Talents/Normal/Sword_Electro.png
  public/images/Talents/Passive/Talent_Dark-Shattering_Flame.png
  public/images/Talents/Passive/Talent_Lawful_Remuneration.png
  public/images/Talents/Passive/Talent_Night_Vigils_Harvest.png
  public/images/Talents/Skill/Talent_Hunters_Vigil.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed escaping
  public/data/Characters-Electro.json
Due: Update Firestore Public Data

ci: Add repo update command
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

ci: Further update to pod install process
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

chore(ios): Update to iOS 13 minimum version
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile
Due: Deploy Dogfood to Firebase

chore(data): Added 4.7 Phase 2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Chanson_of_Many_Waters_2024-06-25.png
  public/images/Banners/Character/Romaritime_Meluserenity_2024-06-25.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-06-25.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(deps): Added new bow
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Weapon_Silvershower_Heartstrings.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Sigewinne information
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Sigewinne.png
  public/images/Constellation/Can_the_Happiest_of_Spirits_Understand_Anxiety.png
  public/images/Constellation/Can_the_Healthiest_of_Spirits_Cure_Fevers.png
  public/images/Constellation/Can_the_Loveliest_of_Spirits_Keep_Decay_at_Bay.png
  public/images/Constellation/Can_the_Most_Joyful_of_Spirits_Alleviate_Agony.png
  public/images/Constellation/Can_the_Most_Merciful_of_Spirits_Defeat_Its_Foes.png
  public/images/Constellation/Can_the_Most_Radiant_of_Spirits_Pray_For_Me.png
  public/images/Talents/Burst/Talent_Super_Saturated_Syringing.png
  public/images/Talents/Normal/Bow_Hydro.png
  public/images/Talents/Passive/Talent_Detailed_Diagnosis_Thorough_Treatment.png
  public/images/Talents/Passive/Talent_Emergency_Dose.png
  public/images/Talents/Passive/Talent_Requires_Appropriate_Rest.png
  public/images/Talents/Skill/Talent_Rebound_Hydrotherapy.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Sigewinne outfit
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Sigewinne_Game.png
  public/images/Outfits/Wish/Standard/Character_Sigewinne_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix(data): Gaming was accidentally set to a 5* (#1441)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

chore(data): Added 4.8 Phase 1 banner information
  public/data/EventBanners.json
  public/images/Banners/Character/In_the_Name_of_the_Rosula_2024-07-17.png
  public/images/Banners/Character/Twirling_Lotus_2024-07-17.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-07-17.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Phase 2 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ambrosial_Essence_2024-08-06.png
  public/images/Banners/Character/Discerner_of_Enigmas_2024-08-06.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-08-06.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Lumidouce Elegy
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/Weapon_Lumidouce_Elegy.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added all 4.8 new outfits
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Standard/Character_Emilie_Game.png
  public/images/Outfits/Full/Themed/Outfit_Breeze_of_Sabaa_Game.png
  public/images/Outfits/Full/Themed/Outfit_Phantom_in_Boots_Game.png
  public/images/Outfits/Thumbnail/Themed/Item_Breeze_of_Sabaa.png
  public/images/Outfits/Thumbnail/Themed/Item_Phantom_in_Boots.png
  public/images/Outfits/Wish/Standard/Character_Emilie_Full_Wish.png
  public/images/Outfits/Wish/Themed/Character_Kirara_Phantom_in_Boots_Full_Wish.png
  public/images/Outfits/Wish/Themed/Character_Nilou_Breeze_of_Sabaa_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Emilie
  public/data/Characters-Dendro.json
  public/data/Characters-Hydro.json
  public/images/Characters/Dendro/Emilie.png
  public/images/Constellation/Exquisite_Essence.png
  public/images/Constellation/Lakelight_Top_Note.png
  public/images/Constellation/Light_Fragrance_Leaching.png
  public/images/Constellation/Lumidouce_Heart_Note.png
  public/images/Constellation/Marcotte_Sillage.png
  public/images/Constellation/Puredew_Aroma.png
  public/images/Talents/Burst/Talent_Aromatic_Explication.png
  public/images/Talents/Passive/Talent_Headspace_Capture.png
  public/images/Talents/Passive/Talent_Lingering_Fragrance.png
  public/images/Talents/Passive/Talent_Rectification.png
  public/images/Talents/Skill/Talent_Fragrance_Extraction.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

ci: Lock at Flutter 3.22 for now
  .github/workflows/flutter.yml
Due: none

chore(data): Fix date formatting
  public/data/EventBanners.json
Due: Update Firestore Public Data

ci: Standardize Flutter Compiling Version to a variable
  .github/workflows/codeql-analysis.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

ci: Add to step name the defined compile version
  .github/workflows/codeql-analysis.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

chore(data): Added 5.0 Phase 1 Banner items
  public/data/EventBanners.json
  public/images/Banners/Character/Leaves_in_the_Wind_2024-08-28.png
  public/images/Banners/Character/Sharktacular_Surfari_2024-08-28.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-08-28.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added boss drops, common and elite mob drops and specialities
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Boss_Drops/Item_Mark_of_the_Binding_Blessing.png
  public/images/Materials/Boss_Drops/Item_Overripe_Flamegranate.png
  public/images/Materials/Common_Mob/Item_Juvenile_Fang.png
  public/images/Materials/Common_Mob/Item_Saurian-Crowned_Warriors_Golden_Whistle.png
  public/images/Materials/Common_Mob/Item_Seasoned_Fang.png
  public/images/Materials/Common_Mob/Item_Sentrys_Wooden_Whistle.png
  public/images/Materials/Common_Mob/Item_Tyrants_Fang.png
  public/images/Materials/Common_Mob/Item_Warriors_Metal_Whistle.png
  public/images/Materials/Elite_Mob/Item_Axis_of_the_Secret_Source.png
  public/images/Materials/Elite_Mob/Item_Heart_of_the_Secret_Source.png
  public/images/Materials/Elite_Mob/Item_Ignited_Seed_of_Life.png
  public/images/Materials/Elite_Mob/Item_Ignited_Seeing_Eye.png
  public/images/Materials/Elite_Mob/Item_Ignited_Stone.png
  public/images/Materials/Elite_Mob/Item_Locus_of_a_Clear_Will.png
  public/images/Materials/Elite_Mob/Item_Shard_of_a_Shattered_Will.png
  public/images/Materials/Elite_Mob/Item_Sheath_of_the_Secret_Source.png
  public/images/Materials/Elite_Mob/Item_Sigil_of_a_Striding_Will.png
  public/images/Materials/Local_Specialities/Item_Brilliant_Chrysanthemum.png
  public/images/Materials/Local_Specialities/Item_Quenepa_Berry.png
  public/images/Materials/Local_Specialities/Item_Saurian_Claw_Succulent.png
  public/images/Materials/Local_Specialities/Item_Sprayfeather_Gill.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Domain materials
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Mastery_Domain.json
  public/images/Materials/Forgery_Domain/Item_Blazing_Sacrificial_Hearts_Hesitance.png
  public/images/Materials/Forgery_Domain/Item_Blazing_Sacrificial_Hearts_Resolve.png
  public/images/Materials/Forgery_Domain/Item_Blazing_Sacrificial_Hearts_Splendor.png
  public/images/Materials/Forgery_Domain/Item_Blazing_Sacrificial_Hearts_Terror.png
  public/images/Materials/Forgery_Domain/Item_Delirious_Decadence_of_the_Sacred_Lord.png
  public/images/Materials/Forgery_Domain/Item_Delirious_Demeanor_of_the_Sacred_Lord.png
  public/images/Materials/Forgery_Domain/Item_Delirious_Desolation_of_the_Sacred_Lord.png
  public/images/Materials/Forgery_Domain/Item_Delirious_Divinity_of_the_Sacred_Lord.png
  public/images/Materials/Forgery_Domain/Item_Night-Winds_Mystic_Augury.png
  public/images/Materials/Forgery_Domain/Item_Night-Winds_Mystic_Consideration.png
  public/images/Materials/Forgery_Domain/Item_Night-Winds_Mystic_Premonition.png
  public/images/Materials/Forgery_Domain/Item_Night-Winds_Mystic_Revelation.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Conflict.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Contention.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Kindling.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Conflict.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Contention.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Kindling.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Conflict.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Contention.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Kindling.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.0 Phase 1 Weapons
  public/data/Materials-Forgery_Domain.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Chain_Breaker.png
  public/images/Weapons/Catalyst/Weapon_Ash-Graven_Drinking_Horn.png
  public/images/Weapons/Catalyst/Weapon_Ring_of_Yaxche.png
  public/images/Weapons/Catalyst/Weapon_Surfs_Up.png
  public/images/Weapons/Claymore/Weapon_Earth_Shaker.png
  public/images/Weapons/Polearm/Weapon_Footprint_of_the_Rainbow.png
  public/images/Weapons/Sword/Weapon_Flute_of_Ezpitzal.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.0 Phase 1 Character Outfits
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Kachina_Game.png
  public/images/Outfits/Full/Standard/Character_Mualani_Game.png
  public/images/Outfits/Wish/Standard/Character_Kachina_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Mualani_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.0 Phase 1 characters (Mualani, Kachina)
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/images/Characters/Geo/Kachina.png
  public/images/Characters/Hydro/Mualani.png
  public/images/Constellation/All_Ive_Collected_Till_Now.png
  public/images/Constellation/Improved_Stabilizer.png
  public/images/Constellation/More_Foes_More_Caution.png
  public/images/Constellation/Mualani_Going_All_Out.png
  public/images/Constellation/Never_Leave_Home_Without_Turbo_Twirly.png
  public/images/Constellation/Same_Style_of_Surfboard_on_Sale.png
  public/images/Constellation/Shards_Are_Gems_Too.png
  public/images/Constellation/Sharky_Eats_Puffies.png
  public/images/Constellation/Spirit_of_the_Springs_People.png
  public/images/Constellation/Surfing_Atop_Joyous_Seas.png
  public/images/Constellation/The_Leisurely_Meztli.png
  public/images/Constellation/This_Time_Ive_Gotta_Win.png
  public/images/Talents/Burst/Talent_Boomsharka-laka.png
  public/images/Talents/Burst/Talent_Time_to_Get_Serious.png
  public/images/Talents/Normal/Polearm_Geo.png
  public/images/Talents/Passive/Talent_Boon_of_Crystal_Flame.png
  public/images/Talents/Passive/Talent_Crests_and_Troughs.png
  public/images/Talents/Passive/Talent_Heart_of_Unity.png
  public/images/Talents/Passive/Talent_Heat-Resistant_Freshwater_Floater.png
  public/images/Talents/Passive/Talent_Mountain_Echoes.png
  public/images/Talents/Passive/Talent_Natlans_Greatest_Guide.png
  public/images/Talents/Passive/Talent_The_Trick_Is_to_Keep_Smiling.png
  public/images/Talents/Passive/Talent_The_Weight_of_Stone.png
  public/images/Talents/Skill/Talent_Go_Go_Turbo_Twirly.png
  public/images/Talents/Skill/Talent_Surfshark_Wavebreaker.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix(data): Update Kachina talent order
  public/data/Characters-Geo.json
Due: Update Firestore Public Data

ci: Switched to sonar ci-based analysis
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

ci: Disable C/C++/Obj-C scanning
  sonar-project.properties
Due: none

ci: Replace secrets with test samples instead
  .github/workflows/sonar.yml
Due: none

ci: Workaround for better Flutter support Hopefully resolves the multitude of issues detected atm
  .github/workflows/sonar.yml
Due: none

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
