Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Update Firestore Public Data: any of: public/data/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Cleaned up UI for parametric transformer notification (#126)
  firebase/firestore.rules
  lib/widgets/bottomnav.dart
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Firebase Security Rules, Deploy Dogfood to Firebase

Ran through dart fmt (#126)
  lib/widgets/bottomnav.dart
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

Added settings to the parametric transformer page as well (#126)
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

Implemented parametric transformer scheduling (#126)
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

Fixed formatting for parametric transformer (#126)
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

Implemented the launch app button (#126)
  android/app/src/main/AndroidManifest.xml
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Update iOS deployment (#126)
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
Due: Deploy Dogfood to Firebase

Fixed some code quality issues (#126)
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

Make parametric reminder automatically update itself upon entering the page
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

1.5.2 update with parametric transformer notifier
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Migrate importer to util and renamed it (#104)
  .gitignore
  util/backupTracker.js
  util/backupUserData.js
  util/index.js
  util/package-lock.json
  util/package.json
  util/restore.js
Due: none

Update gitlab-ci references (#104)
  .gitlab-ci.yml
Due: none

Finished up crawler for promo code (#104)
  util/package-lock.json
  util/package.json
  util/promocrawler.js
Due: none

Added TODO for future auto notification of promo codes (#104)
  util/promocrawler.js
Due: none

Added new cron job for crawling for promo codes (#104)
  .gitlab-ci.yml
Due: none

Prevent detached pipelines
  .gitlab-ci.yml
Due: none

Fixed pipelining issues
  .gitlab-ci.yml
Due: none

Cron only runs on master branch commits and schedule
  .gitlab-ci.yml
Due: none

Fixed logging for promo codes
  util/promocrawler.js
Due: none

Fix crash from GitHub Actions
  .github/workflows/importer.yml
Due: none

Fixed dependencies for Cron job
  .gitlab-ci.yml
Due: none

Implemented basic page to display promotion codes in app (#39)
  lib/main.dart
  lib/models/promocodedata.dart
  lib/widgets/bottomnav.dart
  lib/widgets/promocode.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Disable integration test for now
  integration_test/app_test.dart
  integration_test/driver.dart
Due: Deploy Dogfood to Firebase

Add space between the 2 parametric converter buttons for web (#139)
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

Disable promo code page for web (#139)
  lib/widgets/promocode.dart
Due: Deploy Dogfood to Firebase

1.5.3 update with promo codes
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Parametric Transformer actually takes 6 days 22 hours instead of 7 days
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

1.5.4 update to fix parametric transformer countdown period
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

1.5.4 hotfix for parametric notification
  CHANGELOG.md
  LATEST
  VERSION
  lib/helpers/notifications.dart
Due: Deploy Dogfood to Firebase

1.5.5 update
  CHANGELOG.md
  VERSION
Due: Deploy Dogfood to Firebase

Updated notifications to use seperate channels instead
  lib/helpers/notifications.dart
Due: Deploy Dogfood to Firebase

1.5.6 update with notification channel tweaks
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Add firebase realtime DB rules to git
  .gitlab-ci.yml
  firebase/database.rules.json
  firebase/firebase.json
Due: Deploy Firebase Security Rules

Rules were being denied
  firebase/database.rules.json
Due: Deploy Firebase Security Rules

Attempt to prevent reads from all except the main database
  firebase/database.rules.json
Due: Deploy Firebase Security Rules

Make it such that only authenticated users can read all codes
  firebase/database.rules.json
Due: Deploy Firebase Security Rules

Add new Gitpod Cloud IDE support with digital signing
  .gitpod.yml
Due: none

Add images for Eula and Yanfei
  public/images/Characters/Cryo/Eula.png
  public/images/Characters/Pyro/Yanfei.png
  public/unreleasedchar.json
Due: none

New GitPod Dockerfile for stable Flutter
  .gitpod.Dockerfile
Due: none

Update .gitpod.yml for Flutter support
  .gitpod.yml
Due: none
