Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

chore(data): Added Phase 2 banner sequences
  public/data/EventBanners.json
  public/images/Banners/Character/Farewell_of_Snezhnaya_2023-09-05.png
  public/images/Banners/Character/Gentry_of_Hermitage_2023-09-05.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-09-05.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update Lynette Wish image
  public/data/Outfits-Standard.json
  public/images/Outfits/Wish/Standard/Character_Lynette_Full_Wish.png
  public/images/Outfits/Wish/Standard/Lynette_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added BP, Forging and Fising weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Scion_of_the_Blazing_Sun.png
  public/images/Weapons/Bow/Weapon_Song_of_Stillness.png
  public/images/Weapons/Catalyst/Weapon_Flowing_Purity.png
  public/images/Weapons/Catalyst/Weapon_Sacrificial_Jade.png
  public/images/Weapons/Claymore/Weapon_Talking_Stick.png
  public/images/Weapons/Claymore/Weapon_Tidal_Shadow.png
  public/images/Weapons/Polearm/Weapon_Ballad_of_the_Fjords.png
  public/images/Weapons/Polearm/Weapon_Rightful_Reward.png
  public/images/Weapons/Sword/Weapon_Finale_of_the_Deep.png
  public/images/Weapons/Sword/Weapon_Fleuve_Cendre_Ferryman.png
  public/images/Weapons/Sword/Weapon_Wolf-Fang.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed missing image
  public/data/Weapons-Catalyst.json
Due: Update Firestore Public Data

chore: Add Freminet data
  public/data/Characters-Cryo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Cryo/Freminet.png
  public/images/Constellation/Dance_of_the_Snowy_Moon_and_Flute.png
  public/images/Constellation/Dreams_of_the_Foamy_Deep.png
  public/images/Constellation/Moment_of_Waking_and_Resolve.png
  public/images/Constellation/Nights_of_Hearth_and_Happiness.png
  public/images/Constellation/Penguins_and_the_Land_of_Plenty.png
  public/images/Constellation/Song_of_the_Eddies_and_Bleached_Sands.png
  public/images/Outfits/Full/Standard/Character_Freminet_Game.png
  public/images/Outfits/Wish/Standard/Character_Freminet_Full_Wish.png
  public/images/Talents/Burst/Talent_Shadowhunters_Ambush.png
  public/images/Talents/Normal/Claymore_Cryo.png
  public/images/Talents/Passive/Talent_Deepwater_Navigation.png
  public/images/Talents/Passive/Talent_Parallel_Condensers.png
  public/images/Talents/Passive/Talent_Saturation_Deep_Dive.png
  public/images/Talents/Skill/Talent_Pressurized_Floe.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Updated Lynette's image
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Lynette_Game.png
  public/images/Outfits/Full/Standard/Lynette_Portrait.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Phase 1 event banners for 4.1
  public/data/EventBanners.json
  public/images/Banners/Character/Decree_of_the_Deeps_2023-09-27.png
  public/images/Banners/Character/Moment_of_Bloom_2023-09-27.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-09-27.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Neuvillette
  public/data/Characters-Hydro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Hydro/Neuvillette.png
  public/images/Constellation/Ancient_Postulation.png
  public/images/Constellation/Axiomatic_Judgment.png
  public/images/Constellation/Crown_of_Commiseration.png
  public/images/Constellation/Juridical_Exhortation.png
  public/images/Constellation/Venerable_Institution.png
  public/images/Constellation/Wrathful_Recompense.png
  public/images/Outfits/Full/Standard/Character_Neuvillette_Game.png
  public/images/Outfits/Wish/Standard/Character_Neuvillette_Full_Wish.png
  public/images/Talents/Burst/Talent_O_Tides_I_Have_Returned.png
  public/images/Talents/Normal/Catalyst_Hydro.png
  public/images/Talents/Passive/Talent_Discipline_of_the_Supreme_Arbitration.png
  public/images/Talents/Passive/Talent_Gather_Like_the_Tide.png
  public/images/Talents/Passive/Talent_Heir_to_the_Ancient_Seas_Authority.png
  public/images/Talents/Skill/Talent_O_Tears_I_Shall_Repay.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update weapons and materials for 4.1 Phase 1
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Local_Specialities.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Sword.json
  public/images/Materials/Boss_Drops/Item_Fontemer_Unihorn.png
  public/images/Materials/Boss_Drops/Item_Tourbillon_Device.png
  public/images/Materials/Elite_Mob/Item_Old_Operatives_Pocket_Watch.png
  public/images/Materials/Elite_Mob/Item_Operatives_Constancy.png
  public/images/Materials/Elite_Mob/Item_Operatives_Standard_Pocket_Watch.png
  public/images/Materials/Local_Specialities/Item_Lumitoile.png
  public/images/Materials/Local_Specialities/Item_Subdetection_Unit.png
  public/images/Weapons/Catalyst/Weapon_Tome_of_the_Eternal_Flow.png
  public/images/Weapons/Claymore/Weapon_Portable_Power_Saw.png
  public/images/Weapons/Sword/Weapon_The_Dockhands_Assistant.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated GLB models for various new characters
  public/data/Outfits-Standard.json
Due: Update Firestore Public Data

chore(data): Added GLB Models for Rosaria and Razor
  public/data/Outfits-Standard.json
Due: Update Firestore Public Data

chore(data): Updated images for various characters This should resolve the last few issues with the 4.0 and 4.1 phase 1 updates
  public/images/Outfits/Full/Standard/Character_Freminet_Game.png
  public/images/Outfits/Full/Standard/Character_Neuvillette_Game.png
Due: Update Google Cloud Storage Data

chore(data): Added 4.1 Phase 2 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ballad_in_Goblets_2023-10-17.png
  public/images/Banners/Character/Tempestuous_Destiny_2023-10-17.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-10-17.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix(data): Messed up the images
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Added Wriothesley data
  public/data/Characters-Cryo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Cryo/Wriothesley.png
  public/images/Constellation/Esteem_for_the_Innocent.png
  public/images/Constellation/Mercy_for_the_Wronged.png
  public/images/Constellation/Punishment_for_the_Frauds.png
  public/images/Constellation/Redemption_for_the_Suffering.png
  public/images/Constellation/Shackles_for_the_Arrogant.png
  public/images/Constellation/Terror_for_the_Evildoers.png
  public/images/Outfits/Full/Standard/Character_Wriothesley_Game.png
  public/images/Outfits/Wish/Standard/Character_Wriothesley_Full_Wish.png
  public/images/Talents/Catalyst_Cryo.png
  public/images/Talents/Talent_Darkgold_Wolfbite.png
  public/images/Talents/Talent_Icefang_Rush.png
  public/images/Talents/Talent_The_Dukes_Grace.png
  public/images/Talents/Talent_There_Shall_Be_a_Plea_for_Justice.png
  public/images/Talents/Talent_There_Shall_Be_a_Reckoning_for_Sin.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 4.1 Phase 2 weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Range_Gauge.png
  public/images/Weapons/Catalyst/Weapon_Ballad_of_the_Boundless_Blue.png
  public/images/Weapons/Catalyst/Weapon_Cashflow_Supervision.png
  public/images/Weapons/Polearm/Weapon_Prospectors_Drill.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Update gradle code to align with new Flutter projects
  android/app/build.gradle
  android/settings.gradle
Due: Deploy Dogfood to Firebase

chore(deps): Updated all flutter dependencies
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Update transitive dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore: Disabled device_apps
  lib/widgets/drawer.dart
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Upgraded InAppWebView to v6 beta
  lib/util.dart
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): upgraded package_info_plus to 4.2.0
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Removed incompatible dependency (store_redirect)
  lib/widgets/drawer.dart
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Upgraded all firebase packages
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

fix: Updated AppCheck provider for web
  lib/main.dart
Due: Deploy Dogfood to Firebase

chore(deps): Forced migrate off dart_code_metrics for now
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

revert: Put back packages for now
  lib/widgets/drawer.dart
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

ci: Use JDK 17 instead of 11
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

chore: Placed AGP 8.1 template changes first
  android/app/build.gradle
  android/gradle.properties
Due: Deploy Dogfood to Firebase

chore: Upgraded to Android SDK 34
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

chore: Downgrade Kotlin to 1.8.22
  android/build.gradle
Due: Deploy Dogfood to Firebase

chore(deps): Fixes for iOS and Web with dependency upgrades
  README.md
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  web/index.html
Due: Deploy Dogfood to Firebase

ci: Switched to latest macos for newer XCode versions
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

ci: Upgrade to macos 13 runner
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

docs: 3.0.6 release
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

chore(deps): Updated material_design_icons_flutter to 7.0.7296
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

ci: Removed --no-tree-shake-icons flag
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
Due: none

fix: Update MD Icons to not be a const for now
  lib/widgets/appsettings.dart
  lib/widgets/characters.dart
  lib/widgets/mainnavs.dart
  lib/widgets/outfits.dart
  lib/widgets/weapons.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

chore(docs): Fixed talent images for Wriothesley
  public/images/Talents/Burst/Talent_Darkgold_Wolfbite.png
  public/images/Talents/Normal/Catalyst_Cryo.png
  public/images/Talents/Passive/Talent_The_Dukes_Grace.png
  public/images/Talents/Passive/Talent_There_Shall_Be_a_Plea_for_Justice.png
  public/images/Talents/Passive/Talent_There_Shall_Be_a_Reckoning_for_Sin.png
  public/images/Talents/Skill/Talent_Icefang_Rush.png
Due: Update Google Cloud Storage Data

chore(data): Updated event banners for 4.2 Phase 1
  public/data/EventBanners.json
  public/images/Banners/Character/Chanson_of_Many_Waters_2023-11-08.png
  public/images/Banners/Character/Immaculate_Pulse_2023-11-08.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-11-08.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
