Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

ci: Temporary disabled tree shaking for web
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
Due: none

fix: Fixed nullable string preventing build
  lib/widgets/promocode.dart
Due: Deploy Dogfood to Firebase

chore: Update iOS and Android files
  android/build.gradle
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
Due: Deploy Dogfood to Firebase

chore(data): Added 3.7 Phase 1 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Everbloom_Violet_2023-05-24.png
  public/images/Banners/Character/Tapestry_of_Golden_Flames_2023-05-24.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-05-24.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Kirara Data
  public/data/Characters-Dendro.json
  public/data/Outfits-Standard.json
  public/images/Constellation/A_Thousand_Miles_in_a_Day.png
  public/images/Constellation/Countless_Sights_to_See.png
  public/images/Constellation/Material_Circulation.png
  public/images/Constellation/Perfectly_Packaged.png
  public/images/Constellation/Steed_of_Skanda.png
  public/images/Constellation/Universal_Recognition.png
  public/images/Outfits/Full/Standard/Character_Kirara_Game.png
  public/images/Outfits/Wish/Standard/Character_Kirara_Full_Wish.png
  public/images/Talents/Burst/Talent_Secret_Art_Surprise_Dispatch.png
  public/images/Talents/Passive/Talent_Bewitching_Betwitching_Tails.png
  public/images/Talents/Passive/Talent_Cats_Creeping_Carriage.png
  public/images/Talents/Passive/Talent_Pupillary_Variance.png
  public/images/Talents/Skill/Talent_Meow-teor_Kick.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Ibis Piercer weapon
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Weapon_Ibis_Piercer.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Forgot add Kirara image
  public/images/Characters/Dendro/Kirara.png
Due: Update Google Cloud Storage Data

Naming updates
  lib/widgets/testpage.dart
Due: Deploy Dogfood to Firebase

Create a complete Alpha test on all the character models we have right now
  lib/main.dart
  lib/widgets/drawer.dart
  lib/widgets/testpage.dart
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Add some test code to test out 3d modelling
  android/app/src/main/AndroidManifest.xml
  lib/main.dart
  lib/widgets/drawer.dart
  lib/widgets/testpage.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Testing another version of the Model viewer
  lib/widgets/testpage.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Switched back to versioned versions of model_viewer_plus
  pubspec.lock
Due: Deploy Dogfood to Firebase

Various updates to enable iOS and Web support
  lib/widgets/testpage.dart
  web/index.html
Due: Deploy Dogfood to Firebase

Used proper CDN for model-viewer with SRI checks
  web/index.html
Due: Deploy Dogfood to Firebase

Switched back to versioned versions of model_viewer_plus
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Added 3.0 Models
  lib/widgets/testpage.dart
Due: Deploy Dogfood to Firebase

Changes to resolve iOS build
  ios/Runner.xcodeproj/project.pbxproj
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore: Properly updated deps after conflict resolution
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore: Updated some dependencies to make the app generate again
  lib/widgets/testpage.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Use the official outfits dataset instead
  firebase/firestore.rules
  lib/helpers/grid.dart
  lib/models/characterdata.dart
  lib/models/outfitdata.dart
  lib/util.dart
  lib/widgets/testpage.dart
Due: Deploy Firebase Security Rules, Deploy Dogfood to Firebase

feat: Implemented Outfit List, General info and 3D Model
  lib/helpers/grid.dart
  lib/main.dart
  lib/models/outfitdata.dart
  lib/widgets/drawer.dart
  lib/widgets/outfits.dart
  lib/widgets/testpage.dart
Due: Deploy Dogfood to Firebase

chore: Removed test pages as it is no longer required
  lib/helpers/grid.dart
  lib/main.dart
  lib/widgets/drawer.dart
  lib/widgets/outfits.dart
  lib/widgets/testpage.dart
Due: Deploy Dogfood to Firebase

feat: Add outfits tab to character info
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

fix: Make sure we only obtain all costumes before saving to static data
  lib/widgets/outfits.dart
Due: Deploy Dogfood to Firebase

chore: Added word "outfit"
  lib/widgets/outfits.dart
Due: Deploy Dogfood to Firebase

feat: Update Dart version requirement
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore: Refactor code
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/listeners/sorter.dart
  lib/main.dart
  lib/models/outfitdata.dart
  lib/placeholder.dart
  lib/util.dart
  lib/widgets/drawer.dart
  lib/widgets/globaltracking.dart
  lib/widgets/materials.dart
  lib/widgets/promocode.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

chore: Remove duplicate and useless mounted check
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

chore: Update Outfits that were outdated (#939)
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Standard/Character_Yaoyao_Game.png
  public/images/Outfits/Full/Themed/Outfit_A_Sobriquet_Under_Shade_Game.png
  public/images/Outfits/Full/Themed/Outfit_Springbloom_Missive_Game.png
  public/images/Outfits/Wish/Themed/Outfit_A_Sobriquet_Under_Shade_Preview.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated available 3D Models
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

feat: Enable right click functionality for web (#877)
  lib/widgets/globaltracking.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

feat: Migrate to Play Integrity (#886)
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

Upgrade to Gradle 7.3.0
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Due: Deploy Dogfood to Firebase

chore: Bump to AGP 7.4.2 and Gradle 8.1
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Due: Deploy Dogfood to Firebase

chore(deps): Bump flutter_file_dialog from 3.0.0 to 3.0.1
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore: Set Kotlin toolchain to JDK 11 as well
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

chore: Downgrade Gradle to 7.6
  android/app/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Due: Deploy Dogfood to Firebase

feat: Migrated date_time_picker library
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Upgraded Notifications library (#1075)
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  lib/widgets/drawer.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase
