Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Update Firestore Public Data: any of: public/data/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Removed get_version.sh as we do not need that (#106)
  .gitlab-ci.yml
Due: none

Update flutter and add json file to artifact (#106)
  .gitlab-ci.yml
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Release.xcconfig
  pubspec.lock
Due: Deploy Dogfood to Firebase

Added ability to synchronize images with that from the repository (#108)
  .gitlab-ci.yml
  public/images/CHANGELOG.md
Due: none

Testing alpine image (#108)
  .gitlab-ci.yml
Due: none

Forgot gs path (#108)
  .gitlab-ci.yml
Due: none

Test GCS deletion (#108)
  public/images/CHANGELOG.md
Due: none

Update changes to trigger (#108)
  .gitlab-ci.yml
Due: none

nvm does not trigger. We will just push this up (#108)
  .gitlab-ci.yml
Due: none

Added most of what we know about Hu Tao (#38)
  public/unreleasedchar.json
Due: none

Added most of what we know about Rosaria right now (#38)
  public/unreleasedchar.json
Due: none

Updated data for Ayaka
  public/unreleasedchar.json
Due: none

Fixed error loading code quality report
  .gitlab-ci.yml
Due: none

Fixed Tier 10 Talents not showing its roman numeral in tracker page (#105)
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Some updates made to analysis option and start work reformatting files (#109)
  analysis_options.yaml
  lib/main.dart
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase

Lint fixes for app settings (#109)
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Lint fixes for listeners package (#109)
  lib/listeners/sorter.dart
  lib/listeners/themeNotifier.dart
Due: Deploy Dogfood to Firebase

Update all data objects (#109)
  lib/models/characterdata.dart
  lib/models/commondata.dart
  lib/models/materialdata.dart
  lib/models/trackdata.dart
  lib/models/weapondata.dart
Due: Deploy Dogfood to Firebase

Moved helper classes from model package to helpers package (#109)
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/models/weapondata.dart
  lib/widgets/appsettings.dart
  lib/widgets/bottomnav.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/materials.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Fixed linting for helper classes (#109)
  analysis_options.yaml
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
Due: Deploy Dogfood to Firebase

Updated linting for non packaged dart files (#109)
  lib/placeholder.dart
  lib/util.dart
Due: Deploy Dogfood to Firebase

Fixed linting for weapon widgets (#109)
  lib/helpers/tracker.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Fixed lint on tracking widgets (#109)
  analysis_options.yaml
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Fixed lint for splash and login widgets (#109)
  lib/widgets/login.dart
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

Fixed linting for weapon widgets (#109)
  lib/helpers/grid.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Fixed linting for bottom navigation and global tracking widgets (#109)
  lib/widgets/bottomnav.dart
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase

Fixed lint issues for character widgets (#109)
  lib/helpers/grid.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Ran through one final Flutter formatting to finish up (#109)
  lib/listeners/sorter.dart
  lib/main.dart
  lib/models/weapondata.dart
  lib/widgets/bottomnav.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/login.dart
  lib/widgets/materials.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Affix method count in a class (#109)
  analysis_options.yaml
Due: none

Updated changelog for now
  LATEST
Due: none

Added order into the talents section
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/unreleasedchar.json
Due: Update Firestore Public Data

Fixed referencing
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

Fixed ordering of talents for characters (#111)
  lib/models/characterdata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Implement Constellation page for characters (#99)
  lib/models/characterdata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Pass material data from main controller as well (#99)
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Add trailing comma lint (#99)
  lib/models/characterdata.dart
Due: Deploy Dogfood to Firebase

Prepare 1.3.1 changelog
  CHANGELOG.md
  LATEST
Due: none

1.3.1 app update with Character Constellations
  VERSION
Due: Deploy Dogfood to Firebase

Add unknown char image for Hu Tao (#38)
  public/images/Characters/Pyro/Hu_Tao.png
  public/images/Constellation/Placeholder.png
  public/images/Placeholder.png
  public/images/Talents/Burst/Placeholder.png
  public/images/Talents/Normal/Placeholder.png
  public/images/Talents/Passive/Placeholder.png
  public/images/Talents/Skill/Placeholder.png
  public/images/Unknown.png
Due: none

Prepare for Hu Tao's release possibly next week (#38)
  public/data/Characters-Pyro.json
  public/unreleasedchar.json
Due: Update Firestore Public Data

Updated some recently updated data on Rosaria (#37)
  public/unreleasedchar.json
Due: none
