Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

fix(cf): Add banner name to data as well when populating
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

build(dart): Upgraded all Firebase Dependencies
  lib/widgets/splash.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Implement last banner for character info
  lib/models/bannerdata.dart
  lib/models/characterdata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

feat: Implemented last banner for weapons
  lib/models/weapondata.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

fix: Fix timezones not initialized
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

refactor: Ran through code prettier
  lib/extensions/string_extensions.dart
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/models/bannerdata.dart
  lib/models/characterdata.dart
  lib/models/weapondata.dart
  lib/util.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/login.dart
  lib/widgets/materials.dart
  lib/widgets/promocode.dart
  lib/widgets/splash.dart
  lib/widgets/tracking.dart
  lib/widgets/weapons.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

refactor: Lint fixes
  lib/helpers/tracker.dart
  lib/main.dart
  lib/models/materialdata.dart
  lib/models/trackdata.dart
  lib/placeholder.dart
  lib/widgets/appsettings.dart
  lib/widgets/drawer.dart
  lib/widgets/globaltracking.dart
  lib/widgets/login.dart
  lib/widgets/mainnavs.dart
  lib/widgets/parametric.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

refactor: Resolve linting issues
  lib/models/characterdata.dart
  lib/models/weapondata.dart
  lib/util.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

refactor: Fix trailing comma issues
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/main.dart
  lib/models/characterdata.dart
  lib/widgets/characters.dart
  lib/widgets/login.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

chore(data): Add Phase 2 banners of 3.2
  public/data/EventBanners.json
  public/images/Banners/Character/Everbloom_Violet_2022-11-18.png
  public/images/Banners/Character/Farewell_of_Snezhnaya_2022-11-18.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-11-18.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Layla uses Mirror of Mushin
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

chore: Wrong material updated for Lvl 10
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

feat: Implemented usage screen for materials
  lib/helpers/grid.dart
  lib/models/materialdata.dart
  lib/widgets/materials.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

build(ci): Update CI so that the usage is populated automatically instead
  .github/workflows/firebase-update.yml
  util/localWepAndCharGen.js
  util/package.json
  util/usage.js
Due: Update Firestore Public Data

Revert "chore(data): Added Boss Drops Usage"
  public/data/Materials-Boss_Drops.json
Due: Update Firestore Public Data

Revert "chore(data): Updated material usage for Boss Gems"
  public/data/Materials-Boss_Gems.json
Due: Update Firestore Public Data

Revert "chore(data): Added material usage for weekly boss drops"
  public/data/Materials-Weekly_Boss_Drops.json
Due: Update Firestore Public Data

Revert "chore(data): Ran usage command and updated the dataset"
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Mastery_Domain.json
Due: Update Firestore Public Data

revert: Revert commit added local specialities usage
  public/data/Materials-Local_Specialities.json
Due: Update Firestore Public Data

chore: Code smell fixes
  util/localWepAndCharGen.js
Due: Update Firestore Public Data

fix(util): Do not break out when found. Instead continue to the next character as well
  util/usage.js
Due: Update Firestore Public Data

fix: Handle empty categories and extra divider
  lib/helpers/grid.dart
  lib/widgets/materials.dart
Due: Deploy Dogfood to Firebase

fix: Add debug log function to remove the code smell of commented code
  util/usage.js
Due: Update Firestore Public Data

fix: Optional params
  util/usage.js
Due: Update Firestore Public Data

fix: Proper casting
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

fix: Should be using type instead of this
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

chore(data): Update Layla data
  public/data/Characters-Cryo.json
  public/images/Constellation/Fortress_of_Fantasy.png
  public/images/Constellation/Lights_Remit.png
  public/images/Constellation/Radiant_Soulfire.png
  public/images/Constellation/Secrets_of_the_Night.png
  public/images/Constellation/Starry_Illumination.png
  public/images/Constellation/Stream_of_Consciousness.png
  public/images/Talents/Burst/Talent_Dream_of_the_Star-Stream_Shaker.png
  public/images/Talents/Normal/Sword_Cryo.png
  public/images/Talents/Passive/Talent_Like_Nascent_Light.png
  public/images/Talents/Passive/Talent_Shadowy_Dream-Signs.png
  public/images/Talents/Passive/Talent_Sweet_Slumber_Undisturbed.png
  public/images/Talents/Skill/Talent_Nights_of_Formal_Focus.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update Layla image
  public/images/Characters/Cryo/Layla.png
Due: Update Google Cloud Storage Data

feat: Added export functionality to non-web app
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Added support for exporting on web
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

feat: Implemented import data for mobile
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

feat: Updated load file implementation to be more platform agnostic
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore: Rearrange dependencies
  pubspec.yaml
Due: Deploy Dogfood to Firebase

fix: Update packages for compatability with iOS
  ios/Podfile.lock
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

refactor: Lint fixes
  lib/helpers/grid.dart
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

fix: Compile to Android SDK 33
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

feat: Implemented a new Login and Authentication page
  .devcontainer/devcontainer.json
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  .gitignore
  ios/Runner.xcodeproj/project.pbxproj
  ios/firebase_app_id_file.json
  lib/main.dart
  lib/widgets/login.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Downgrade firebase_ui_oauth_google to 1.0.5
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat: Replaced old login page with the new one
  lib/main.dart
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

fix: Forgot a $
  .github/workflows/firebase-hosting-pull-request.yml
Due: none
