Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Updated Wanderlust Invocation to 2.8 banners
  public/data/EventBanners.json
Due: Update Firestore Public Data

Add heizou wiki
  public/data/Characters-Anemo.json
Due: Update Firestore Public Data

Updated Tighnari (#666)
  public/data/Characters-Dendro.json
  public/images/Characters/Dendro/Tighnari.png
  public/images/Constellation/Beginnings_Determined_at_the_Roots.png
  public/images/Constellation/Comprehension_Amidst_the_Flowers.png
  public/images/Constellation/Fortunes_Read_Amongst_the_Branches.png
  public/images/Constellation/Karma_Adjudged_From_the_Leaden_Fruit.png
  public/images/Constellation/Origins_Known_From_the_Stem.png
  public/images/Constellation/Withering_Glimpsed_in_the_Leaves.png
  public/images/Talents/Burst/Talent_Fashioners_Tanglevine_Shaft.png
  public/images/Talents/Normal/Bow_Dendro.png
  public/images/Talents/Passive/Talent_Encyclopedic_Knowledge.png
  public/images/Talents/Passive/Talent_Keen_Sight.png
  public/images/Talents/Passive/Talent_Scholarly_Blade.png
  public/images/Talents/Skill/Talent_Vijnana-Phala_Mine.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Collei (#666)
  public/data/Characters-Dendro.json
  public/images/Characters/Dendro/Collei.png
  public/images/Constellation/All_Embers.png
  public/images/Constellation/Deepwood_Patrol.png
  public/images/Constellation/Forest_of_Falling_Arrows.png
  public/images/Constellation/Gift_of_the_Woods.png
  public/images/Constellation/Scent_of_Summer.png
  public/images/Constellation/Through_Hill_and_Copse.png
  public/images/Talents/Burst/Talent_Trump-Card_Kitty.png
  public/images/Talents/Passive/Talent_Floral_Sidewinder.png
  public/images/Talents/Passive/Talent_Gliding_Champion_of_Sumeru.png
  public/images/Talents/Passive/Talent_The_Languid_Wood.png
  public/images/Talents/Skill/Talent_Floral_Brush.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Materials (#666)
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Mastery_Domain.json
  public/images/Materials/Boss_Drops/Item_Majestic_Hooked_Beak.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Chunk.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Fragment.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Gemstone.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Sliver.png
  public/images/Materials/Common_Mob/Item_Crystalline_Cyst_Dust.png
  public/images/Materials/Common_Mob/Item_Faded_Red_Satin.png
  public/images/Materials/Common_Mob/Item_Fungal_Spores.png
  public/images/Materials/Common_Mob/Item_Luminescent_Pollen.png
  public/images/Materials/Elite_Mob/Item_Chaos_Storage.png
  public/images/Materials/Elite_Mob/Item_Inactivated_Fungal_Nucleus.png
  public/images/Materials/Forgery_Domain/Item_Copper_Talisman_of_the_Forest_Dew.png
  public/images/Materials/Forgery_Domain/Item_Echo_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Reminiscence.png
  public/images/Materials/Local_Specialities/Item_Nilotpala_Lotus.png
  public/images/Materials/Local_Specialities/Item_Rukkhashava_Mushrooms.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Admonition.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Ingenuity.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Praxis.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Admonition.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Ingenuity.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Praxis.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Admonition.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Ingenuity.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Praxis.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update 3.0 Weapons (#666)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/End_of_the_Line.png
  public/images/Weapons/Bow/Hunters_Path.png
  public/images/Weapons/Bow/Kings_Squire.png
  public/images/Weapons/Catalyst/Fruit_of_Fulfillment.png
  public/images/Weapons/Claymore/Forest_Regalia.png
  public/images/Weapons/Polearm/Moonpiercer.png
  public/images/Weapons/Sword/Sapwood_Blade.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Traveler (#666)
  public/data/Characters-Traveler.json
  public/images/Constellation/Green_Resilience.png
  public/images/Constellation/Symbiotic_Creeper.png
  public/images/Constellation/Treacle_Grass.png
  public/images/Constellation/Viridian_Transience.png
  public/images/Constellation/Whirling_Weeds.png
  public/images/Constellation/Withering_Aggregation.png
  public/images/Talents/Burst/Talent_Surgent_Manifestation.png
  public/images/Talents/Normal/Sword_Dendro.png
  public/images/Talents/Passive/Talent_Verdant_Luxury.png
  public/images/Talents/Passive/Talent_Verdant_Overgrowth.png
  public/images/Talents/Skill/Talent_Razorgrass_Blade.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Remnant Glow is Rarity 3, not 4
  public/data/Materials-Forgery_Domain.json
Due: Update Firestore Public Data

Updated the remaining data that was incomplete during phase 1
  public/data/Characters-Dendro.json
  public/data/Characters-Traveler.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Common_Mob/Item_Rich_Red_Brocade.png
  public/images/Materials/Common_Mob/Item_Trimmed_Red_Silk.png
  public/images/Materials/Elite_Mob/Item_Chaos_Bolt.png
  public/images/Materials/Elite_Mob/Item_Chaos_Module.png
  public/images/Materials/Elite_Mob/Item_Dormant_Fungal_Nucleus.png
  public/images/Materials/Elite_Mob/Item_Robust_Fungal_Nucleus.png
  public/images/Materials/Forgery_Domain/Item_Dream_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Golden_Talisman_of_the_Forest_Dew.png
  public/images/Materials/Forgery_Domain/Item_Iron_Talisman_of_the_Forest_Dew.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Kindness.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Mourning.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Truth.png
  public/images/Materials/Forgery_Domain/Item_Olden_Days_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Remnant_Glow_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Silver_Talisman_of_the_Forest_Dew.png
  public/images/Materials/Local_Specialities/Item_Kalpalata_Lotus.png
  public/images/Materials/Local_Specialities/Item_Padisarah.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Phase 2 Event Banners (#666)
  public/data/EventBanners.json
  public/images/Banners/Character/Adrift_in_the_Harbor_2022-09-09.png
  public/images/Banners/Character/Drifting_Luminescence_2022-09-09.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-09-09.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update to Flutter 3.3.1 for GitPod
  .gitpod.Dockerfile
Due: none

Prep dori to be released (DRAFT)
  public/data/Characters-Electro.json
  public/data/Materials-Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Thunderclap_Fruitcore.png
  public/images/Talents/Normal/Claymore_Electro.png
  public/images/Talents/Talent_Alcazarzarays_Exactitude.png
  public/images/Talents/Talent_Spirit-Warding_Lamp_Troubleshooter_Cannon.png
  public/images/Talents/Talent_Unexpected_Order.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Dori (#666)
  public/data/Characters-Electro.json
  public/images/Characters/Electro/Dori.png
  public/images/Constellation/Additional_Investment.png
  public/images/Constellation/Discretionary_Supplement.png
  public/images/Constellation/Special_Franchise.png
  public/images/Constellation/Sprinkling_Weight.png
  public/images/Constellation/Value_for_Mora.png
  public/images/Constellation/Wonders_Never_Cease.png
  public/images/Talents/Burst/Talent_Alcazarzarays_Exactitude.png
  public/images/Talents/Passive/Talent_An_Eye_for_Gold.png
  public/images/Talents/Passive/Talent_Compound_Interest.png
  public/images/Talents/Passive/Talent_Unexpected_Order.png
  public/images/Talents/Skill/Talent_Spirit-Warding_Lamp_Troubleshooter_Cannon.png
  public/images/Talents/Talent_Alcazarzarays_Exactitude.png
  public/images/Talents/Talent_Spirit-Warding_Lamp_Troubleshooter_Cannon.png
  public/images/Talents/Talent_Unexpected_Order.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Remove GitLab Template Features from GitHub issues
  .github/ISSUE_TEMPLATE/version-update-template.md
Due: none

Update Cyno as much as possible before 3.1 update
  public/data/Characters-Electro.json
  public/data/Materials-Local_Specialities.json
  public/images/Characters/Electro/Cyno.png
  public/images/Materials/Local_Specialities/Item_Scarab.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add Candace before 3.1 releases
  public/data/Characters-Hydro.json
  public/data/Materials-Local_Specialities.json
  public/images/Characters/Hydro/Candace.png
  public/images/Materials/Local_Specialities/Item_Redcrest.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add 3.1 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ballad_in_Goblets_2022-09-28.png
  public/images/Banners/Character/Twilight_Arbiter_2022-09-28.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-09-28.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Cyno details
  public/data/Characters-Electro.json
  public/images/Characters/Electro/Cyno.png
  public/images/Constellation/Austerity_Forbidding_Guard.png
  public/images/Constellation/Ceremony_Homecoming_of_Spirits.png
  public/images/Constellation/Funerary_Rite_The_Passing_of_Starlight.png
  public/images/Constellation/Ordinance_Unceasing_Vigil.png
  public/images/Constellation/Precept_Lawful_Enforcer.png
  public/images/Constellation/Raiment_Just_Scales.png
  public/images/Talents/Burst/Talent_Sacred_Rite_Wolfs_Swiftness.png
  public/images/Talents/Normal/Polearm_Electro.png
  public/images/Talents/Passive/Talent_Authority_Over_the_Nine_Bows.png
  public/images/Talents/Passive/Talent_Featherfall_Judgment.png
  public/images/Talents/Passive/Talent_The_Gift_of_Silence.png
  public/images/Talents/Skill/Talent_Secret_Rite_Chasmic_Soulfarer.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Candace data
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Candace.png
  public/images/Constellation/Heterochromatic_Gaze.png
  public/images/Constellation/Hunters_Supplication.png
  public/images/Constellation/Moon-Piercing_Brilliance.png
  public/images/Constellation/Returning_Heiress_of_the_Scarlet_Sands.png
  public/images/Constellation/Sentinel_Oath.png
  public/images/Constellation/The_Overflow.png
  public/images/Talents/Burst/Talent_Sacred_Rite_Wagtails_Tide.png
  public/images/Talents/Normal/Polearm_Hydro.png
  public/images/Talents/Passive/Talent_Aegis_of_Crossed_Arrows.png
  public/images/Talents/Passive/Talent_Celestial_Dome_of_Sand.png
  public/images/Talents/Passive/Talent_To_Dawns_First_Light.png
  public/images/Talents/Skill/Talent_Sacred_Rite_Herons_Sanctum.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Local Specialities
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Local_Specialities/Item_Redcrest.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add boss drop required for Candace
  public/data/Characters-Hydro.json
  public/data/Materials-Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Light_Guiding_Tetrahedron.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add models to template
  .github/ISSUE_TEMPLATE/version-update-template.md
Due: none

Added Phase 1 weapons for 3.1
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Claymore/Makhaira_Aquamarine.png
  public/images/Weapons/Polearm/Staff_of_the_Scarlet_Sands.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add some new materials that does not have an image yet
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
Due: Update Firestore Public Data

Forgot to set the weapon as visible
  public/data/Weapons-Polearm.json
Due: Update Firestore Public Data

Added Missive Windspear
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/Missive_Windspear.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Promo Code implementation (#667)
  lib/widgets/promocode.dart
Due: Deploy Dogfood to Firebase

Upgrade to target latest NDK as well as SDK 31
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
Due: Deploy Dogfood to Firebase

Implemented Firebase App Check (#327)
  lib/widgets/splash.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Update some drip marketed characters for 3.2
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/data/Weapons-Catalyst.json
  public/images/Characters/Cryo/Layla.png
  public/images/Characters/Dendro/Nahida.png
  public/templates/characters.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added some information on Nilou to prep for Phase 2
  public/data/Characters-Dendro.json
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Nilou.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add items that have already been added but was not set to released for some reason?
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
  public/images/Materials/Boss_Drops/Item_Perpetual_Caliber.png
  public/images/Materials/Elite_Mob/Item_Damaged_Prism.png
  public/images/Materials/Elite_Mob/Item_Radiant_Prism.png
  public/images/Materials/Elite_Mob/Item_Turbid_Prism.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add Phase 2 Banners for 3.1 (#716)
  public/data/EventBanners.json
  public/images/Banners/Character/Secretum_Secretorum_2022-10-14.png
  public/images/Banners/Character/Twirling_Lotus_2022-10-14.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-10-14.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add all upcoming weapons for 3.2 Phase 2 (#716)
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Catalyst/Wandering_Evenstar.png
  public/images/Weapons/Sword/Key_of_Khaj-Nisut.png
  public/images/Weapons/Sword/Xiphos_Moonlight.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Nilou information (#716)
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

More character info updates yay
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

Fixed empty section in permenant/ended banners (#746)
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

Set Android to build from JDK 11
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

Fixed datetime to not show milliseconds
  lib/util.dart
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

Fixed extra comma causing import to fail
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data
