Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Security Rules, Update Firestore Public Data

Deploy Security Rules:
  image: ubuntu:latest
  stage: deploy
  before_script:
  - apt-get update && apt-get install -y curl sudo
  - curl -sL https://firebase.tools | bash
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir importer/import
  - cp public/data/*.json importer/import
  - cat $FIREBASE_SERVICE_ACCOUNT > importer/serviceAccountKey.json
  - cd importer
  - npm i
  script: npm start

Update Firebase jobs such that they only run on master branch
  .gitlab-ci.yml
Due: none

Fixed spacing errors in existing placeholder character
  public/data/Characters-Geo.json
Due: Update Firestore Public Data

Added data for Local Specalities (#8)
  public/data/Materials-Local_Specialities.json
Due: Update Firestore Public Data

Update LATEST with weapon, character and information page changelog
  LATEST
Due: none

Fixed newlines not being obeyed (#28)
  lib/widgets/characters.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: none

Add a inner type class to categorize the material (#8)
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/data/Materials-Local_Specialities.json
Due: Update Firestore Public Data

Added Domain of Forgery drop items (#8)
  public/data/Materials-Forgery_Domain.json
Due: Update Firestore Public Data

Material Obtained location remove "- " from list (#29)
  lib/widgets/materials.dart
Due: none

Added Common Mob Materials (#8)
  public/data/Materials-Common_Mob.json
Due: Update Firestore Public Data

Added Elite Common Ascension Materials (#8)
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
Due: Update Firestore Public Data

Fixed Cor Lapis Image URL
  public/data/Materials-Local_Specialities.json
Due: Update Firestore Public Data

Switched elements to local assets (#32)
  assets/images/elements/Element_Anemo.png
  assets/images/elements/Element_Cryo.png
  assets/images/elements/Element_Dendro.png
  assets/images/elements/Element_Electro.png
  assets/images/elements/Element_Geo.png
  assets/images/elements/Element_Hydro.png
  assets/images/elements/Element_Pyro.png
  assets/images/items/Icon_Mora.png
  assets/images/items/Item_Fragile_Resin.png
  assets/images/items/Item_Masterless_Stardust.png
  assets/images/items/Item_Masterless_Starglitter.png
  lib/models/grid.dart
  lib/widgets/characters.dart
  pubspec.yaml
Due: none

Added ascension tier for characters (#32)
  lib/models/grid.dart
  lib/widgets/characters.dart
Due: none

Added weapon ascension list (#32)
  lib/widgets/characters.dart
  lib/widgets/weapons.dart
Due: none

Make alignment nicer (#32)
  lib/widgets/characters.dart
Due: none

Added the rest of the Geo characters (#3)
  public/data/Characters-Geo.json
Due: Update Firestore Public Data

Added Anemo Character Data (#3)
  public/data/Characters-Anemo.json
Due: Update Firestore Public Data

Added Cryo Character Data (#3)
  public/data/Characters-Cryo.json
  public/images/Characters/Cryo/Ayaka.png
  public/images/Characters/Cryo/Ganyu.png
Due: Update Firestore Public Data

Added Description for Xiao (#3)
  public/data/Characters-Anemo.json
Due: Update Firestore Public Data

Added Electro Characters (#3)
  public/data/Characters-Electro.json
Due: Update Firestore Public Data

Added Hydro Character data (#3)
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

Added Pyro Characters (#3)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Updated to prevent overflow of text for affliation (#41)
  lib/widgets/characters.dart
Due: none

Fixed issue where loading circle gets distorted while loading ascension tier list
  lib/models/grid.dart
Due: none

Testing on iOS for the first time
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcworkspace/contents.xcworkspacedata
Due: none

Added tabbed view to tracker page (#44)
  lib/widgets/bottomnav.dart
  lib/widgets/tracking.dart
Due: none

Implemented code to be able to display the 4 types of materials to track (#44)
  firebase/firestore.rules
  lib/widgets/tracking.dart
Due: Deploy Security Rules

Fixed material type overflowing off screen
  lib/widgets/characters.dart
  lib/widgets/materials.dart
Due: none

Speed up deploying database and rules as we do not need the app to be built before doing so
  .gitlab-ci.yml
Due: none

Check tracking status and Add to tracker (#9)
  lib/models/grid.dart
  lib/util.dart
  lib/widgets/materials.dart
Due: none

Added a new "added by" to the tracker (#9)
  lib/models/grid.dart
  lib/widgets/materials.dart
Due: none

Ability to remove materials from tracker (#9)
  lib/models/grid.dart
  lib/widgets/materials.dart
Due: none

Cleaned up some of the data (#9)
  lib/models/grid.dart
  lib/widgets/characters.dart
  lib/widgets/weapons.dart
Due: none

Move methods to tracking data instead (#10)
  lib/models/grid.dart
  lib/models/tracker.dart
  lib/widgets/materials.dart
Due: none

Added ability to detect if the ascension tier is currently being tracked (#10)
  lib/widgets/characters.dart
Due: none

Craft out dialog to display adding ascension tier to the tracker (#10)
  lib/widgets/characters.dart
Due: none

Update materials to show snackbar after removal/addition to tracker (#10)
  lib/widgets/materials.dart
Due: none

Revamp how checking if ascension tier is tracked is obtained (#10)
  lib/models/tracker.dart
  lib/widgets/characters.dart
Due: none

Ability to add character ascension tiers to the tracker (#10)
  lib/models/tracker.dart
  lib/widgets/characters.dart
  lib/widgets/materials.dart
Due: none

Implemented remove character ascension tier tracking from tracker (#10)
  lib/widgets/characters.dart
Due: none

Path conditions:
  Deploy Security Rules: any of: firebase/**/*
  Update Firestore Public Data: any of: public/data/**/*
