Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

ci: Use sonar-project.properties
  .github/workflows/sonar.yml
Due: none

ci: Downgrade XCode to 15.4 to resolve build issues Seems like there are some compatability issues with XCode 16 that hopefully this resolves
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

chore(docs): Added Kinich and weapon from 5.0
  public/data/Characters-Dendro.json
  public/data/Characters-Hydro.json
  public/data/Outfits-Standard.json
  public/data/Weapons-Claymore.json
  public/images/Characters/Dendro/Kinich.png
  public/images/Constellation/Auspicious_Beasts_Shape.png
  public/images/Constellation/Howler_Monkeys_Tail.png
  public/images/Constellation/Hummingbirds_Feather.png
  public/images/Constellation/Parrots_Beak.png
  public/images/Constellation/Protosuchians_Claw.png
  public/images/Constellation/Tiger_Beetles_Palm.png
  public/images/Outfits/Full/Standard/Character_Kinich_Game.png
  public/images/Outfits/Wish/Standard/Character_Kinich_Full_Wish.png
  public/images/Talents/Burst/Talent_Hail_to_the_Almighty_Dragonlord.png
  public/images/Talents/Passive/Talent_Flame_Spirit_Pact.png
  public/images/Talents/Passive/Talent_Repaid_in_Full.png
  public/images/Talents/Passive/Talent_Swift_Envoy.png
  public/images/Talents/Passive/Talent_The_Price_of_Desolation.png
  public/images/Talents/Skill/Talent_Canopy_Hunter_Riding_High.png
  public/images/Weapons/Claymore/Weapon_Fang_of_the_Mountain_King.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.0 Phase 2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Reign_of_Serenity_2024-09-17.png
  public/images/Banners/Character/Seeker_of_Flame-Wrought_Secrets_2024-09-17.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-09-17.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed Kinich key
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

fix(data): Fixed Flame Spirit Pact image missing
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

chore(deps): Upgraded ios plugins
  ios/Podfile.lock
  pubspec.lock
Due: Deploy Dogfood to Firebase

feat: Upgrade package after upgrading to Flutter 3.24
  ios/Podfile.lock
  ios/Runner/AppDelegate.swift
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

ci: Revert to XCode 16
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

chore(deps): Further transient dependency updates
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Downgraded Kotlin to 1.7.22
  android/settings.gradle
Due: Deploy Dogfood to Firebase

chore(deps): Resolve issues compiling Android
  android/build.gradle
  android/settings.gradle
Due: Deploy Dogfood to Firebase

feat: Upgraded to AppCheck 1.5.2 and implemented breaking changes
  lib/widgets/drawer.dart
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

fix: Fixed a size for the image itself based on the browser
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

chore: Limit to 675 if calculated height will exceed
  ios/Podfile.lock
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

chore(data): Added 5.1 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Forgefires_Blessing_2024-10-09.png
  public/images/Banners/Character/Of_Silken_Clouds_Woven_2024-10-09.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-10-09.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

feat: Upgraded to AGP 8.6
  android/app/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
Due: Deploy Dogfood to Firebase

docs: Update README
  README.md
Due: none

chore: Upgrade Gradle Distribution
  android/gradle/wrapper/gradle-wrapper.properties
Due: Deploy Dogfood to Firebase

fix: Resolve issues with iOS client ID for authenticating
  devtools_options.yaml
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

chore(data): Added Xilonen
  public/data/Characters-Geo.json
  public/data/Materials-Boss_Drops.json
  public/data/Outfits-Standard.json
  public/images/Characters/Geo/Xilonen.png
  public/images/Constellation/Chiucue_Mix.png
  public/images/Constellation/Imperishable_Night_Carnival.png
  public/images/Constellation/Sabbatical_Phrase.png
  public/images/Constellation/Suchitls_Trance.png
  public/images/Constellation/Tlaltecuhtlis_Crossfade.png
  public/images/Constellation/Tonalpohuallis_Loop.png
  public/images/Materials/Boss_Drops/Item_Gold-Inscribed_Secret_Source_Core.png
  public/images/Outfits/Full/Standard/Character_Xilonen_Game.png
  public/images/Outfits/Wish/Standard/Character_Xilonen_Full_Wish.png
  public/images/Talents/Burst/Talent_Ocelotlicue_Point.png
  public/images/Talents/Passive/Talent_Blessing_of_Forge-Fire.png
  public/images/Talents/Passive/Talent_Netotiliztlis_Echoes.png
  public/images/Talents/Passive/Talent_Portable_Armored_Sheath.png
  public/images/Talents/Passive/Talent_Tour_of_Tepeilhuitl.png
  public/images/Talents/Skill/Talent_Yohuals_Scratch.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.1 Weapons
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Claymore/Weapon_Fruitful_Hook.png
  public/images/Weapons/Polearm/Weapon_Mountain-Bracing_Bolt.png
  public/images/Weapons/Sword/Weapon_Peak_Patrol_Song.png
  public/images/Weapons/Sword/Weapon_Sturdy_Bone.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(deps): Updated functions dependencies
  firebase/functions/package-lock.json
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

ci: Print out all changed files if there are changes
  .github/workflows/firebase-update.yml
Due: none

feat: Updated material usage list to new type based list
  lib/models/weapondata.dart
Due: Deploy Dogfood to Firebase

feat: Update character material list to new type based list
  lib/models/characterdata.dart
Due: Deploy Dogfood to Firebase

chore(data): Fixed material types for characters
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/templates/characters.json
Due: Update Firestore Public Data

feat: Update utilities for obtaining character/weapon ascensions
  util/usage.js
Due: Update Firestore Public Data

refactor: Formatting
  lib/models/characterdata.dart
Due: Deploy Dogfood to Firebase

chore: Migrate to eslint.config.mjs
  firebase/functions/eslint.config.mjs
  firebase/functions/package-lock.json
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

fix: eslint fixes
  firebase/functions/.eslintrc.json
  firebase/functions/eslint.config.js
Due: Deploy Firebase Security Rules

fix: Fixed firebase functions call
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

chore(deps): Set FirebaseCoreExtension to 11.3 for now
  ios/Podfile
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

release: 4.0.0 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

release: 4.0.1 hotfix
  CHANGELOG.md
  LATEST
  VERSION
  android/app/proguard-rules.pro
Due: Deploy Dogfood to Firebase

chore: Update changelog for release
  CHANGELOG.md
  LATEST
Due: none

ci: Tag the project when scanning
  .github/workflows/sonar.yml
Due: none

revert: Changes to firebasecoreextension no longer needs to be overridden
  ios/Podfile
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

chore: Trigger data update
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Fixed spelling of items
  public/data/Characters-Dendro.json
  public/templates/characters.json
Due: Update Firestore Public Data

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
