Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Update Firestore Public Data: any of: public/data/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Added Staff of Homa into the DB (#101)
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/Staff_Of_Homa.png
Due: Update Firestore Public Data

Updated Lithic Spear Description (#101)
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/Lithic_Spear.png
Due: Update Firestore Public Data

Update Lithic Blade (#101)
  public/data/Weapons-Claymore.json
  public/images/Weapons/Claymore/Lithic_Blade.png
Due: Update Firestore Public Data

Updated Lithic Spear and Staff of Homa description (#113)
  public/data/Weapons-Polearm.json
Due: Update Firestore Public Data

Prepare a new "effectName" datatype to store effect's name
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Updated final data for Lithic Blade (#113)
  public/data/Weapons-Claymore.json
Due: Update Firestore Public Data

Rename env to production from Production
  .gitlab-ci.yml
Due: none

Update Hu Tao's Image to be not as blurry (#38)
  public/images/Characters/Pyro/Hu_Tao.png
Due: none

Updated Hu Tao's skill description (#38)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Fixed authentication error with firebase importer
  importer/index.js
  importer/package-lock.json
  importer/package.json
Due: none

Update data to trigger database update
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Fixed importer code
  .gitignore
  importer/index.js
Due: none

Trigger on GLCI
  .gitlab-ci.yml
Due: none

Revert "Trigger on GLCI"
  .gitlab-ci.yml
Due: none

Updated introduction from website for Hu Tao (#38)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Fixed button color showing up as white only irregardless of dark/light mode (#115)
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase

Update weapon effect name and effect description for all weapons (#114)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Add english captions to character data (#118)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

Add weapon effect name into the application (#116)
  lib/helpers/grid.dart
  lib/models/weapondata.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Added captions into character information (#119)
  lib/models/characterdata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

1.4.0 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Removed WIP tag for Hu Tao (#38)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Add image reference for Hu Tao and update image links accordingly (#38)
  public/data/Characters-Pyro.json
  public/images/Constellation/Butterfly_Embrace.png
  public/images/Constellation/Crimson_Bouquet.png
  public/images/Constellation/Floral_Incense.png
  public/images/Constellation/Garden_of_Eternal_Rest.png
  public/images/Constellation/Lingering_Carmine.png
  public/images/Constellation/Ominous_Rainfall.png
  public/images/Talents/Burst/Talent_Spirit_Soother.png
  public/images/Talents/Normal/Talent_Secret_Spear_of_Wangsheng.png
  public/images/Talents/Passive/Talent_Flutter_By.png
  public/images/Talents/Passive/Talent_Sanguine_Rouge.png
  public/images/Talents/Passive/Talent_The_More_the_Merrier.png
  public/images/Talents/Skill/Talent_Guide_to_Afterlife.png
Due: Update Firestore Public Data

Updated most of the data on Hu Tao except for the links due to unavailability (#38)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Added build guide link for Hu Tao
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Added Code Coverage for Flutter
  .gitlab-ci.yml
Due: none

Forgot to add relevant files to build lcov for code coverage
  .gitlab-ci.yml
Due: none

Set alternative firebase_image dependency source (#120)
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Updated to the latest resolvable dependency versions (#120)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Disable coverage for now
  .gitlab-ci.yml
Due: none

Upgrade to the latest version possible for most packages (#120)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Use stable flutter instead for both Android and Web app generation
  .gitlab-ci.yml
Due: none

Quickfix for Traveller having the wrong gender symbol and color
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Update to the latest version of firebase_image (#120)
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Upgrade most of the dependencies (#120)
  pubspec.lock
Due: Deploy Dogfood to Firebase

Finalized dependency updates (#120)
  pubspec.yaml
Due: Deploy Dogfood to Firebase

1.4.1 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Added Elegy for the End bow (#121)
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Elegy_for_the_End.png
Due: Update Firestore Public Data

Adds Windblume Ode Event Bow
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Windblume_Ode.png
Due: Update Firestore Public Data

Updated Alley Flash data (#121)
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/The_Alley_Flash.png
Due: Update Firestore Public Data
