Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

chore(data): Added 5.8 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Astral_Actuation_2025-07-30.png
  public/images/Banners/Character/Starry_Nights_Whispers_2025-07-30.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-07-30.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Ineffa icon
  public/images/Characters/Electro/Ineffa.png
Due: Update Google Cloud Storage Data

feat: Add Lunar Charged color reaction
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

chore(data): Added 5.8 Phase 2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Piercing_Shots_Crimson_Wake_2025-08-19.png
  public/images/Banners/Character/Sharktacular_Surfari_2025-08-19.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-08-19.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added existing Phase 1 banner data that we are aware of currently
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Added some character and materials data that we know will come out in a TODO state
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Hydro.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Mastery_Domain.json
Due: Update Firestore Public Data

chore(data): Added phase 1 banner data for Luna I
  public/data/EventBanners.json
  public/images/Banners/Character/Moonsong_of_the_Groves_2025-09-10.png
  public/images/Banners/Character/The_Moongrass_Enlightenment_2025-09-10.png
  public/images/Banners/Chronicled/Roving_Chalice_of_Dewgrass_2025-09-10.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-09-10.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

data: Fix banner data
  public/data/EventBanners.json
Due: Update Firestore Public Data

ci: Remove unnecessary build-utility dependency from Firebase workflow
  .github/workflows/firebase-update.yml
Due: none

chore(data): Added Aino's data
  public/data/Characters-Hydro.json
  public/data/Outfits-Standard.json
  public/images/Constellation/Butter_and_Cats_and_the_Law_of_Energy_Supply.png
  public/images/Constellation/Cake_and_the_Art_of_Mechanism_Repair.png
  public/images/Constellation/Perpetual_Turbine_of_Metal_and_Light.png
  public/images/Constellation/The_Burden_of_Creative_Genius.png
  public/images/Constellation/The_Principle_of_Transference_in_Gear_Differentials.png
  public/images/Constellation/The_Theory_of_Ash-Field_Equilibrium.png
  public/images/Talents/Burst/Talent_Precision_Hydronic_Cooler.png
  public/images/Talents/Normal/Claymore_Hydro.png
  public/images/Talents/Passive/Talent_Force_Limit_Analysis.png
  public/images/Talents/Passive/Talent_Miniaturized_Detection_Sensor.png
  public/images/Talents/Passive/Talent_Modular_Efficiency_Protocol.png
  public/images/Talents/Passive/Talent_Structured_Power_Booster.png
  public/images/Talents/Skill/Talent_Musecatcher.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added new 6.0 catalysts - Also updated Forgery Domain data
  public/data/Materials-Forgery_Domain.json
  public/data/Weapons-Catalyst.json
  public/images/Materials/Forgery_Domain/Item_Afterglow_of_Long_Night_Flint.png
  public/images/Materials/Forgery_Domain/Item_Artful_Device_Fragment.png
  public/images/Materials/Forgery_Domain/Item_Artful_Device_Inheritance.png
  public/images/Materials/Forgery_Domain/Item_Artful_Device_Replica.png
  public/images/Materials/Forgery_Domain/Item_Artful_Device_Wish.png
  public/images/Materials/Forgery_Domain/Item_Aureate_Radiance_of_the_Far-North_Scions.png
  public/images/Materials/Forgery_Domain/Item_Blaze_of_Long_Night_Flint.png
  public/images/Materials/Forgery_Domain/Item_Ember_of_Long_Night_Flint.png
  public/images/Materials/Forgery_Domain/Item_Flare_of_Long_Night_Flint.png
  public/images/Materials/Forgery_Domain/Item_Oblation_of_the_Far-North_Scions.png
  public/images/Materials/Forgery_Domain/Item_Sundered_Glory_of_the_Far-North_Scions.png
  public/images/Materials/Forgery_Domain/Item_Unyielding_Delusion_of_the_Far-North_Scions.png
  public/images/Weapons/Catalyst/Weapon_Blackmarrow_Lantern.png
  public/images/Weapons/Catalyst/Weapon_Etherlight_Spindlelute.png
  public/images/Weapons/Catalyst/Weapon_Nightweavers_Looking_Glass.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed banner description
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Fixed spelling mistakes
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Mastery_Domain.json
Due: Update Firestore Public Data

chore(data): Spelling fixes
  public/data/Materials-Common_Mob.json
Due: Update Firestore Public Data

chore(data): Spelling fixes
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

chore(data): Spelling fixes
  public/data/Materials-Elite_Mob.json
Due: Update Firestore Public Data

chore(data): Spelling fixes
  public/data/Outfits-Standard.json
Due: Update Firestore Public Data

chore(data): Added more locations to find Sea Ganoderma
  public/data/Materials-Local_Specialities.json
Due: Update Firestore Public Data

chore(data): Added banner for phase 2 luna 1
  public/data/EventBanners.json
  public/images/Banners/Character/Discerner_of_Enigmas_2025-09-30.png
  public/images/Banners/Character/The_Lone_Light_Knocks_at_Night_2025-09-30.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-09-30.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Flins
  public/data/Characters-Electro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Electro/Flins.png
  public/images/Constellation/Exiles_Shadow.png
  public/images/Constellation/Night_on_Bald_Mountain.png
  public/images/Constellation/Part_the_Veil_of_Snow.png
  public/images/Constellation/Songs_and_Dances_of_Death.png
  public/images/Constellation/Stranger_in_the_Night.png
  public/images/Constellation/The_Devils_Wall.png
  public/images/Outfits/Full/Standard/Character_Flins_Game.png
  public/images/Outfits/Wish/Standard/Character_Flins_Full_Wish.png
  public/images/Talents/Burst/Talent_Ancient_Ritual_Cometh_the_Night.png
  public/images/Talents/Passive/Talent_A_Light_in_the_Dark.png
  public/images/Talents/Passive/Talent_Electro_Moonsign_Lunar-Charged.png
  public/images/Talents/Passive/Talent_Symphony_of_Winter.png
  public/images/Talents/Passive/Talent_Whispering_Flame.png
  public/images/Talents/Skill/Talent_Ancient_Rite_Arcane_Light.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added some data regarding Nefer
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

chore(data): Added weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Snare_Hook.png
  public/images/Weapons/Claymore/Weapon_Master_Key.png
  public/images/Weapons/Polearm/Weapon_Bloodsoaked_Ruins.png
  public/images/Weapons/Polearm/Weapon_Prospectors_Shovel.png
  public/images/Weapons/Sword/Weapon_Serenitys_Call.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Flins banner is I not V
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Filled up more available changes
  public/data/Characters-Dendro.json
  public/data/Materials-Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Radiant_Antler.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 6.1 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Chanson_of_Many_Waters_2025-10-22.png
  public/images/Banners/Character/Temptation_of_the_Crimson_Sands_2025-10-22.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-10-22.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added quest sword item that appeared in 6.0
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Weapon_Moonweavers_Dawn.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated Nefer data
  public/data/Characters-Dendro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Dendro/Nefer.png
  public/images/Constellation/Deceit_Cloaks_the_Truth.png
  public/images/Constellation/Delusion_Ensnares_Reason.png
  public/images/Constellation/Observation_Feeds_Strategy.png
  public/images/Constellation/Opportunity_Hides_in_the_Margins.png
  public/images/Constellation/Planning_Breeds_Success.png
  public/images/Constellation/Victory_Flows_from_the_Turning_of_Tides.png
  public/images/Outfits/Full/Standard/Character_Nefer_Game.png
  public/images/Outfits/Wish/Standard/Character_Nefer_Full_Wish.png
  public/images/Talents/Burst/Talent_Sacred_Vow_True_Eyes_Phantasm.png
  public/images/Talents/Normal/Catalyst_Dendro.png
  public/images/Talents/Passive/Talent_A_Wager_of_Moonlight.png
  public/images/Talents/Passive/Talent_Conspiracy_of_the_Golden_Vault.png
  public/images/Talents/Passive/Talent_Daughter_of_the_Dust_and_Sand.png
  public/images/Talents/Passive/Talent_Dusklit_Eaves.png
  public/images/Talents/Skill/Talent_Senet_Strategy_Dance_of_a_Thousand_Nights.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Manekin
  public/data/Characters-Traveler.json
  public/images/Characters/All/Wonderland_Manekin.png
  public/images/Talents/Burst/Talent_No_Entry.png
  public/images/Talents/Normal/Sword_Unaligned.png
  public/images/Talents/Passive/Talent_Battlelines_Redrawn.png
  public/images/Talents/Passive/Talent_Combat_Readiness.png
  public/images/Talents/Skill/Talent_Punishing_Barrage.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added weapons for Luna II
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Catalyst/Weapon_Dawning_Frost.png
  public/images/Weapons/Catalyst/Weapon_Reliquary_of_Truth.png
  public/images/Weapons/Polearm/Weapon_Sacrificers_Staff.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed item missing
  public/data/Materials-Boss_Drops.json
Due: Update Firestore Public Data

chore(data): Update name and fullName for Wonderland Manekin
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

chore(data): Added Luna II Phase 2 banner data
  public/data/EventBanners.json
  public/images/Banners/Character/Gentry_of_Hermitage_2025-11-11.png
  public/images/Banners/Character/The_Hearths_Ashen_Shadow_2025-11-11.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-11-11.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): update 3d models
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

refactor: Remove asyn when running apps
  lib/main.dart
Due: Deploy Dogfood to Firebase

chore(deps): Bump Firebase dependencies
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Bump transient dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(ios-deps): Bump iOS Minimum Version
  ios/Podfile
Due: Deploy Dogfood to Firebase

chore(ios-deps): Bump ios dependencies
  ios/Podfile
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

chore(ios-deps): Removed unnecessary gems
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
