Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

chore(data): Add 5.1 Phase 2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Moment_of_Bloom_2024-10-29.png
  public/images/Banners/Character/The_Moongrass_Enlightenment_2024-10-29.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-10-29.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Upgrade to Node 20 LTS for Firebase Functions
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

fix: Switching tabs cause sort to reset
  lib/listeners/sorter.dart
  lib/widgets/characters.dart
  lib/widgets/mainnavs.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

chore(ios): Update cocoapods
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

feat: Enable deep link support when available
  lib/helpers/notifications.dart
  lib/util.dart
  lib/widgets/appsettings.dart
  lib/widgets/drawer.dart
Due: Deploy Dogfood to Firebase

chore(data): Update outfits
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore(data): Added 5.2 P1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Conjuring_Chiaroscuro_2024-11-20.png
  public/images/Banners/Character/Piercing_Shots_Crimson_Wake_2024-11-20.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-11-20.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

build: Updated devcontainer definition
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore(data): Added 5.2 materials
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Boss_Drops/Item_Ensnaring_Gaze.png
  public/images/Materials/Elite_Mob/Item_Bewildering_Broadleaf.png
  public/images/Materials/Elite_Mob/Item_Illusory_Leafcoil.png
  public/images/Materials/Elite_Mob/Item_Refractive_Bud.png
  public/images/Materials/Local_Specialities/Item_Glowing_Hornshroom.png
  public/images/Materials/Local_Specialities/Item_Withering_Purpurbloom.png
  public/templates/materials.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.2 characters
  public/data/Characters-Anemo.json
  public/data/Characters-Electro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Chasca.png
  public/images/Characters/Electro/Ororon.png
  public/images/Constellation/A_Gift_For_the_Soul.png
  public/images/Constellation/As_the_Mysteries_of_the_Night_Wind.png
  public/images/Constellation/Brim_the_Sandshadows_Silhouette.png
  public/images/Constellation/Cylinder_the_Restless_Roulette.png
  public/images/Constellation/King_Bee_of_the_Hidden_Honeyed_Wine.png
  public/images/Constellation/Muzzle_the_Searing_Smoke.png
  public/images/Constellation/Ode_to_Deep_Springs.png
  public/images/Constellation/Reins_Her_Careful_Control.png
  public/images/Constellation/Roosting_Bats_Spiritcage.png
  public/images/Constellation/Showdown_the_Glory_of_Battle.png
  public/images/Constellation/Sparks_the_Sudden_Shot.png
  public/images/Constellation/Trails_Amidst_the_Forest_Fog.png
  public/images/Outfits/Full/Standard/Character_Chasca_Game.png
  public/images/Outfits/Full/Standard/Character_Ororon_Game.png
  public/images/Outfits/Wish/Standard/Character_Chasca_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Ororon_Full_Wish.png
  public/images/Talents/Burst/Talent_Dark_Voices_Echo.png
  public/images/Talents/Burst/Talent_Soul_Reapers_Fatal_Round.png
  public/images/Talents/Passive/Talent_Aspect_Catalyst.png
  public/images/Talents/Passive/Talent_Bullet_Trick.png
  public/images/Talents/Passive/Talent_Everburning_Heart.png
  public/images/Talents/Passive/Talent_Flowing_Fog_Spritely_Shadows.png
  public/images/Talents/Passive/Talent_Intent_to_Cover.png
  public/images/Talents/Passive/Talent_Mediations_True_Meaning.png
  public/images/Talents/Passive/Talent_Nightshade_Synesthesia.png
  public/images/Talents/Passive/Talent_The_Art_of_Skinchanging.png
  public/images/Talents/Skill/Talent_Nights_Sling.png
  public/images/Talents/Skill/Talent_Spirit_Reins_Shadow_Hunt.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.2 Weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_Astral_Vultures_Crimson_Plumage.png
  public/images/Weapons/Bow/Weapon_Flower-Wreathed_Feathers.png
  public/images/Weapons/Catalyst/Weapon_Waveriding_Whirl.png
  public/images/Weapons/Sword/Weapon_Calamity_of_Eshu.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix: Fixed ascension tiers ordering broken on iOS
  lib/models/characterdata.dart
  lib/widgets/characters.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

chore(deps): Update iOS Dependencies
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

release: 4.0.2 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

fix: Sorter being blank string instead of null causing crash
  lib/listeners/sorter.dart
Due: Deploy Dogfood to Firebase

fix: Deep links launching the web site instead of on the app
  LATEST
  lib/helpers/notifications.dart
  lib/util.dart
Due: Deploy Dogfood to Firebase

release: 4.0.3 release
  CHANGELOG.md
  VERSION
Due: Deploy Dogfood to Firebase

chore(data): Added Phase 2 banners for 5.2
  public/data/EventBanners.json
  public/images/Banners/Character/Decree_of_the_Deeps_2024-12-10.png
  public/images/Banners/Character/Gentry_of_Hermitage_2024-12-10.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-12-10.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix: If titles are empty, do not leave a blank section
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

feat: Added support for multiple characters in Outfit page
  lib/models/outfitdata.dart
  lib/widgets/outfits.dart
  public/data/Outfits-Alternate.json
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/templates/misc.json
Due: Update Firestore Public Data, Deploy Dogfood to Firebase

chore: Made character list not null
  lib/models/outfitdata.dart
  lib/widgets/outfits.dart
Due: Deploy Dogfood to Firebase

chore(data): Update character for traveler outfits
  public/data/Outfits-Standard.json
Due: Update Firestore Public Data

chore(data): Added 5.3 Wish Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ancient_Flame_Ablaze_2025-01-01.png
  public/images/Banners/Character/Illuminating_Lightning_2025-01-21.png
  public/images/Banners/Character/Starry_Nights_Whispers_2025-01-01.png
  public/images/Banners/Character/The_Hearths_Ashen_Shadow_2025-01-21.png
  public/images/Banners/Chronicled/Remembrance_of_Jade_and_Stone_2025-01-21.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-01-01.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-01-21.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.3 Weapon data as they are available as well
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/images/Weapons/Catalyst/Weapon_Starcallers_Watch.png
  public/images/Weapons/Claymore/Weapon_A_Thousand_Blazing_Suns.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated outfits Also fixed escaping issues
  public/data/Outfits-Standard.json
  public/data/Weapons-Catalyst.json
Due: Update Firestore Public Data

chore(data): Event Weapon banner remove Stringless
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Added outfits available in Part 1
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Standard/Character_Citlali_Game.png
  public/images/Outfits/Full/Standard/Character_Mavuika_Game.png
  public/images/Outfits/Full/Themed/Outfit_Cherries_Snow-Laden_Game.png
  public/images/Outfits/Thumbnail/Themed/Item_Cherries_Snow-Laden.png
  public/images/Outfits/Wish/Standard/Character_Citlali_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Mavuika_Full_Wish.png
  public/images/Outfits/Wish/Themed/Character_Hu_Tao_Cherries_Snow-Laden_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Citlali and Mauvika data
  public/data/Characters-Cryo.json
  public/data/Characters-Pyro.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Characters/Cryo/Citlali.png
  public/images/Characters/Pyro/Mavuika.png
  public/images/Constellation/Cloud_Serpents_Feathered_Crown.png
  public/images/Constellation/Death_Defiers_Spirit_Skull.png
  public/images/Constellation/Heart_Devourers_Travail.png
  public/images/Constellation/Humanitys_Name_Unfettered.png
  public/images/Constellation/Nemontemis_Hex.png
  public/images/Constellation/Radiant_Blades_of_Centzon_Mimixcoah.png
  public/images/Constellation/Teoiztacs_Secret_Pact.png
  public/images/Constellation/The_Ashen_Price.png
  public/images/Constellation/The_Burning_Sun.png
  public/images/Constellation/The_Leaders_Resolve.png
  public/images/Constellation/The_Meaning_of_Truth.png
  public/images/Constellation/The_Night-Lords_Explication.png
  public/images/Materials/Boss_Drops/Item_Eroded_Horn.png
  public/images/Materials/Boss_Drops/Item_Eroded_Scale-Feather.png
  public/images/Materials/Boss_Drops/Item_Eroded_Sunfire.png
  public/images/Materials/Boss_Drops/Item_Talisman_of_the_Enigmatic_Land.png
  public/images/Talents/Burst/Talent_Edict_of_Entwined_Splendor.png
  public/images/Talents/Burst/Talent_Hour_of_Burning_Skies.png
  public/images/Talents/Passive/Talent_Exhaust_Mode.png
  public/images/Talents/Passive/Talent_Gift_of_Flaming_Flowers.png
  public/images/Talents/Passive/Talent_Itzpapalotls_Star_Garments.png
  public/images/Talents/Passive/Talent_Kiongozi.png
  public/images/Talents/Passive/Talent_Mamaloacos_Frigid_Rain.png
  public/images/Talents/Passive/Talent_Night-Shattering_Radiance.png
  public/images/Talents/Passive/Talent_Smoke_Mirrors_and_the_Flowing_Winds.png
  public/images/Talents/Passive/Talent_Songs_of_Profound_Mystery.png
  public/images/Talents/Skill/Talent_Dawnfrost_Darkstar.png
  public/images/Talents/Skill/Talent_The_Named_Moment.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Pyro Traveler Information
  public/data/Characters-Traveler.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Constellation/Ever-Lit_Candle.png
  public/images/Constellation/Ravaging_Flame.png
  public/images/Constellation/Relayed_Beacon.png
  public/images/Constellation/Starfires_Flowing_Light.png
  public/images/Constellation/The_Fire_Inextinguishable.png
  public/images/Constellation/The_Sacred_Flame_Imperishable.png
  public/images/Materials/Boss_Drops/Item_The_Cornerstone_of_Stars_and_Flames.png
  public/images/Talents/Burst/Talent_Plains_Scorcher.png
  public/images/Talents/Normal/Sword_Pyro.png
  public/images/Talents/Passive/Talent_Embers_Unspent.png
  public/images/Talents/Passive/Talent_True_Flame_of_Incineration.png
  public/images/Talents/Skill/Talent_Flowfire_Blade.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added data
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

chore(data): Update Pyro Traveler Constellations Descriptions
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

ci: Downgraded to XCode 16.1 temporarily until issue is resolved with the latest XCode stable
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

fix(data): Weapon data materials got messed up
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

chore(data): Change template as well
  public/templates/weapons.json
Due: none

chore(data): Update weapon images
  public/images/Weapons/Catalyst/Weapon_Starcallers_Watch.png
  public/images/Weapons/Claymore/Weapon_A_Thousand_Blazing_Suns.png
Due: Update Google Cloud Storage Data

chore(data): Added rest of 5.3 characters
  public/data/Characters-Anemo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Lan_Yan.png
  public/images/Constellation/As_One_Might_Stride_Betwixt_the_Clouds.png
  public/images/Constellation/Dance_Vestments_Billow_Like_Rainbow_Jade.png
  public/images/Constellation/Having_Met_You_My_Heart_is_Gladdened.png
  public/images/Constellation/Let_Us_Away_on_Sylphic_Wing_the_Silvered_Ornaments_to_Ring.png
  public/images/Constellation/On_White_Wings_Pierce_Through_Cloud_and_Fog.png
  public/images/Constellation/With_Drakefalcons_Blood-Pearls_Adorned.png
  public/images/Outfits/Full/Standard/Character_Lan_Yan_Game.png
  public/images/Outfits/Wish/Standard/Character_Lan_Yan_Full_Wish.png
  public/images/Talents/Burst/Talent_Lustrous_Moonrise.png
  public/images/Talents/Passive/Talent_Four_Sealing_Divination_Charms.png
  public/images/Talents/Passive/Talent_Skyfeather_Evil-Subduing_Charm.png
  public/images/Talents/Passive/Talent_Thought_and_Intent_Like_Silken_Scent.png
  public/images/Talents/Skill/Talent_Swallow-Wisp_Pinion_Dance.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Xiangling outfit as well
  public/data/Characters-Pyro.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Themed/Outfit_New_Years_Cheer_Game.png
  public/images/Outfits/Thumbnail/Themed/Item_New_Years_Cheer.png
  public/images/Outfits/Wish/Themed/New_Years_Cheer_Preview.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

ci: Bumped sonar scanner version
  .github/workflows/sonar.yml
Due: none

ci: Switched back to non-workaround SonarQube scan
  .github/workflows/sonar.yml
Due: none

chore(data): Added 5.4 character
  public/data/Characters-Anemo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Yumemizuki_Mizuki.png
  public/images/Constellation/As_Setting_Moon_Brings_Years_End.png
  public/images/Constellation/Buds_Warm_Lucid_Springs.png
  public/images/Constellation/In_Mist-Like_Waters.png
  public/images/Constellation/The_Heart_Lingers_Long.png
  public/images/Constellation/Till_Dawns_Moon_Ends_Night.png
  public/images/Constellation/Your_Echo_I_Meet_in_Dreams.png
  public/images/Outfits/Full/Standard/Character_Yumemizuki_Mizuki_Game.png
  public/images/Outfits/Wish/Standard/Character_Yumemizuki_Mizuki_Full_Wish.png
  public/images/Talents/Burst/Talent_Anraku_Secret_Spring_Therapy.png
  public/images/Talents/Passive/Talent_All_Ailments_Banished.png
  public/images/Talents/Passive/Talent_Bright_Moons_Restless_Voice.png
  public/images/Talents/Passive/Talent_Thoughts_by_Day_Bring_Dreams_by_Night.png
  public/images/Talents/Skill/Talent_Aisa_Utamakura_Pilgrimage.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data
