Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

2.2.1 Update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Uses instead of Run
  .github/workflows/release.yml
Due: none

More uses
  .github/workflows/release.yml
Due: none

Fix double apk
  .github/workflows/release.yml
Due: none

Set static URL for prod hosting
  .github/workflows/release.yml
Due: none

FatAPK is not in the release folder
  .github/workflows/release.yml
Due: none

Add comment on why we need to hardcode
  .github/workflows/release.yml
Due: none

Forgot to point properly rip
  .github/workflows/release.yml
Due: none

Forgot to add 2 items into the artifact
  .github/workflows/release.yml
Due: none

Remove on push to master to prevent Dependabot issues
  .github/workflows/codeql-analysis.yml
Due: none

Update test implementation
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

Update transitive dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

Migrate package to settings_ui
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Add Firebase Function for scheduling firestore export
  firebase/firebase.json
  firebase/functions/.eslintrc.json
  firebase/functions/.gitignore
  firebase/functions/index.js
  firebase/functions/package-lock.json
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

Added job to deploy Firebase Cloud Function
  .github/workflows/firebase-update.yml
Due: none

Update to Node 16
  firebase/functions/package-lock.json
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

Update dependencies to target version
  firebase/functions/package-lock.json
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

Update code
  firebase/functions/index.js
Due: Deploy Firebase Security Rules

Update if changed here
  .github/workflows/firebase-update.yml
Due: none

Update if changed here (real)
  .github/workflows/firebase-update.yml
Due: none

2.2.2 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Update release notes to add build version
  .github/workflows/release.yml
Due: none

Use labels to update the board
  .github/workflows/projectissues.yml
Due: none

Update to use different tool
  .github/workflows/projectissues.yml
Due: none

Update ISSUE_TEMPLATES
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/triage.md
  .github/ISSUE_TEMPLATE/version-update-template.md
Due: none

Add ability to update templates to Firestore (#375)
  .github/workflows/firebase-update.yml
  util/package.json
  util/restoreTemplate.js
Due: Update Firestore Public Data

Remove unnecessary code
  util/restoreTemplate.js
Due: Update Firestore Public Data

Reduce duplicate LOC
  util/firebaseutil.js
  util/restore.js
  util/restoreTemplate.js
Due: Update Firestore Public Data

Fix flutter lint
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Further code reduction
  util/banner.js
Due: Update Firestore Public Data

Update devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Update remote user to codespace
  .devcontainer/devcontainer.json
Due: none

Uses vscode user instead of codespace
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Update container commands
  .devcontainer/devcontainer.json
Due: none

Update devcontainer command
  .devcontainer/devcontainer.json
Due: none

Fixed commands
  .devcontainer/devcontainer.json
Due: none

Fixed dockerfile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Added banners for 2.8 Phase 2 (#373)
  public/data/EventBanners.json
  public/images/Banners/Character/Tapestry_of_Golden_Flames_2022-08-02.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-08-02.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Switched package to remove the REQUEST_INSTALL_PACKAGE permission (#619)
  ios/Podfile.lock
  lib/widgets/parametric.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Added the Dendro Element in preparation of the Upcoming 3.0 release of the game (#624)
  lib/widgets/characters.dart
  lib/widgets/mainnavs.dart
Due: Deploy Dogfood to Firebase
