Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

refactor: File
  ios/Podfile
Due: Deploy Dogfood to Firebase

fix: Fixed iOS build of deriving Firebase based on plugins
  ios/Podfile
Due: Deploy Dogfood to Firebase

ci: Reset Flutter cache
  .github/workflows/flutter.yml
Due: none

ci: Clean Dart pub cache too
  .github/workflows/flutter.yml
Due: none

build: Try to rebuild Podfile
  ios/Podfile
  ios/Podfile.lock
  pubspec.lock
Due: Deploy Dogfood to Firebase

ci: Disable manual step
  .github/workflows/flutter.yml
Due: none

chore(deps): Bump versioning up even more to Flutter 3.35
  pubspec.lock
Due: Deploy Dogfood to Firebase

ci(debug): Debugging iOS build
  .github/workflows/flutter.yml
Due: none

build: Update iOS Podlock
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
Due: Deploy Dogfood to Firebase

ci(debug): Another attempt at finding pub cache
  .github/workflows/flutter.yml
  ios/Podfile
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

ci: Cleanup code
  .github/workflows/flutter.yml
  ios/Podfile
Due: Deploy Dogfood to Firebase

fix: Fixed AppCheck and Auth
  ios/Podfile.lock
  lib/main.dart
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

chore(data): Update banners for 6.2 P1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ballad_in_Goblets_2025-12-03.png
  public/images/Banners/Character/Rubedo_of_White_Stone_Born_2025-12-03.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-12-03.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Jahoda
  public/data/Characters-Anemo.json
  public/images/Characters/Anemo/Jahoda.png
  public/images/Constellation/Desperate_Gamble.png
  public/images/Constellation/One_More_Flask.png
  public/images/Constellation/Rogues_Quick_Thinking.png
  public/images/Constellation/The_Greatest_Treasure.png
  public/images/Constellation/The_Littlest_Luck.png
  public/images/Constellation/Wild_Berry_Amid_the_Dust.png
  public/images/Talents/Burst/Talent_Hidden_Aces_Seven_Tools_of_the_Hunter.png
  public/images/Talents/Normal/Bow_Anemo.png
  public/images/Talents/Passive/Talent_Backstreet_Guile.png
  public/images/Talents/Passive/Talent_Plan_to_Get_Paid.png
  public/images/Talents/Passive/Talent_Rooftop_Dash.png
  public/images/Talents/Passive/Talent_Sweet_Berry_Bounty.png
  public/images/Talents/Skill/Talent_Savvy_Strategy_Splitting_the_Spoils.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Durin and necessary materials
  public/data/Characters-Pyro.json
  public/data/Materials-Boss_Drops.json
  public/data/Outfits-Alternate.json
  public/data/Outfits-Standard.json
  public/images/Characters/Pyro/Durin.png
  public/images/Constellation/Adamahs_Redemption.png
  public/images/Constellation/Dual_Birth.png
  public/images/Constellation/Emanares_Source.png
  public/images/Constellation/Flame_Mirrors_Revelation.png
  public/images/Constellation/Scouring_Flames_Sundering.png
  public/images/Constellation/Unground_Visions.png
  public/images/Materials/Boss_Drops/Item_Cyclic_Military_Kuuvahki_Core.png
  public/images/Outfits/Full/Standard/Character_Durin_Game.png
  public/images/Outfits/Thumbnail/Alternate/Item_Toward_the_Distant_Horizon.png
  public/images/Outfits/Wish/Alternate/Character_Durin_Toward_the_Distant_Horizon_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Durin_Full_Wish.png
  public/images/Talents/Burst/Talent_Principle_of_Purity_As_the_Light_Shifts.png
  public/images/Talents/Normal/Sword_Pyro.png
  public/images/Talents/Passive/Talent_Chaos_Formed_Like_the_Night.png
  public/images/Talents/Passive/Talent_Echoes_of_the_Surging_Earth.png
  public/images/Talents/Passive/Talent_Light_Manifest_of_the_Divine_Calculus.png
  public/images/Talents/Passive/Talent_Ode_to_Ascension.png
  public/images/Talents/Skill/Talent_Binary_Form_Convergence_and_Division.png
  public/templates/misc.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated text for all characters affected by Witch Homework questline
  public/data/Characters-Anemo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/images/Talents/Passive/Talent_Book_of_Blinding_Light.png
  public/images/Talents/Passive/Talent_Genesis_of_Starsigns.png
  public/images/Talents/Passive/Talent_Phantasmal_Nocturne.png
  public/images/Talents/Passive/Talent_Sevenfold_Transmutation.png
  public/images/Talents/Passive/Talent_Sparkborne_Magic.png
  public/images/Talents/Passive/Talent_Surge_of_Lightning.png
  public/images/Talents/Passive/Talent_Temporal_Winds_Eulogy.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Luna 2 weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Weapon_The_Daybreak_Chronicles.png
  public/images/Weapons/Sword/Weapon_Athame_Artis.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed images
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Weapon_Rainbow_Serpents_Rain_Bow.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fixed release version
  public/data/Outfits-Alternate.json
Due: Update Firestore Public Data

chore(data): Update fix
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

chore(data): Fixed quotes
  public/data/Materials-Boss_Drops.json
Due: Update Firestore Public Data

chore(deps): Dependency updates
  pubspec.lock
Due: Deploy Dogfood to Firebase

feat: Implemented placeholder for character data that does not exists
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

build: Bump Android build versions
  android/app/build.gradle.kts
Due: Deploy Dogfood to Firebase

fix: Fixed colors for reaction texts
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

chore: Remove flag that will not happen
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

fix: Text overflow issues
  lib/widgets/characters.dart
  pubspec.lock
Due: Deploy Dogfood to Firebase

fix: Do the same for talent and weapon mats
  lib/widgets/characters.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

fix: App icons on Android
  android/app/src/main/res/drawable-hdpi/ic_launcher_monochrome.png
  android/app/src/main/res/drawable-mdpi/ic_launcher_monochrome.png
  android/app/src/main/res/drawable-xhdpi/ic_launcher_monochrome.png
  android/app/src/main/res/drawable-xxhdpi/ic_launcher_monochrome.png
  android/app/src/main/res/drawable-xxxhdpi/ic_launcher_monochrome.png
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_custom.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_custom.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_custom.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  pubspec.yaml
  web/favicon.png
  web/icons/Icon-192.png
  web/icons/Icon-512.png
  web/icons/Icon-maskable-192.png
  web/icons/Icon-maskable-512.png
Due: Deploy Dogfood to Firebase

ci: npm uses ci with scripts ignored now
  .github/workflows/cron.yml
  .github/workflows/firebase-update.yml
Due: none

feat: Rewrite tracking handling to implement increment decrement counter on tap hold
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

chore: Remove unnecessary references
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

refactor: Handle some lint issues
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

feat: Refactored for Global tracker as well
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase

refactor: Clean up and moved some code around
  lib/widgets/globaltracking.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

feat: Tweaked increment and decrement speeds
  lib/widgets/globaltracking.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

refactor: Moved common code to mixin
  lib/mixins/tracker_increment_decrement_mixin.dart
  lib/widgets/globaltracking.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

refactor: Fixed issues
  lib/mixins/tracker_increment_decrement_mixin.dart
Due: Deploy Dogfood to Firebase

chore: Bump iOS Dependencies
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

refactor: const
  lib/widgets/globaltracking.dart
Due: Deploy Dogfood to Firebase
