Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Update Kaedahara Kazuha to release state (#152)
  public/data/Characters-Anemo.json
  public/images/Characters/Anemo/Kazuha.png
  public/images/Constellation/Crimson_Momiji.png
  public/images/Constellation/Maple_Monogatari.png
  public/images/Constellation/Oozora_Genpou.png
  public/images/Constellation/Scarlet_Hills.png
  public/images/Constellation/Wisdom_of_Bansei.png
  public/images/Constellation/Yamaarashi_Tailwind.png
  public/images/Talents/Burst/Talent_Kazuha_Slash.png
  public/images/Talents/Normal/Talent_Garyuu_Bladework.png
  public/images/Talents/Passive/Talent_Cloud_Strider.png
  public/images/Talents/Passive/Talent_Poetics_of_Fuubutsu.png
  public/images/Talents/Passive/Talent_Soumon_Swordsmanship.png
  public/images/Talents/Skill/Talent_Chihayaburu.png
  public/unreleasedchar.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Fixed Kazuha's Introduction
  public/data/Characters-Anemo.json
Due: Update Firestore Public Data

Updated data for Kamisato Ayaka (#159)
  public/images/Talents/Burst/Talent_Kamisato_Art_Soumetsu.png
  public/images/Talents/Normal/Talent_Kamisato_Art_Naname.png
  public/images/Talents/Passive/Talent_Kamisato_Art_Senho.png
  public/images/Talents/Skill/Talent_Kamisato_Art_Hyouka.png
  public/unreleasedchar.json
Due: Update Google Cloud Storage Data

Update Yoimiya's unreleased data (#159)
  public/unreleasedchar.json
Due: none

Updated Sayu;s unreleased data (#159)
  public/unreleasedchar.json
Due: none

Added all upcoming weapons in 2.0 to unreleased state (#159)
  public/images/Weapons/Bow/Hamayumi.png
  public/images/Weapons/Bow/Thundering_Pulse.png
  public/images/Weapons/Catalyst/Hakushin_Ring.png
  public/images/Weapons/Claymore/Katsuragikiri_Nagamasa.png
  public/images/Weapons/Polearm/Kitain_Cross_Spear.png
  public/images/Weapons/Sword/Amenoma_Kageuchi.png
  public/images/Weapons/Sword/Mistsplitter_Reforged.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data

Added all upcoming item names to be referenced with (#159)
  public/upcomingitemnames.txt
Due: none

Added Traveler (Electro) to unreleased characters (#159)
  public/unreleasedchar.json
Due: none

Moved characters to released state (#159)
  public/data/Characters-Cryo.json
  public/data/Characters-Traveler.json
  public/unreleasedchar.json
Due: Update Firestore Public Data

Add unreleased weapons to released state (#159)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Added all of the upcoming materials into the relevant section of the dataset (#159)
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Mastery_Domain.json
  public/upcomingitemnames.txt
Due: Update Firestore Public Data

Updated Kamisato Ayaka's Data to final (#159)
  public/data/Characters-Cryo.json
  public/images/Characters/Cryo/Ayaka.png
  public/images/Characters/Cryo/Kamisato_Ayaka.png
  public/images/Constellation/Blizzard_Blade_Seki_no_To.png
  public/images/Constellation/Blossom_Cloud_Irutsuki.png
  public/images/Constellation/Dance_of_Suigetsu.png
  public/images/Constellation/Ebb_and_Flow.png
  public/images/Constellation/Frostbloom_Kamifubuki.png
  public/images/Constellation/Snowswept_Sakura.png
  public/images/Talents/Burst/Talent_Kamisato_Art_Soumetsu.png
  public/images/Talents/Normal/Talent_Kamisato_Art_Kabuki.png
  public/images/Talents/Passive/Talent_Amatsumi_Kunitsumi_Sanctification.png
  public/images/Talents/Passive/Talent_Fruits_of_Shinsa.png
  public/images/Talents/Passive/Talent_Kamisato_Art_Senho.png
  public/images/Talents/Passive/Talent_Kanten_Senmyou_Blessing.png
  public/images/Talents/Skill/Talent_Kamisato_Art_Hyouka.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added materials used for Kamisato Ayaka (#159)
  public/data/Materials-Common_Mob.json
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Common_Mob/Item_Famed_Handguard.png
  public/images/Materials/Common_Mob/Item_Kageuchi_Handguard.png
  public/images/Materials/Common_Mob/Item_Old_Handguard.png
  public/images/Materials/Local_Specialities/Item_Sakura_Bloom.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added most of what we can add for Electro Traveler (#159)
  public/data/Characters-Traveler.json
  public/images/Talents/Burst/Talent_Bellowing_Thunder.png
  public/images/Talents/Normal/Talent_Foreign_Thundershock.png
  public/images/Talents/Skill/Talent_Lightning_Blade.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Mastery Domain Materials Data (#159)
  public/data/Materials-Mastery_Domain.json
  public/images/Materials/Mastery_Domain/Item_Guide_to_Elegance.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Light.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Transience.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Elegance.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Light.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Transience.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Elegance.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Light.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Transience.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated all weapons data to current dataset (#159)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/Hamayumi.png
  public/images/Weapons/Catalyst/Hakushin_Ring.png
  public/images/Weapons/Claymore/Katsuragikiri_Nagamasa.png
  public/images/Weapons/Polearm/Kitain_Cross_Spear.png
  public/images/Weapons/Sword/Amenoma_Kageuchi.png
  public/images/Weapons/Sword/Mistsplitter_Reforged.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Ayaka and Electro Traveler's dataset to final (#159)
  public/data/Characters-Cryo.json
  public/data/Characters-Traveler.json
  public/images/Constellation/Clamor_in_the_Wilds.png
  public/images/Constellation/Distant_Crackling.png
  public/images/Constellation/Fickle_Cloudstrike.png
  public/images/Constellation/Spring_Thunder_of_Fertility.png
  public/images/Constellation/Violet_Vehemence.png
  public/images/Constellation/World-Shaker.png
  public/images/Talents/Passive/Talent_Resounding_Roar.png
  public/images/Talents/Passive/Talent_Thunderflash.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Local Specialities (#159)
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Local_Specialities/Item_Crystal_Marrow.png
  public/images/Materials/Local_Specialities/Item_Naku_Weed.png
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update Boss Drops Items (#159)
  public/data/Materials-Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Perpetual_Heart.png
  public/images/Materials/Boss_Drops/Item_Smoldering_Pearl.png
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

More descriptive local specialities (#159)
  public/data/Materials-Local_Specialities.json
Due: Update Firestore Public Data

Added Common and Elite Mob Drops (#159)
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/images/Materials/Elite_Mob/Item_Chaos_Axis.png
  public/images/Materials/Elite_Mob/Item_Chaos_Gear.png
  public/images/Materials/Elite_Mob/Item_Chaos_Oculus.png
  public/images/Materials/Elite_Mob/Item_Crystal_Prism.png
  public/images/Materials/Elite_Mob/Item_Dismal_Prism.png
  public/images/Materials/Elite_Mob/Item_Polarizing_Prism.png
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add Forgery Domain Materials (#159)
  public/data/Materials-Forgery_Domain.json
  public/images/Materials/Forgery_Domain/Item_Coral_Branch_of_a_Distant_Sea.png
  public/images/Materials/Forgery_Domain/Item_Golden_Branch_of_a_Distant_Sea.png
  public/images/Materials/Forgery_Domain/Item_Jade_Branch_of_a_Distant_Sea.png
  public/images/Materials/Forgery_Domain/Item_Jeweled_Branch_of_a_Distant_Sea.png
  public/images/Materials/Forgery_Domain/Item_Mask_of_the_Kijin.png
  public/images/Materials/Forgery_Domain/Item_Mask_of_the_One-Horned.png
  public/images/Materials/Forgery_Domain/Item_Mask_of_the_Tigers_Bite.png
  public/images/Materials/Forgery_Domain/Item_Mask_of_the_Wicked_Lieutenant.png
  public/images/Materials/Forgery_Domain/Item_Narukamis_Affection.png
  public/images/Materials/Forgery_Domain/Item_Narukamis_Joy.png
  public/images/Materials/Forgery_Domain/Item_Narukamis_Valor.png
  public/images/Materials/Forgery_Domain/Item_Narukamis_Wisdom.png
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Cleaned up dataset (#159)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Revert "Cleaned up dataset (#159)"
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Fixed series (#159)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Update some of Yoimiya and Sayu data in prep for thier release
  public/images/Characters/Anemo/Sayu.png
  public/images/Characters/Pyro/Yoimiya.png
  public/images/Constellation/A_Procession_of_Bonfires.png
  public/images/Constellation/A_Summer_Festivals_Eve.png
  public/images/Constellation/Agate_Ryuukin.png
  public/images/Constellation/Naganohara_Meteor_Swarm.png
  public/images/Constellation/Pyrotechnic_Professional.png
  public/images/Constellation/Tricksters_Flare.png
  public/images/Talents/Burst/Talent_Ryuukin_Saxifrage.png
  public/images/Talents/Normal/Talent_Firework_Flare-Up.png
  public/images/Talents/Passive/Talent_Blazing_Match.png
  public/images/Talents/Passive/Talent_Summer_Nights_Dawn.png
  public/images/Talents/Passive/Talent_Tricks_of_the_Trouble-Maker.png
  public/images/Talents/Skill/Talent_Niwabi_Fire-Dance.png
  public/unreleasedchar.json
Due: Update Google Cloud Storage Data

Add Predator to unreleased list (#163)
  public/images/Weapons/Bow/Predator.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data

Added 2.1 and other announced characters (#163)
  public/images/Characters/Cryo/Aloy.png
  public/images/Characters/Electro/Baal.png
  public/images/Characters/Electro/Kujou_Sara.png
  public/images/Characters/Electro/Yae_Miko.png
  public/images/Characters/Geo/Gorou.png
  public/images/Characters/Hydro/Sangonomiya_Kokomi.png
  public/images/Characters/Pyro/Thoma.png
  public/unreleasedchar.json
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data

Added 2 more local specialities that currently already existed in 2.0 (#159)
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Local_Specialities/Item_Dendrobium.png
  public/images/Materials/Local_Specialities/Item_Onikabuto.png
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Moved Yoimiya, Sayu and Thundering Pulse to released (#159)
  public/data/Characters-Anemo.json
  public/data/Characters-Pyro.json
  public/data/Weapons-Bow.json
  public/unreleasedchar.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Updated data for Sayu (#159)
  public/data/Characters-Anemo.json
Due: Update Firestore Public Data

Updated Yoimiya to near final data (#159)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Updated Thundering Pulse data (#159)
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Thundering_Pulse.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated prior weapons (#159)
  public/data/Weapons-Bow.json
Due: Update Firestore Public Data

Updated Sayu and Yoimiya's remaining data (#159)
  public/data/Characters-Anemo.json
  public/data/Characters-Pyro.json
  public/images/Constellation/Egress_Prep.png
  public/images/Constellation/Eh_the_Bunshin_Can_Handle_It.png
  public/images/Constellation/Multi-Task_no_Jutsu.png
  public/images/Constellation/Skiving_New_and_Improved.png
  public/images/Constellation/Sleep_OClock.png
  public/images/Constellation/Speed_Comes_First.png
  public/images/Talents/Burst/Talent_Yoohoo_Art_Mujina_Flurry.png
  public/images/Talents/Normal/Talent_Shuumatsuban_Ninja_Blade.png
  public/images/Talents/Passive/Talent_No_Work_Today.png
  public/images/Talents/Passive/Talent_Someone_More_Capable.png
  public/images/Talents/Passive/Talent_Yoohoo_Art_Silencers_Secret.png
  public/images/Talents/Skill/Talent_Yoohoo_Art_Fuuin_Dash.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated data for Thundering Pulse (#159)
  public/images/Weapons/Bow/Thundering_Pulse.png
Due: Update Google Cloud Storage Data

Update Android dependencies and compile against Java 11
  android/app/build.gradle
  android/build.gradle
Due: Deploy Dogfood to Firebase

Create a navigation drawer that can be used and added some of the existing options into the menu (#128)
  analysis_options.yaml
  lib/util.dart
  lib/widgets/bottomnav.dart
  lib/widgets/drawer.dart
Due: Deploy Dogfood to Firebase

Added loading screen and drawers for some pages (#128)
  lib/util.dart
  lib/widgets/drawer.dart
  lib/widgets/parametric.dart
  lib/widgets/promocode.dart
Due: Deploy Dogfood to Firebase

Switched to a fixed navigation drawer header (#128)
  lib/widgets/drawer.dart
Due: Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
