Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Update splashscreen (#187)
  android/app/src/main/AndroidManifest.xml
  web/index.html
  web/splash/style.css
Due: Deploy Dogfood to Firebase

2.1.5 app release
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Add cupertino_icons package to remove warnings on it
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

hotfix: Fixed Google signin
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

hotfix: Fix usage of accent color in tabs
  lib/widgets/mainnavs.dart
Due: Deploy Dogfood to Firebase

2.1.6 hotfix update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Update gitpod
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

Update dependencies
  util/package-lock.json
Due: Update Firestore Public Data

Fixed accent color being wrong (#188)
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Update gitpod
  .gitpod.yml
Due: none

Attempt fix for this with config changes in Firebase (#189)
  firebase/firebase.json
Due: Deploy Firebase Security Rules

Echo not cat
  .gitpod.yml
Due: none

Update to the latest version for Firebase
  .gitlab-ci.yml
  util/restore.js
Due: Update Firestore Public Data

Try specific instead
  firebase/firebase.json
Due: Deploy Firebase Security Rules

Hmm still not working (#189)
  firebase/firebase.json
Due: Deploy Firebase Security Rules

Should not be ignoring. Instead we are going for rewrite ignoring (#189)
  firebase/firebase.json
Due: Deploy Firebase Security Rules

Moved unreleased weapons to prod list (#194)
  public/data/Characters-Electro.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/unreleasedchar.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Try with a current directory filename (#189)
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Try another way of overwriting
  firebase/firebase.json
Due: Deploy Firebase Security Rules

Added the templates (#194)
  public/data/Characters-Traveler.json
  public/templates/characters.json
  public/templates/materials.json
  public/templates/weapons.json
  public/unreleasedchar.json
  public/unreleasedweapons.json
  public/upcomingitemnames.txt
Due: Update Firestore Public Data

Generify Weapon template (#194)
  public/templates/weapons.json
Due: none

Generify Materials template (#194)
  public/templates/materials.json
Due: none

Generify Character Template (#194)
  public/templates/characters.json
Due: none

Revert "Try with a current directory filename (#189)"
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Standardize indentation (#194)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/templates/characters.json
Due: Update Firestore Public Data

Revert "Revert "Try with a current directory filename (#189)""
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Revert "Revert "Revert "Try with a current directory filename (#189)"""
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Add a footnote for the login sequence (#189)
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

Forgot to generify skills
  public/templates/characters.json
Due: none

Improvement to Character and Material Templates
  public/templates/characters.json
  public/templates/materials.json
Due: none

Set max stat to null as well
  public/templates/weapons.json
Due: none

Added basic information about the upcoming items (#191)
  public/data/Characters-Cryo.json
  public/data/Characters-Geo.json
  public/data/Materials-Boss_Drops.json
  public/data/Weapons-Polearm.json
Due: Update Firestore Public Data

Added Yun Jin's Information (#191)
  public/data/Characters-Geo.json
  public/images/Characters/Geo/Yun_Jin.png
  public/images/Constellation/Decorous_Harmony.png
  public/images/Constellation/Famed_Throughout_the_Land.png
  public/images/Constellation/Flower_and_a_Fighter.png
  public/images/Constellation/Myriad_Mise-En-Scene.png
  public/images/Constellation/Seafaring_General.png
  public/images/Constellation/Thespian_Gallop.png
  public/images/Talents/Burst/Talent_Cliffbreakers_Banner.png
  public/images/Talents/Normal/Talent_Cloud-Grazing_Strike.png
  public/images/Talents/Passive/Talent_Breaking_Conventions.png
  public/images/Talents/Passive/Talent_Light_Nourishment.png
  public/images/Talents/Passive/Talent_True_to_Oneself.png
  public/images/Talents/Skill/Talent_Opening_Flourish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Shenhe's Information (#191)
  public/data/Characters-Cryo.json
  public/images/Characters/Cryo/Shenhe.png
  public/images/Constellation/Centered_Spirit.png
  public/images/Constellation/Clarity_of_Heart.png
  public/images/Constellation/Divine_Attainment.png
  public/images/Constellation/Insight.png
  public/images/Constellation/Mystical_Abandon.png
  public/images/Constellation/Seclusion.png
  public/images/Talents/Burst/Talent_Divine_Maidens_Deliverance.png
  public/images/Talents/Normal/Talent_Dawnstar_Piercer.png
  public/images/Talents/Passive/Talent_Deific_Embrace.png
  public/images/Talents/Passive/Talent_Precise_Comings_and_Goings.png
  public/images/Talents/Passive/Talent_Spirit_Communion_Seal.png
  public/images/Talents/Skill/Talent_Spring_Spirit_Summoning.png
  public/rename_cons.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Dragonheir's False Fin Information (#191)
  public/data/Materials-Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Dragonheirs_False_Fin.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Calamity Queller (#191)
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/Calamity_Queller.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add a preliminary event banner JSON
  .gitlab-ci.yml
  public/data/EventBanners.json
Due: Update Firestore Public Data

Write script to process banners (#192)
  public/data/EventBanners.json
  util/banner.js
  util/package.json
Due: Update Firestore Public Data

Start work on Weapon Banner (#192)
  public/data/EventBanners.json
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2020-09-28.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2020-10-20.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2020-11-11.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2020-12-01.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2020-12-23.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-01-12.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-02-03.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-02-23.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-03-17.jpg
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-04-06.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-04-28.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-05-18.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-06-09.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-06-29.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-07-21.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-08-10.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-09-01.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-09-21.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-10-13.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-11-02.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-11-24.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2021-12-14.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2022-01-05.png
  public/images/Banners/Weapon/Wish_Epitome_Invocation_2022-01-25.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added images to the other temp banners
  public/data/EventBanners.json
  public/images/Banners/Character/Wish_The_Transcendent_One_Returns_2022-01-05.png
  public/images/Banners/Standard/Wish_Beginners_Wish.jpg
  public/images/Banners/Standard/Wish_Wanderlust_Invocation_2020-11-11.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data
