Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

chore(data): Added 4.4 Phase 1 Banners
  public/data/EventBanners.json
  public/images/Banners/The_Crane_Soars_Skyward_2024-01-31.png
  public/images/Banners/The_Moongrass_Enlightenment_2024-01-31.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-01-31.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Fixed image location
  public/images/Banners/Character/The_Crane_Soars_Skyward_2024-01-31.png
  public/images/Banners/Character/The_Moongrass_Enlightenment_2024-01-31.png
Due: Update Google Cloud Storage Data

chore(data): Added Xianyun
  public/data/Characters-Anemo.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Local_Specialities.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Xianyun.png
  public/images/Constellation/Aloof_From_the_World.png
  public/images/Constellation/Astride_Rose-Colored_Clouds.png
  public/images/Constellation/Creations_of_Star_and_Moon.png
  public/images/Constellation/Mystery_Millet_Gourmet.png
  public/images/Constellation/Purifying_Wind.png
  public/images/Constellation/They_Call_Her_Cloud_Retainer.png
  public/images/Materials/Boss_Drops/Item_Cloudseam_Scale.png
  public/images/Materials/Local_Specialities/Item_Clearwater_Jade.png
  public/images/Outfits/Full/Standard/Character_Xianyun_Game.png
  public/images/Outfits/Wish/Standard/Character_Xianyun_Full_Wish.png
  public/images/Talents/Burst/Talent_Stars_Gather_at_Dusk.png
  public/images/Talents/Passive/Talent_Consider_the_Adeptus_in_Her_Realm.png
  public/images/Talents/Passive/Talent_Crane_Form.png
  public/images/Talents/Passive/Talent_Galefeather_Pursuit.png
  public/images/Talents/Skill/Talent_White_Clouds_at_Dawn.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Gaming
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Pyro/Gaming.png
  public/images/Constellation/Awakening_Spirit.png
  public/images/Constellation/Bringer_of_Blessing.png
  public/images/Constellation/Evil-Daunting_Roar.png
  public/images/Constellation/Plum_Blossoms_Underfoot.png
  public/images/Constellation/Soar_Across_Mountains.png
  public/images/Constellation/To_Tame_All_Beasts.png
  public/images/Outfits/Full/Standard/Character_Gaming_Game.png
  public/images/Outfits/Wish/Standard/Character_Gaming_Full_Wish.png
  public/images/Talents/Burst/Talent_Suannis_Gilded_Dance.png
  public/images/Talents/Passive/Talent_Air_of_Prosperity.png
  public/images/Talents/Passive/Talent_Dance_of_Amity.png
  public/images/Talents/Passive/Talent_The_Striding_Beast.png
  public/images/Talents/Skill/Talent_Bestial_Ascent.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Crane's Echoing Call Weapon
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Catalyst.json
  public/images/Materials/Elite_Mob/Item_Chasmlight_Fin.png
  public/images/Materials/Elite_Mob/Item_Feathery_Fin.png
  public/images/Materials/Elite_Mob/Item_Lunar_Fin.png
  public/images/Weapons/Catalyst/Weapon_Cranes_Echoing_Call.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added new Thematic Outfits from 4.4
  public/data/Characters-Cryo.json
  public/data/Characters-Hydro.json
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Themed/Outfit_Frostflower_Dew_Game.png
  public/images/Outfits/Full/Themed/Outfit_Twilight_Blossom_Game.png
  public/images/Outfits/Thumbnail/Themed/Item_Frostflower_Dew.png
  public/images/Outfits/Thumbnail/Themed/Item_Twilight_Blossom.png
  public/images/Outfits/Wish/Themed/Frostflower_Dew_Preview.png
  public/images/Outfits/Wish/Themed/Twilight_Blossom_Preview.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Phase 2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Everbloom_Violet_2024-02-20.png
  public/images/Banners/Character/Invitation_to_Mundane_Life_2024-02-20.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-02-20.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

ci: Add app size checks for iOS and Android
  .github/workflows/flutter.yml
Due: none

ci: Upload code size analysis JSON files
  .github/workflows/flutter.yml
Due: none

ci: Add debug to appdistribution
  .github/workflows/flutter.yml
Due: none

chore(data): Updated Event Banners for 4.5 Phase 1
  public/data/EventBanners.json
  public/images/Banners/Character/Of_Silken_Clouds_Woven_2024-03-13.png
  public/images/Banners/Character/Onis_Royale_2024-03-13.png
  public/images/Banners/Chronicled/Ode_to_the_Dawn_Breeze_2024-03-13.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-03-13.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Chiori data
  public/data/Characters-Geo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Geo/Chiori.png
  public/images/Constellation/A_Tailors_Three_Courtesies.png
  public/images/Constellation/Four_Brocade_Embellishments.png
  public/images/Constellation/In_Five_Colors_Dyed.png
  public/images/Constellation/Six_Paths_of_Sage_Silkcraft.png
  public/images/Constellation/Sole_Principle_Pursuit.png
  public/images/Constellation/Two_Silken_Plumules.png
  public/images/Outfits/Character_Chiori_Full_Wish.png
  public/images/Outfits/Character_Chiori_Game.png
  public/images/Talents/Burst/Talent_Hiyoku_Twin_Blades.png
  public/images/Talents/Normal/Sword_Geo.png
  public/images/Talents/Passive/Talent_Brocaded_Collars_Beauteous_Silhouette.png
  public/images/Talents/Passive/Talent_Tailor-Made.png
  public/images/Talents/Passive/Talent_The_Finishing_Touch.png
  public/images/Talents/Skill/Talent_Fluttering_Hasode.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added new weapons from 4.5
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Polearm/Weapon_Dialogues_of_the_Desert_Sages.png
  public/images/Weapons/Sword/Weapon_Uraku_Misugiri.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Bamboo Rain Also fixed some data
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Standard/Character_Chiori_Game.png
  public/images/Outfits/Full/Themed/Outfit_Bamboo_Rain_Game.png
  public/images/Outfits/Thumbnail/Themed/Item_Bamboo_Rain.png
  public/images/Outfits/Wish/Standard/Character_Chiori_Full_Wish.png
  public/images/Outfits/Wish/Themed/Character_Xingqiu_Bamboo_Rain_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Set to released mode
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore: Added Chronicled Wishes to be parsed
  util/banner.js
Due: Update Firestore Public Data

chore: Chronicled Banners should not be character
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore: Fixed arrangement in Chronicled Wishes
  public/data/EventBanners.json
Due: Update Firestore Public Data

feat: Exposed all rate up items in Chronicled Wishes
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

feat: Added Chronicled Wish Tab (#1298)
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

release: Version 3.0.8
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

ci: Fixed printf formatting
  .github/workflows/release.yml
Due: none

fix: Update deprecated code
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

ci: Switch to use ARM based MacOS runners
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

chore(data): Added Chiori path
  public/data/Characters-Geo.json
Due: Update Firestore Public Data

ci: Replaced usage of legacy CI_PIPELINE_IID That env variable was a legacy variable from the GitLab era and has since been properly replaced and retired
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
  ciscripts/get_version.sh
Due: none

chore(data): Added 4.5 P2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Decree_of_the_Deeps_2024-04-02.png
  public/images/Banners/Character/Leaves_in_the_Wind_2024-04-02.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-04-02.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 3D Models for characters List of characters found in #1280
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore(data): Added new 4.6 materials
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Denial_and_Judgment.png
  public/images/Materials/Boss_Drops/Item_Fading_Candle.png
  public/images/Materials/Boss_Drops/Item_Fragment_of_a_Golden_Melody.png
  public/images/Materials/Boss_Drops/Item_Silken_Feather.png
  public/images/Materials/Elite_Mob/Item_Ruined_Hilt.png
  public/images/Materials/Elite_Mob/Item_Splintered_Hilt.png
  public/images/Materials/Elite_Mob/Item_Still-Smoldering_Hilt.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 4.6 Phase 1 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Conjuring_Chiaroscuro_2024-04-24.png
  public/images/Banners/Character/The_Hearths_Ashen_Shadow_2024-04-24.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-04-24.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 4.6 new character and weapons
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/data/Weapons-Polearm.json
  public/images/Characters/Pyro/Arlecchino.png
  public/images/Constellation/All_Reprisals_and_Arrears_Mine_to_Bear.png
  public/images/Constellation/All_Rewards_and_Retribution_Mine_to_Bestow.png
  public/images/Constellation/For_Alone_We_Are_as_Good_as_Dead.png
  public/images/Constellation/From_This_Day_On_We_Shall_Delight_in_New_Life_Together.png
  public/images/Constellation/You_Shall_Become_a_New_Member_of_Our_Family.png
  public/images/Constellation/You_Shall_Love_and_Protect_Each_Other_Henceforth.png
  public/images/Outfits/Full/Standard/Character_Arlecchino_Game.png
  public/images/Outfits/Wish/Standard/Character_Arlecchino_Full_Wish.png
  public/images/Talents/Burst/Talent_Balemoon_Rising.png
  public/images/Talents/Passive/Talent_Agony_Alone_May_Be_Repaid.png
  public/images/Talents/Passive/Talent_Strength_Alone_Can_Defend.png
  public/images/Talents/Passive/Talent_The_Balemoon_Alone_May_Know.png
  public/images/Talents/Skill/Talent_All_Is_Ash.png
  public/images/Weapons/Polearm/Weapon_Crimson_Moons_Semblance.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Fixed wrong data updated
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

chore(data): Added 4.6 Phase 2 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/From_Ashes_Reborn_2024-05-14.png
  public/images/Banners/Character/Immaculate_Pulse_2024-05-14.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-05-14.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix: Upgrade Notification Library to remove permissions
  android/app/src/main/AndroidManifest.xml
  lib/helpers/notifications.dart
  lib/widgets/appsettings.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

release: 3.0.9 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

chore(deps): Updated most dependencies
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

chore(deps): Update all Firebase packages
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

feat!: Bump Android Min SDK to 24
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

chore(deps): Upgraded all transient dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Downgraded cached_network_image to resolve web issues
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
