Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

Fixed image url for Aloy (#171)
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

Updated data for Raiden Shogun and Kuhou Sara (#171)
  public/data/Characters-Electro.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Characters/Electro/Baal.png
  public/images/Characters/Electro/Kujou_Sara.png
  public/images/Characters/Electro/Raiden_Shogun.png
  public/images/Constellation/Conclusive_Proof.png
  public/images/Constellation/Crows_Eye.png
  public/images/Constellation/Dark_Wings.png
  public/images/Constellation/Ominous_Inscription.png
  public/images/Constellation/Pledge_of_Propriety.png
  public/images/Constellation/Shinkage_Bygones.png
  public/images/Constellation/Shoguns_Descent.png
  public/images/Constellation/Sin_of_Pride.png
  public/images/Constellation/Spellsinger.png
  public/images/Constellation/Steelbreaker.png
  public/images/Constellation/The_War_Within.png
  public/images/Constellation/Wishbearer.png
  public/images/Talents/Burst/Talent_Secret_Art_Musou_Shinsetsu.png
  public/images/Talents/Burst/Talent_Subjugation_Koukou_Sendou.png
  public/images/Talents/Normal/Talent_Origin.png
  public/images/Talents/Normal/Talent_Tengu_Bowmanship.png
  public/images/Talents/Passive/Talent_All-Preserver.png
  public/images/Talents/Passive/Talent_Decorum.png
  public/images/Talents/Passive/Talent_Enlightened_One.png
  public/images/Talents/Passive/Talent_Immovable_Will.png
  public/images/Talents/Passive/Talent_Land_Survey.png
  public/images/Talents/Passive/Talent_Wishes_Unnumbered.png
  public/images/Talents/Skill/Talent_Tengu_Stormcall.png
  public/images/Talents/Skill/Talent_Transcendence_Baleful_Omen.png
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Engulfing Lightning and Predator to final values (#171)
  public/data/Weapons-Bow.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/Engulfing_Lightning.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated data of all items that are related to 2.1 (#171)
  public/data/Characters-Electro.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Ashen_Heart.png
  public/images/Materials/Boss_Drops/Item_Dew_of_Repudiation.png
  public/images/Materials/Boss_Drops/Item_Hellfire_Butterfly.png
  public/images/Materials/Boss_Drops/Item_Molten_Moment.png
  public/images/Materials/Boss_Drops/Item_Storm_Beads.png
  public/images/Materials/Common_Mob/Item_Spectral_Heart.png
  public/images/Materials/Common_Mob/Item_Spectral_Husk.png
  public/images/Materials/Common_Mob/Item_Spectral_Nucleus.png
  public/images/Materials/Local_Specialities/Item_Amakumo_Fruit.png
  public/images/Materials/Local_Specialities/Item_Sango_Pearl.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated the catch to released as well (#171)
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/The_Catch.png
  public/unreleasedweapons.json
  public/upcomingitemnames.txt
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Hellfire Flames is a boss drop. Not a event drop
  public/data/Materials-Weekly_Boss_Drops.json
Due: Update Firestore Public Data

Added support for crossover characters (#172)
  lib/helpers/grid.dart
  lib/models/characterdata.dart
  lib/models/commondata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Remove materials from week planner when done (#173)
  gradle.properties
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Add Beelzebul to Ei's names as well
  public/data/Characters-Electro.json
Due: Update Firestore Public Data

2.1.0 App Update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Only released data will be shown (#175)
  lib/helpers/grid.dart
  lib/widgets/characters.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Added option to sort completed tracking items to the bottom (#174)
  lib/widgets/appsettings.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

2.1.1 App update
  .gitpod.yml
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Updated Aloy's path
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

Moved Sangonomiya Kokomi to the released state (#171)
  public/data/Characters-Hydro.json
  public/images/Talents/Burst/Talent_Nereids_Ascension.png
  public/images/Talents/Skill/Talent_Kurages_Oath.png
  public/unreleasedchar.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Moved Everlasting Moonglow to released state (#171)
  public/data/Weapons-Catalyst.json
  public/unreleasedweapons.json
Due: Update Firestore Public Data

Update kokomi data (#171)
  public/data/Characters-Hydro.json
  public/images/Characters/Hydro/Sangonomiya_Kokomi.png
  public/images/Constellation/All_Streams_Flow_to_the_Sea.png
  public/images/Constellation/At_Waters_Edge.png
  public/images/Constellation/Sango_Isshin.png
  public/images/Constellation/The_Clouds_Like_Waves_Rippling.png
  public/images/Constellation/The_Moon_A_Ship_Oer_the_Seas.png
  public/images/Constellation/The_Moon_Overlooks_the_Waters.png
  public/images/Talents/Burst/Talent_Nereids_Ascension.png
  public/images/Talents/Normal/Talent_The_Shape_of_Water.png
  public/images/Talents/Passive/Talent_Flawless_Strategy.png
  public/images/Talents/Passive/Talent_Princess_of_Watatsumi.png
  public/images/Talents/Passive/Talent_Song_of_Pearls.png
  public/images/Talents/Passive/Talent_Tamanooyas_Casket.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated data for Everlasting Moonglow (#171)
  public/data/Weapons-Catalyst.json
  public/images/Weapons/Catalyst/Everlasting_Moonglow.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated to display full name instead (#171)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
Due: Update Firestore Public Data

Fixed Kurage's Oath image (#171)
  public/images/Talents/Skill/Talent_Kurages_Oath.png
Due: Update Google Cloud Storage Data

Updated Luxurious Sea-Lord and set the data to publicly released (#171)
  public/data/Weapons-Claymore.json
  public/images/Weapons/Claymore/Luxurious_Sea-Lord.png
  public/unreleasedweapons.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Fixed indentation
  public/unreleasedweapons.json
Due: none

Fixed issue with node-fetch updating to 3.0 and breaking
  util/package-lock.json
  util/promocrawler.js
Due: Update Firestore Public Data

Fixed gitpod yaml
  .gitpod.yml
Due: none

Added Polar Star and the required materials to released state (#180)
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Bow.json
  public/images/Materials/Elite_Mob/Item_Concealed_Claw.png
  public/images/Materials/Elite_Mob/Item_Concealed_Talon.png
  public/images/Materials/Elite_Mob/Item_Concealed_Unguis.png
  public/images/Weapons/Bow/Polar_Star.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Akuoumaru (#180)
  public/data/Weapons-Bow.json
  public/data/Weapons-Claymore.json
  public/images/Weapons/Claymore/Akuoumaru.png
  pubspec.lock
Due: Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Added Paimon.Moe Path Links shell (#178)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/unreleasedchar.json
Due: Update Firestore Public Data

Add paths for all released characters (#178)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

Fixed admin app not initialized
  util/index.js
  util/restore.js
Due: Update Firestore Public Data

Downgrade firebase back to v9.12
  util/package-lock.json
  util/package.json
  util/restore.js
Due: Update Firestore Public Data

Added Thoma and Fluorescent Fungus (#180)
  public/data/Characters-Pyro.json
  public/data/Materials-Local_Specialities.json
  public/images/Characters/Pyro/Thoma.png
  public/images/Constellation/A_Comrades_Duty.png
  public/images/Constellation/A_Subordinates_Skills.png
  public/images/Constellation/Burning_Heart.png
  public/images/Constellation/Fortified_Resolve.png
  public/images/Constellation/Long-Term_Planning.png
  public/images/Constellation/Raging_Wildfire.png
  public/images/Materials/Local_Specialities/Item_Fluorescent_Fungus.png
  public/images/Talents/Burst/Talent_Crimson_Ooyoroi.png
  public/images/Talents/Normal/Talent_Swiftshatter_Spear.png
  public/images/Talents/Passive/Talent_Flaming_Assault.png
  public/images/Talents/Passive/Talent_Imbricated_Armor.png
  public/images/Talents/Passive/Talent_Snap_and_Swing.png
  public/images/Talents/Skill/Talent_Blazing_Blessing.png
  public/unreleasedchar.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add wavebreaker's Fin (#180)
  public/data/Weapons-Polearm.json
  public/images/Weapons/Polearm/Wavebreakers_Fin.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Mouun's Moon (#180)
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Mouun_Moon.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Data fixes (#181)
  public/data/Characters-Pyro.json
  public/data/Weapons-Bow.json
Due: Update Firestore Public Data

Add a version update template
  .gitlab/issue_templates/Version Update Template.md
Due: none

Update Version Update Template.md
  .gitlab/issue_templates/Version Update Template.md
Due: none

Update Version Update Template.md to add more labels
  .gitlab/issue_templates/Version Update Template.md
Due: none

Updated settings page to add a new selector for build guide source (#179)
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

Implemented ability to view build guides and info from paimon.moe (#179)
  lib/models/characterdata.dart
  lib/util.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Code Quality Changes
  lib/main.dart
  lib/models/promocodedata.dart
  lib/widgets/login.dart
  lib/widgets/promocode.dart
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
