Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

chore(data): Added the 2 new weapons of 5.4
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Catalyst/Weapon_Sunny_Morning_Sleep-In.png
  public/images/Weapons/Polearm/Weapon_Tamayuratei_no_Ohanashi.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.4 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Dawns_Drifting_Reverie_2025-02-12.png
  public/images/Banners/Character/Romaritime_Meluserenity_2025-02-12.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-02-12.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Update file
  Reference/Icon_Designer.xcf
Due: none

chore: Sync outfits as well
  lib/widgets/tracking.dart
Due: Deploy Dogfood to Firebase

refactor: Dart fix
  lib/util.dart
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

chore(deps): Update dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Update iOS Deps
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

fix: Constellations being scrambled on iOS
  lib/models/characterdata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

fix: Add Burgeon reaction color
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

feat: Started work on a rough count up implementation
  ios/Podfile.lock
  lib/helpers/grid.dart
  lib/widgets/characters.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

refactor: Implemented in a common way
  lib/helpers/grid.dart
  lib/widgets/characters.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

chore(data): Add 5.4 Phase 2 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Chanson_of_Many_Waters_2025-03-04.png
  public/images/Banners/Character/Tempestuous_Destiny_2025-03-04.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-03-04.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Iansan and Varesa
  public/data/Characters-Electro.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Local_Specialities.json
  public/data/Outfits-Standard.json
  public/images/Characters/Electro/Iansan.png
  public/images/Characters/Electro/Varesa.png
  public/images/Constellation/A_Hero_of_Justices_Triumph.png
  public/images/Constellation/Beyond_the_Edge_of_Light.png
  public/images/Constellation/Laziness_is_the_Enemy.png
  public/images/Constellation/Scientific_Diet_Planning.png
  public/images/Constellation/Slow_and_Steady_Wins_the_Race.png
  public/images/Constellation/Startings_Never_Easy.png
  public/images/Constellation/Teachings_of_the_Collective_of_Plenty.png
  public/images/Constellation/The_Courage_to_Press_On.png
  public/images/Constellation/Thoughts_Floating_on_the_Warm_Breeze.png
  public/images/Constellation/Unbowed_Resolve.png
  public/images/Constellation/Undying_Passion.png
  public/images/Constellation/We_Can_Push_It_Further.png
  public/images/Materials/Boss_Drops/Item_Sparkless_Statue_Core.png
  public/images/Materials/Local_Specialities/Item_Dracolite.png
  public/images/Materials/Local_Specialities/Item_Skysplit_Gembloom.png
  public/images/Outfits/Full/Standard/Character_Iansan_Game.png
  public/images/Outfits/Full/Standard/Character_Varesa_Game.png
  public/images/Outfits/Wish/Standard/Character_Iansan_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Varesa_Full_Wish.png
  public/images/Talents/Burst/Talent_Guardian_Vent.png
  public/images/Talents/Burst/Talent_The_Three_Principles_of_Power.png
  public/images/Talents/Normal/Catalyst_Electro.png
  public/images/Talents/Passive/Talent_A_Torch_That_Incinerates_Evil.png
  public/images/Talents/Passive/Talent_Blazing_Heart_Singular_Advance.png
  public/images/Talents/Passive/Talent_Caloric_Balancing_Plan.png
  public/images/Talents/Passive/Talent_Enhanced_Resistance_Training.png
  public/images/Talents/Passive/Talent_Hard_Work_and_Drive.png
  public/images/Talents/Passive/Talent_Kinetic_Energy_Gradient_Test.png
  public/images/Talents/Passive/Talent_Tag-Team_Triple_Jump.png
  public/images/Talents/Passive/Talent_The_Hero_Twice-Returned.png
  public/images/Talents/Skill/Talent_Riding_the_Night-Rainbow.png
  public/images/Talents/Skill/Talent_Thunderbolt_Rush.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added new Catalyst
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Catalyst.json
  public/images/Materials/Elite_Mob/Item_Blazing_Prismshell.png
  public/images/Materials/Elite_Mob/Item_Cold-Cracked_Shellshard.png
  public/images/Materials/Elite_Mob/Item_Warm_Back-Shell.png
  public/images/Weapons/Catalyst/Weapon_Vivid_Notions.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Update 5.5 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ballad_in_Goblets_2025-04-15.png
  public/images/Banners/Character/Cornucopia_of_Contention_2025-03-26.png
  public/images/Banners/Character/Forgefires_Blessing_2025-04-15.png
  public/images/Banners/Character/The_Crane_Soars_Skyward_2025-03-26.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-03-26.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-04-15.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Fix thumbnail
  public/data/Outfits-Standard.json
Due: Update Firestore Public Data

chore(data): Added new materials from 5.6
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/images/Materials/Boss_Drops/Item_Ascended_Sample_Knight.png
  public/images/Materials/Boss_Drops/Item_Ascended_Sample_Queen.png
  public/images/Materials/Boss_Drops/Item_Ascended_Sample_Rook.png
  public/images/Materials/Boss_Drops/Item_Secret_Source_Airflow_Accumulator.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.6 Weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Bow/Weapon_Sequence_of_Solitude.png
  public/images/Weapons/Polearm/Weapon_Symphonist_of_Scents.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.6 Characters
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Ifa.png
  public/images/Characters/Cryo/Escoffier.png
  public/images/Constellation/Decayed_Vessels_Permutation.png
  public/images/Constellation/Fresh_Fragrant_Stew_Is_an_Art.png
  public/images/Constellation/Guiding_Spirit_of_Ballistic_Prayer.png
  public/images/Constellation/Oath_on_a_Feathered_Knot.png
  public/images/Constellation/Pre-Dinner_Dance_for_Your_Taste_Buds.png
  public/images/Constellation/Rebuttal_in_Negotiations_With_the_Night.png
  public/images/Constellation/Secret_Rosemary_Recipe.png
  public/images/Constellation/Symphony_of_a_Thousand_Sauces.png
  public/images/Constellation/Tea_Parties_Bursting_With_Color.png
  public/images/Constellation/The_Bakery_Magic_of_Caramel_Browning.png
  public/images/Constellation/Vitiferous_Elixirs_Concoction.png
  public/images/Constellation/Vow_of_Universal_Coexistence.png
  public/images/Outfits/Full/Standard/Character_Ifa_Game.png
  public/images/Outfits/Wish/Standard/Character_Escoffier_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Ifa_Full_Wish.png
  public/images/Talents/Burst/Talent_Compound_Sedation_Field.png
  public/images/Talents/Burst/Talent_Scoring_Cuts.png
  public/images/Talents/Passive/Talent_Better_to_Salivate_Than_Medicate.png
  public/images/Talents/Passive/Talent_Constant_Off-the-Cuff_Cookery.png
  public/images/Talents/Passive/Talent_Field_Medics_Vision.png
  public/images/Talents/Passive/Talent_Focused_Emergency_Rescue.png
  public/images/Talents/Passive/Talent_Inspiration-Immersed_Seasoning.png
  public/images/Talents/Passive/Talent_Mutual_Aid_Agreement.png
  public/images/Talents/Passive/Talent_Tactical_Warm_Compress_Bandaging.png
  public/images/Talents/Skill/Talent_Airborne_Disease_Prevention.png
  public/images/Talents/Skill/Talent_Low-Temperature_Cooking.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.6 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/In_the_Name_of_the_Rosula_2025-05-07.png
  public/images/Banners/Character/La_Chanson_Cerise_2025-05-07.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-05-07.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated rest of 5.6 data
  public/data/EventBanners.json
  public/images/Banners/Character/Reign_of_Serenity_2025-05-27.png
  public/images/Banners/Character/Seeker_of_Flame-Wrought_Secrets_2025-05-27.png
  public/images/Banners/Chronicled/Thunder_Rends_the_Plains_on_High_2025-05-27.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-05-27.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Removed hidden unicode character
  public/data/EventBanners.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
Due: Update Firestore Public Data

release: 4.0.4 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

chore(data): Added 5.7 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/The_Transcendent_One_Returns_2025-06-18.png
  public/images/Banners/Character/Void_Stars_Advent_2025-06-18.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-06-18.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.7 Weapons
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Weapon_Azurelight.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.7 character data
  public/data/Characters-Cryo.json
  public/data/Characters-Hydro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Cryo/Skirk.png
  public/images/Characters/Hydro/Dahlia.png
  public/images/Constellation/Collect_of_the_Assembly.png
  public/images/Constellation/End_of_Wishes.png
  public/images/Constellation/Far_to_Fall.png
  public/images/Constellation/Fractured_Flow.png
  public/images/Constellation/Infallible_Procession.png
  public/images/Constellation/Into_the_Abyss.png
  public/images/Constellation/Let_It_Be_Subtly_So.png
  public/images/Constellation/Revelation_of_Mercy.png
  public/images/Constellation/Serendipitous_Sin.png
  public/images/Constellation/To_the_Source.png
  public/images/Constellation/Windblume_Offertory.png
  public/images/Constellation/You_Shall_Go_Out_With_Joy.png
  public/images/Outfits/Full/Standard/Character_Dahlia_Game.png
  public/images/Outfits/Full/Standard/Character_Skirk_Game.png
  public/images/Outfits/Wish/Standard/Character_Dahlia_Full_Wish.png
  public/images/Outfits/Wish/Standard/Character_Skirk_Full_Wish.png
  public/images/Talents/Burst/Talent_Havoc_Ruin.png
  public/images/Talents/Burst/Talent_Radiant_Psalter.png
  public/images/Talents/Passive/Talent_Mutual_Weapons_Mentorship.png
  public/images/Talents/Passive/Talent_Pilgrimage_Upon_Returning_Winds.png
  public/images/Talents/Passive/Talent_Prayer_of_Well-Wrought_Joy.png
  public/images/Talents/Passive/Talent_Reason_Beyond_Reason.png
  public/images/Talents/Passive/Talent_Return_to_Oblivion.png
  public/images/Talents/Passive/Talent_The_Winds_Gentle_Grace.png
  public/images/Talents/Skill/Talent_Havoc_Warp.png
  public/images/Talents/Skill/Talent_Immersive_Ordinance.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 3D Models for certain characters
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore(data): Added remaining 5.7 banners
  public/data/EventBanners.json
  public/images/Banners/Character/Ambrosial_Essence_2025-07-08.png
  public/images/Banners/Character/Ancient_Flame_Ablaze_2025-07-08.png
  public/images/Banners/Weapon/Epitome_Invocation_2025-07-08.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

feat: Bump Flutter to 3.32.8
  ios/Flutter/ephemeral/flutter_lldb_helper.py
  ios/Flutter/ephemeral/flutter_lldbinit
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

build: Upgraded all Android gradle files to KTS files
  android/app/build.gradle
  android/app/build.gradle.kts
  android/build.gradle
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  android/settings.gradle.kts
Due: Deploy Dogfood to Firebase

fix: Added some safe areas to prevent UI clicking issues
  lib/widgets/appsettings.dart
  lib/widgets/parametric.dart
Due: Deploy Dogfood to Firebase

chore(deps): Bump dependencies and fix deprecations
  lib/widgets/parametric.dart
  lib/widgets/wishbanners.dart
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): update transitive dependencies
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(ios): Upgrade ios dependencies
  ios/Podfile.lock
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: Deploy Dogfood to Firebase

docs: Update README with badges
  README.md
Due: none

release: 4.1.0 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

build: Fixed version number
  VERSION
Due: Deploy Dogfood to Firebase

chore(docs): Added new outfits and Ineffa
  public/data/Characters-Electro.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/data/Outfits-Themed.json
  public/images/Constellation/A_Dawning_Morn_for_You.png
  public/images/Constellation/Enhanced_Emotion_Emulator.png
  public/images/Constellation/Mirrors_Dream_Transcension.png
  public/images/Constellation/Rectifying_Processor.png
  public/images/Constellation/Support_Cleaning_Module.png
  public/images/Constellation/The_Edictless_Path.png
  public/images/Outfits/Thumbnail/Themed/Item_Adventures_in_Blazing_Hue.png
  public/images/Outfits/Thumbnail/Themed/Item_Tranquil_Banquet.png
  public/images/Outfits/Wish/Standard/Character_Ineffa_Full_Wish.png
  public/images/Outfits/Wish/Themed/Character_Bennett_Adventures_in_Blazing_Hue_Full_Wish.png
  public/images/Outfits/Wish/Themed/Character_Yelan_Tranquil_Banquet_Full_Wish.png
  public/images/Talents/Burst/Talent_Supreme_Instruction_Cyclonic_Exterminator.png
  public/images/Talents/Normal/Polearm_Electro.png
  public/images/Talents/Passive/Talent_Assemblage_Hub.png
  public/images/Talents/Passive/Talent_Flavor_Synthesis_Unit.png
  public/images/Talents/Passive/Talent_Overclocking_Circuit.png
  public/images/Talents/Passive/Talent_Panoramic_Permutation_Protocol.png
  public/images/Talents/Skill/Talent_Cleaning_Mode_Carrier_Frequency.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 5.8 new weapons
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/images/Weapons/Claymore/Weapon_Flame-Forged_Insight.png
  public/images/Weapons/Polearm/Weapon_Fractured_Halo.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data
