Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Deploy Firebase Security Rules:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only storage
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:rules
  needs: []

Deploy Firebase Firestore Indexes:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  before_script:
  - cd firebase
  script:
  - firebase --token $FIREBASE_TOKEN deploy --only firestore:indexes --force
  needs: []

Update Google Cloud Storage Data:
  image: gcr.io/google.com/cloudsdktool/cloud-sdk:alpine
  stage: deploy
  before_script:
  - cat $GCP_SVC_USER > gcloud-key.json
  - gcloud auth activate-service-account --key-file gcloud-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - cd public/images
  script:
  ...

Update Firestore Public Data:
  image: node:alpine
  stage: deploy
  before_script:
  - mkdir util/import
  - cp public/data/*.json util/import
  - cat $FIREBASE_SERVICE_ACCOUNT > util/serviceAccountKey.json
  - cd util
  - npm i
  script: npm start
  dependencies:
  - Build and Test Admin Util
  needs:
  - Build and Test Admin Util

Deploy Dogfood to Firebase:
  image: itachi1706/docker-firebase-cli:latest
  stage: deploy
  variables:
    APP_TYPE: dogfood
  before_script:
  - echo $CI_COMMIT_MESSAGE > release-dogfood.txt
  - builddate="$(date +"%A, %d %B %Y %T %Z")"
  - printf "\nRelease Notes\n" >> release-dogfood.txt
  - cat LATEST >> release-dogfood.txt
  ...

chore(data): Added initial data on Furina
  public/data/Characters-Hydro.json
  public/data/Materials-Local_Specialities.json
Due: Update Firestore Public Data

chore(data): Added Charlotte data inital
  public/data/Characters-Cryo.json
Due: Update Firestore Public Data

chore(data): Added new weapon
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Weapon_Splendor_of_Tranquil_Waters.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(docs): Update local specialities
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Local_Specialities/Item_Lakelight_Lily.png
  public/images/Materials/Local_Specialities/Item_Spring_of_the_First_Dewdrop.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added new sword
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Weapon_Splendor_of_Tranquil_Waters.png
  public/images/Weapons/Sword/Weapon_Sword_of_Narzissenkreuz_Pneuma.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added for neuvilette (#1190)
  public/data/Characters-Hydro.json
Due: Update Firestore Public Data

fix(data): Fixed Charlotte's Data
  public/data/Outfits-Standard.json
Due: Update Firestore Public Data

chore(data): Add phase 2 banners for 4.2
  public/data/EventBanners.json
  public/images/Banners/Character/Azure_Excursion_2023-11-28.png
  public/images/Banners/Character/Twilight_Arbiter_2023-11-28.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-11-28.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

ci: Pin flutter version to last known stable version before 3.16.x
  .github/workflows/codeql-analysis.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-staging.yml
  .github/workflows/flutter.yml
  .github/workflows/release.yml
Due: none

chore(data): Added various 4.2 data (#1224)
  public/data/Characters-Cryo.json
  public/data/Characters-Hydro.json
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Charlotte_Game.png
  public/images/Outfits/Full/Standard/Character_Furina_Game_Ousia.png
  public/images/Outfits/Full/Standard/Character_Furina_Game_Pneuma.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix: Allow download of up to 10MB file for Firebase images (#1239)
  lib/helpers/grid.dart
Due: Deploy Dogfood to Firebase

build(release): 3.0.7 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

ci: Hardcode flutter version
  .github/workflows/release.yml
Due: none

chore(data): Added new material mode to character templates
  public/templates/characters.json
Due: none

chore(data): Added new material method for weapon templates
  public/templates/weapons.json
Due: none

chore(data): Added basic templates to all existing characters (WIP)
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

refactor(data): Format character data JSON
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

chore(data): Added new material definition to existing weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

refactor(data): Formatted weapon JSON
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

chore(data): Added all Forgery Domain information to existing weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

chore(data): Added Elite Mob Drops for existing weapons
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

chore(data): Added Common Mob drops to existing weapons This commit will make existing weapons now fully compatible with new material retrieval methods
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

chore(data): Updated Traveler's Materials Traveler is the unique one annoyingly enough
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

chore(data): Updated existing characters to use new materials map
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

ci: Use printf instead of echo
  .github/workflows/release.yml
Due: none

chore(data): Added 4.3 Phase 1 banners
  public/data/EventBanners.json
  public/images/Banners/Character/In_the_Name_of_the_Rosula_2023-12-20.png
  public/images/Banners/Character/The_Herons_Court_2023-12-20.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-12-20.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Charlotte
  public/data/EventBanners.json
Due: Update Firestore Public Data

chore(data): Added Navia data
  public/data/Characters-Geo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Geo/Navia.png
  public/images/Characters/Pyro/Chevreuse.png
  public/images/Constellation/A_Ladys_Rules_for_Keeping_a_Courteous_Distance.png
  public/images/Constellation/Businesswomans_Broad_Vision.png
  public/images/Constellation/Negotiators_Resolute_Negotiations.png
  public/images/Constellation/The_Flexible_Finesse_of_the_Spinas_President.png
  public/images/Constellation/The_Oathsworn_Never_Capitulate.png
  public/images/Constellation/The_Presidents_Pursuit_of_Victory.png
  public/images/Outfits/Full/Standard/Character_Navia_Game.png
  public/images/Outfits/Wish/Standard/Navia_Wish.png
  public/images/Talents/Burst/Talent_As_the_Sunlit_Skys_Singing_Salute.png
  public/images/Talents/Normal/Claymore_Geo.png
  public/images/Talents/Passive/Talent_Mutual_Assistance_Network.png
  public/images/Talents/Passive/Talent_Painstaking_Transaction.png
  public/images/Talents/Passive/Talent_Undisclosed_Distribution_Channels.png
  public/images/Talents/Skill/Talent_Ceremonial_Crystalshot.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Verdict data
  public/data/Characters-Geo.json
  public/data/Weapons-Claymore.json
  public/images/Weapons/Claymore/Weapon_Verdict.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Added hoyowiki data shell
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/data/Materials-Common_Mob.json
  public/data/Materials-Elite_Mob.json
  public/data/Materials-Forgery_Domain.json
  public/data/Materials-Local_Specialities.json
  public/data/Materials-Mastery_Domain.json
  public/data/Materials-Weekly_Boss_Drops.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/templates/characters.json
  public/templates/materials.json
  public/templates/weapons.json
Due: Update Firestore Public Data

chore(data): Added event weapon stats
  public/data/Weapons-Claymore.json
  public/images/Weapons/Claymore/Weapon_Ultimate_Overlords_Mega_Magic_Sword.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Added hoyowiki data for each character
  public/data/Characters-Anemo.json
  public/data/Characters-Cryo.json
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Geo.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

chore(data): Added 4.3 Phase 2 Banners
  public/data/EventBanners.json
  public/images/Banners/Character/Reign_of_Serenity_2024-01-09.png
  public/images/Banners/Character/Tapestry_of_Golden_Flames_2024-01-09.png
  public/images/Banners/Weapon/Epitome_Invocation_2024-01-09.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Chevreuse
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/images/Constellation/Enhanced_Incendiary_Firepower.png
  public/images/Constellation/In_Pursuit_of_Ending_Evil.png
  public/images/Constellation/Practiced_Field_Stripping_Technique.png
  public/images/Constellation/Sniper_Induced_Explosion.png
  public/images/Constellation/Stable_Front_Lines_Resolve.png
  public/images/Constellation/The_Secret_to_Rapid-Fire_Multishots.png
  public/images/Talents/Burst/Talent_Ring_of_Bursting_Grenades.png
  public/images/Talents/Normal/Polearm_Pyro.png
  public/images/Talents/Passive/Talent_Double_Time_March.png
  public/images/Talents/Passive/Talent_Vanguards_Coordinated_Tactics.png
  public/images/Talents/Passive/Talent_Vertical_Force_Coordination.png
  public/images/Talents/Skill/Talent_Short-Range_Rapid_Interdiction_Fire.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix: Resolve issue where deleting does not work
  util/backupTracker.js
  util/backupUserData.js
  util/backupWepAndChar.js
  util/restore.js
  util/restoreTemplate.js
Due: Update Firestore Public Data

ci: Update to use Node.JS 20
  .github/workflows/firebase-update.yml
Due: none

fix: Removed "firebase-functions-test" package until it supports firebase 12
  firebase/functions/package-lock.json
  firebase/functions/package.json
Due: Deploy Firebase Security Rules

chore(data): Added Chevreuse and Navia's Outfit and 3D Model data
  public/data/Outfits-Standard.json
  public/images/Outfits/Full/Standard/Character_Chevreuse_Game.png
  public/images/Outfits/Wish/Standard/Character_Chevreuse_Full_Wish.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Updated Chevreuse data (#1255)
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*
