Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Add check for release notes before releasing to GPlay (#200)
  .gitlab-ci.yml
  ciscripts/check_length.sh
Due: none

Added Heizou Data Preliminary (#213)
  public/data/Characters-Anemo.json
  public/images/Talents/Catalyst_Anemo.png
  public/images/Talents/Talent_Heartstopper_Strike.png
  public/images/Talents/Talent_Windmuster_Kick.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Cursed Blade data (#213)
  public/data/Weapons-Sword.json
  public/images/Characters/Anemo/Shikanoin_Heizou.png
  public/images/Weapons/Sword/Cursed_Blade.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Add Rate Up Banners (#213)
  public/data/EventBanners.json
  public/images/Banners/Character/Leaves_in_the_Wind_2022-07-13.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-07-13.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Fixed banner for Klee
  public/data/EventBanners.json
  public/images/Banners/Character/Sparkling_Steps_2022-07-13.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Heizou Data and set to released (#213)
  public/data/Characters-Anemo.json
  public/data/Characters-Electro.json
  public/images/Characters/Anemo/Shikanoin_Heizou.png
  public/images/Constellation/Curious_Casefiles.png
  public/images/Constellation/Esoteric_Puzzle_Book.png
  public/images/Constellation/Investigative_Collection.png
  public/images/Constellation/Named_Juvenile_Casebook.png
  public/images/Constellation/Secret_Archive.png
  public/images/Constellation/Tome_of_Lies.png
  public/images/Talents/Burst/Talent_Windmuster_Kick.png
  public/images/Talents/Normal/Catalyst_Anemo.png
  public/images/Talents/Passive/Talent_Paradoxical_Practice.png
  public/images/Talents/Passive/Talent_Penetrative_Reasoning.png
  public/images/Talents/Skill/Talent_Heartstopper_Strike.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Updated Kagotsurube Isshin (Previously known as Cursed Blade)
  public/data/Weapons-Sword.json
  public/images/Weapons/Sword/Cursed_Blade.png
  public/images/Weapons/Sword/Kagotsurube_Isshin.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Moved its location (#213)
  public/data/Weapons-Sword.json
Due: Update Firestore Public Data

Migrated Issue Templates from GitLab
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/triage.md
  .github/ISSUE_TEMPLATE/version-update-template.md
Due: none

Delete redundant template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update iOS dependencies
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/Info.plist
Due: Deploy Dogfood to Firebase

Update iOS build to enable it to run
  ios/Flutter/AppFrameworkInfo.plist
  ios/Podfile
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
Due: Deploy Dogfood to Firebase

Add Firebase Hosting Branches automatically
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Fix sed command for macos by allowing portable execution
  ciscripts/get_version.sh
Due: none

Add some debug code
  .github/workflows/flutter.yml
Due: none

Revert "Test the following steps"
  firebase/database.rules.json
  firebase/firestore.indexes.json
  firebase/firestore.rules
  firebase/storage.rules
Due: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes

Update the way to check for file changes
  .github/workflows/firebase-update.yml
Due: none

Test actions
  public/data/EventBanners.json
Due: Update Firestore Public Data

Add a dart code metrics for analysis
  .github/workflows/dartcodemetrics.yml
Due: none

Resolved issue with dubious ownership in Git
  .github/workflows/flutter.yml
Due: none

Done with updating firebase data. Setting it back to master only
  .github/workflows/firebase-update.yml
Due: none

Finished up dart code metrics
  .github/workflows/dartcodemetrics.yml
Due: none

Update Cloud Storage ways
  .github/workflows/firebase-update.yml
Due: none

Update jobs to run
  .github/workflows/firebase-update.yml
Due: none

Update Flutter iOS to retrieve dependencies first
  .github/workflows/flutter.yml
Due: none

Test the following steps
  firebase/database.rules.json
  firebase/firestore.indexes.json
  firebase/firestore.rules
  firebase/storage.rules
Due: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes

Test not having the "true" check
  .github/workflows/firebase-update.yml
  public/data/Characters-Anemo.json
Due: Update Firestore Public Data

Remove quotes
  .github/workflows/firebase-update.yml
Due: none

Update to use b64 strings
  .github/workflows/flutter.yml
Due: none

Test following scripts
  public/data/Characters-Anemo.json
  public/data/EventBanners.json
Due: Update Firestore Public Data

Allow everything from public to run
  .github/workflows/firebase-update.yml
  public/images/Characters/Cryo/Test2.png
Due: Update Google Cloud Storage Data

Move environment variable upwards and bring back Short SHA
  .github/workflows/flutter.yml
Due: none

Ignore dispatch as well
  .github/workflows/firebase-update.yml
Due: none

Test Cloud Storage Trigger
  public/images/Characters/Cryo/Test.png
Due: Update Google Cloud Storage Data

Start work on the data update code
  .github/workflows/firebase-update.yml
Due: none

Update 2 new Github Actions (#379)
  .github/workflows/flutter.yml
  ciscripts/get_version.sh
Due: none

Cleanup unused code
  .github/workflows/firebase-update.yml
  public/images/Characters/Cryo/Test2.png
Due: Update Google Cloud Storage Data

Revert changes for force
  .github/workflows/firebase-update.yml
Due: none

Updated all firebase update tooling
  .github/workflows/firebase-update.yml
Due: none

Possibly caused by outputs?
  .github/workflows/firebase-update.yml
  public/data/EventBanners.json
Due: Update Firestore Public Data
