Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

feat: Target Android 12L (SDK 32)
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

feat: Upgrade to Android 13 (SDK 33)
  android/app/build.gradle
Due: Deploy Dogfood to Firebase

feat: Upgrade iOS pods
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
Due: Deploy Dogfood to Firebase

fix: Fixed iOS showing setting values as descriptions
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

docs: 3.0.0 release
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

docs: Disable changelog referencing issues
  .github/workflows/release.yml
Due: none

chore(data): Added 3.7 Phase 2 data
  public/data/EventBanners.json
  public/images/Banners/Character/Caution_in_Confidence_2023-06-13.png
  public/images/Banners/Character/Leaves_in_the_Wind_2023-06-13.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-06-13.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 3.8 Phase 1 event banners
  public/data/EventBanners.json
  public/images/Banners/Character/Born_of_Ocean_Swell_2023-07-05.png
  public/images/Banners/Character/Sparkling_Steps_2023-07-05.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-07-05.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added some of the new outfits for Klee and Kaeya
  public/data/Characters-Cryo.json
  public/data/Characters-Pyro.json
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore(deps): Ran flutterfire update
  pubspec.lock
Due: Deploy Dogfood to Firebase

chore(deps): Update iOS Dependencies
  ios/Podfile.lock
Due: Deploy Dogfood to Firebase

feat: Added an app check listener with debug info in settings
  lib/main.dart
  lib/widgets/appsettings.dart
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

chore(data): Added more information about outfits
  public/data/Outfits-Themed.json
  public/images/Outfits/Full/Themed/Outfit_Blossoming_Starlight_Game.png
  public/images/Outfits/Full/Themed/Outfit_Sailwind_Shadow_Game.png
  public/images/Outfits/Thumbnail/Themed/Item_Blossoming_Starlight.png
  public/images/Outfits/Thumbnail/Themed/Item_Sailwind_Shadow.png
  public/images/Outfits/Wish/Themed/Outfit_Blossoming_Starlight_Preview.png
  public/images/Outfits/Wish/Themed/Outfit_Sailwind_Shadow_Preview.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added 3D models for new summer outfits
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore: Trigger Firebase
  util/usage.js
Due: Update Firestore Public Data

chore: Update quotes
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

ci: Update glob pattern
  .github/workflows/firebase-update.yml
Due: none

ci: Trigger
  util/usage.js
Due: Update Firestore Public Data

docs: 3.0.1 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

fix: hotfix for web to init appcheck in main as well
  lib/main.dart
  lib/widgets/splash.dart
Due: Deploy Dogfood to Firebase

docs: 3.0.2 release
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

chore: Removed extra "w"
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

fix: Added a catch block for appcheck
  lib/main.dart
Due: Deploy Dogfood to Firebase

docs: 3.0.3 hotfix
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

chore: Move firebase app initialization to try-catch block
  lib/main.dart
Due: Deploy Dogfood to Firebase

docs: 3.0.5 update
  CHANGELOG.md
  VERSION
Due: Deploy Dogfood to Firebase

chore: Wish Image also had a extra "w"
  public/data/Outfits-Themed.json
Due: Update Firestore Public Data

chore(data): Update banners for 3.8 Phase 2 (#1107)
  public/data/EventBanners.json
  public/images/Banners/Character/Drifting_Luminescence_2023-07-25.png
  public/images/Banners/Character/From_Ashes_Reborn_2023-07-25.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-07-25.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

ci: Disable DCM as free version is sunsetted
  .github/workflows/dartcodemetrics.yml
Due: none

ci: Update SARIF changes
  .github/workflows/codeql-analysis.yml
Due: none

ci: Merge workflow to CodeQL Since they are well... CodeQL scans
  .github/workflows/codeql-analysis.yml
  .github/workflows/sca.yml
Due: none

ci: Replace dart_code_metrics CI job We are replacing it with with CodeQL analysis and static flutter analyze command
  .github/workflows/dartcodemetrics.yml
  .github/workflows/sca.yml
Due: none

chore(data): Added 4.0 Banners for Phase 1
  public/data/EventBanners.json
  public/images/Banners/Character/Conjuring_Chiaroscuro_2023-08-16.png
  public/images/Banners/Character/Discerner_of_Enigmas_2023-08-16.png
  public/images/Banners/Weapon/Epitome_Invocation_2023-08-16.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

fix(util): Fixed restore
  util/restore.js
Due: Update Firestore Public Data

chore(data): Added Lyney
  public/data/Characters-Dendro.json
  public/data/Characters-Pyro.json
  public/data/Outfits-Standard.json
  public/images/Characters/Pyro/Lyney.png
  public/images/Constellation/Guarded_Smile.png
  public/images/Constellation/Loquacious_Cajoling.png
  public/images/Constellation/Prestidigitation.png
  public/images/Constellation/To_Pierce_Enigmas.png
  public/images/Constellation/Well-Versed_Well-Rehearsed.png
  public/images/Constellation/Whimsical_Wonders.png
  public/images/Outfits/Full/Standard/Character_Lyney_Game.png
  public/images/Outfits/Wish/Standard/Character_Lyney_Full_Wish.png
  public/images/Talents/Burst/Talent_Wondrous_Trick_Miracle_Parade.png
  public/images/Talents/Normal/Bow_Pyro.png
  public/images/Talents/Passive/Talent_Conclusive_Ovation.png
  public/images/Talents/Passive/Talent_Perilous_Performance.png
  public/images/Talents/Passive/Talent_Trivial_Observations.png
  public/images/Talents/Skill/Talent_Bewildering_Lights.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add Lynette Data
  public/data/Characters-Anemo.json
  public/data/Outfits-Standard.json
  public/images/Characters/Anemo/Lynette.png
  public/images/Constellation/A_Cold_Blade_Like_a_Shadow.png
  public/images/Constellation/Cognition-Inverting_Gaze.png
  public/images/Constellation/Endless_Mysteries.png
  public/images/Constellation/Obscuring_Ambiguity.png
  public/images/Constellation/Tacit_Coordination.png
  public/images/Constellation/Watchful_Eye.png
  public/images/Outfits/Full/Standard/Lynette_Portrait.png
  public/images/Outfits/Wish/Standard/Lynette_Wish.png
  public/images/Talents/Burst/Talent_Magic_Trick_Astonishing_Shift.png
  public/images/Talents/Normal/Sword_Anemo.png
  public/images/Talents/Passive/Talent_Loci-Based_Mnemonics.png
  public/images/Talents/Passive/Talent_Props_Positively_Prepped.png
  public/images/Talents/Passive/Talent_Sophisticated_Synergy.png
  public/images/Talents/Skill/Talent_Enigmatic_Feint.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Added Hydro Traveler
  public/data/Characters-Traveler.json
  public/images/Constellation/Churning_Whirlpool.png
  public/images/Constellation/Pouring_Descent.png
  public/images/Constellation/Swelling_Lake.png
  public/images/Constellation/Tides_of_Justice.png
  public/images/Constellation/Trickling_Purity.png
  public/images/Constellation/Turbulent_Ripples.png
  public/images/Talents/Burst/Talent_Rising_Waters.png
  public/images/Talents/Passive/Talent_Clear_Waters.png
  public/images/Talents/Passive/Talent_Spotless_Waters.png
  public/images/Talents/Skill/Talent_Aquacrest_Saber.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore(data): Add 5-star weapon
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/The_First_Great_Magic.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

chore: Fixed code
  public/images/Materials/Boss_Drops/Item_Artificed_Spare_Clockwork_Component-Coppelius.png
  util/restoreTemplate.js
Due: Update Google Cloud Storage Data, Update Firestore Public Data
