Repository itachi1706/GI-Weekly-Material-Tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Deploy Firebase Security Rules, Deploy Firebase Firestore Indexes, Update Google Cloud Storage Data, Update Firestore Public Data, Deploy Dogfood to Firebase

Path conditions:
  Deploy Firebase Security Rules: any of: firebase/**/*
  Deploy Firebase Firestore Indexes: any of: firebase/firestore.indexes.json
  Update Google Cloud Storage Data: any of: public/images/**/*
  Update Firestore Public Data: any of: public/data/**/*, util/**/*
  Deploy Dogfood to Firebase: any of: android/**/*, assets/**/*, VERSION, fonts/**/*, integration_test/**/*, ios/**/*, lib/**/*, data/**/*, web/**/*, pubspec.*

Run CodeQL on push besides dependabot branches
  .github/workflows/codeql-analysis.yml
Due: none

Fixed linting issues
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Add write permission to firebase hosting PR
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

More perms for dependabot
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Update element icon image quality (#638)
  assets/images/elements/Element_Anemo.png
  assets/images/elements/Element_Anemo.svg
  assets/images/elements/Element_Cryo.png
  assets/images/elements/Element_Cryo.svg
  assets/images/elements/Element_Dendro.png
  assets/images/elements/Element_Dendro.svg
  assets/images/elements/Element_Electro.png
  assets/images/elements/Element_Electro.svg
  assets/images/elements/Element_Geo.png
  assets/images/elements/Element_Geo.svg
  assets/images/elements/Element_Hydro.png
  assets/images/elements/Element_Hydro.svg
  assets/images/elements/Element_Pyro.png
  assets/images/elements/Element_Pyro.svg
  lib/helpers/grid.dart
  lib/helpers/tracker.dart
  lib/widgets/characters.dart
  lib/widgets/globaltracking.dart
  lib/widgets/mainnavs.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Fix scheduler binding
  lib/widgets/login.dart
Due: Deploy Dogfood to Firebase

Fixed issue caused by an updated transparent image (#630)
  lib/helpers/grid.dart
  lib/util.dart
  lib/widgets/weapons.dart
  pubspec.lock
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Fixed positioning
  pubspec.yaml
Due: Deploy Dogfood to Firebase

Add dependency checks for Android
  .github/dependabot.yml
Due: none

Don't need it to appear twice
  .github/dependabot.yml
Due: none

Added permissions to allow dependabot to work on push
  .github/workflows/codeql-analysis.yml
Due: none

Fixed weapon banner soft pity being hardcoded (#608)
  lib/widgets/wishbanners.dart
Due: Deploy Dogfood to Firebase

Update Battle Chronicle Link (#649)
  lib/widgets/drawer.dart
Due: Deploy Dogfood to Firebase

Tapping version number in app settings now copies the version number to clipboard (#651)
  .github/ISSUE_TEMPLATE/bug-report.md
  lib/widgets/appsettings.dart
Due: Deploy Dogfood to Firebase

2.2.3 update
  CHANGELOG.md
  LATEST
  VERSION
Due: Deploy Dogfood to Firebase

Added templates for the Dendro Element (#377)
  public/templates/characters.json
Due: none

Added Collei (#377)
  public/data/Characters-Dendro.json
  public/images/Characters/Dendro/Collei.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Tighnari (#377)
  public/data/Characters-Dendro.json
  public/images/Characters/Dendro/Tighnari.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Dori (#377)
  public/data/Characters-Electro.json
  public/images/Characters/Electro/Dori.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added the rest of the drip marketed characters (#377)
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Characters-Hydro.json
  public/data/Characters-Pyro.json
Due: Update Firestore Public Data

Added new common drops (#377)
  public/data/Materials-Common_Mob.json
  public/images/Materials/Common_Mob/Item_Crystalline_Cyst_Dust.png
  public/images/Materials/Common_Mob/Item_Faded_Red_Satin.png
  public/images/Materials/Common_Mob/Item_Fungal_Spores.png
  public/images/Materials/Common_Mob/Item_Luminescent_Pollen.png
  public/images/Materials/Common_Mob/Item_Rich_Red_Brocade.png
  public/images/Materials/Common_Mob/Item_Trimmed_Red_Silk.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added local specialities (#377)
  public/data/Materials-Common_Mob.json
  public/data/Materials-Local_Specialities.json
  public/images/Materials/Local_Specialities/Item_Kalpalata_Lotus.png
  public/images/Materials/Local_Specialities/Item_Nilotpala_Lotus.png
  public/images/Materials/Local_Specialities/Item_Rukkhashava_Mushrooms.png
  public/templates/materials.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added uncommon drops (#377)
  public/data/Materials-Elite_Mob.json
  public/images/Materials/Elite_Mob/Item_Chaos_Bolt.png
  public/images/Materials/Elite_Mob/Item_Chaos_Module.png
  public/images/Materials/Elite_Mob/Item_Chaos_Storage.png
  public/images/Materials/Elite_Mob/Item_Dormant_Fungal_Nucleus.png
  public/images/Materials/Elite_Mob/Item_Inactivated_Fungal_Nucleus.png
  public/images/Materials/Elite_Mob/Item_Robust_Fungal_Nucleus.png
  public/templates/materials.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Dendro Traveler Info (#377)
  public/data/Characters-Traveler.json
Due: Update Firestore Public Data

Add bows (#377)
  public/data/Materials-Elite_Mob.json
  public/data/Weapons-Bow.json
  public/images/Weapons/Bow/Hunters_Path.png
  public/images/Weapons/Bow/Kings_Squire.png
  public/images/Weapons/Bow/Trawler.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added the remaining of the Sumeru weapons (#377)
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Catalyst/Fruit_of_Fulfillment.png
  public/images/Weapons/Claymore/Forest_Regalia.png
  public/images/Weapons/Polearm/Moonpiercer.png
  public/images/Weapons/Sword/Sapwood_Blade.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Forgot to add boss drops (#377)
  public/data/Materials-Boss_Drops.json
  public/data/Materials-Boss_Gems.json
  public/images/Materials/Boss_Drops/Item_Majestic_Hooked_Beak.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Chunk.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Fragment.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Gemstone.png
  public/images/Materials/Boss_Gems/Item_Nagadus_Emerald_Sliver.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Do a test data thrown out from template
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

Implemented defaults for Character (#655)
  lib/helpers/grid.dart
  lib/models/characterdata.dart
  lib/widgets/characters.dart
Due: Deploy Dogfood to Firebase

Implemented defaults for Weapons (#655)
  lib/helpers/grid.dart
  lib/models/weapondata.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

More template data
  public/data/Characters-Dendro.json
  public/data/Materials-Boss_Drops.json
  public/data/Weapons-Bow.json
Due: Update Firestore Public Data

Added various changes to handle null data (#655)
  lib/helpers/grid.dart
  lib/models/characterdata.dart
  lib/models/commondata.dart
  lib/models/materialdata.dart
  lib/models/weapondata.dart
  lib/widgets/characters.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Added a warning for unreleased item (#655)
  lib/helpers/grid.dart
  lib/widgets/characters.dart
  lib/widgets/materials.dart
  lib/widgets/weapons.dart
Due: Deploy Dogfood to Firebase

Remove templates
  public/data/Characters-Dendro.json
  public/data/Materials-Boss_Drops.json
  public/data/Weapons-Bow.json
Due: Update Firestore Public Data

Update full name for Nahida
  public/data/Characters-Dendro.json
Due: Update Firestore Public Data

Force specific users to run this check only
  .lift.toml
Due: none

Added Forgery Domain Items
  public/data/Materials-Forgery_Domain.json
  public/images/Materials/Forgery_Domain/Item_Copper_Talisman_of_the_Forest_Dew.png
  public/images/Materials/Forgery_Domain/Item_Dream_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Echo_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Golden_Talisman_of_the_Forest_Dew.png
  public/images/Materials/Forgery_Domain/Item_Iron_Talisman_of_the_Forest_Dew.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Kindness.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Mourning.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Reminiscence.png
  public/images/Materials/Forgery_Domain/Item_Oasis_Gardens_Truth.png
  public/images/Materials/Forgery_Domain/Item_Olden_Days_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Remnant_Glow_of_Scorching_Might.png
  public/images/Materials/Forgery_Domain/Item_Silver_Talisman_of_the_Forest_Dew.png
  public/templates/materials.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added Mastery Domain Materials
  public/data/Materials-Mastery_Domain.json
  public/images/Materials/Mastery_Domain/Item_Guide_to_Admonition.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Ingenuity.png
  public/images/Materials/Mastery_Domain/Item_Guide_to_Praxis.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Admonition.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Ingenuity.png
  public/images/Materials/Mastery_Domain/Item_Philosophies_of_Praxis.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Admonition.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Ingenuity.png
  public/images/Materials/Mastery_Domain/Item_Teachings_of_Praxis.png
  public/templates/materials.json
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Update characters/weapons with domain materials
  public/data/Characters-Dendro.json
  public/data/Characters-Electro.json
  public/data/Weapons-Bow.json
  public/data/Weapons-Catalyst.json
  public/data/Weapons-Claymore.json
  public/data/Weapons-Polearm.json
  public/data/Weapons-Sword.json
  public/images/Weapons/Bow/End_of_the_Line.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data

Added new banners
  public/data/EventBanners.json
  public/images/Banners/Character/Gentry_of_Hermitage_2022-08-24.png
  public/images/Banners/Character/Viridescent_Vigil_2022-08-24.png
  public/images/Banners/Weapon/Epitome_Invocation_2022-08-24.png
Due: Update Google Cloud Storage Data, Update Firestore Public Data
